<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src = "/public/js/asyncRequest.js" type = "text/javascript"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        * {
            font-family: "Roboto", sans-serif;
            box-sizing: border-box;
        }
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .background {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .barLeft {
            width: 250px;
            height: 100%;
            background-color: #262f3d;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-y: auto;
        }
        .bodyRight {
            /* width: calc(100% - 250px); */
            position: relative;
            flex-grow: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow: auto;
        }
        .bodyUpperSection {
            width: 100%;
            flex-grow: 0;
            background-color: rgb(3, 155, 229);
            margin: 0;
            padding: 0; 
            position: relative;
        }
        .bodyLowerSection {
            width: 100%;
            flex-grow: 1;   
            background-color: #f5f7f9;
        }
        .overPage {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        
        .barTitle {
            font-size: 27px;
            letter-spacing: 2px;
        }
        .barOptions {
            position: absolute;
            bottom: 0px;
            width: 100%;
            display: flex;
            flex-direction: row;
            padding-left: 50px;
        }
        .barOption {
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            font-weight: 600;
            padding: 0px 20px;
            cursor: pointer;
        }
        .barOptionSelected {
            text-decoration: underline;
        }
        .sideBarTitle {
            width: 100%;
            height: 140px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .headerLogo {
            width: 100%;
        }

        .sideBarTopic {
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid rgb(56, 70, 90);
            cursor: pointer;
        }
        .sideBarTopic:hover {
            background-color: rgb(56, 70, 90);
        }
        .sideBarMain {
            font-size: 18px;
            color: white;
            margin-bottom: 5px;
            letter-spacing: 0.5px;
        }
        .sideBarSecondary {
            font-size: 13px;
            color: #aaa;
        }
        .sideBarOverview {
            color: white;
            padding: 20px;
            border-top: 1px solid rgb(56, 70, 90);
            border-bottom: 1px solid rgb(56, 70, 90);
        }
        .sideBarOverview:hover {
            background-color: rgb(56, 70, 90);
            cursor: pointer;
        }
        .topBar {
            width: 100%;
            height: 50px;
            /* background-color: red; */
            color: rgba(255,255,255,0.6);
            padding: 10px 20px;
        }
        .secondaryBar {
            width: 100%;
            padding: 10px 20px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            color: white;
        }
        .tabsBar {
            width: 100%;
            padding: 10px 10px 0px 10px;
            display: flex;
            flex-direction: row;
            position: relative;
            overflow-x: auto;
        }
        .tabsBarSelect {
            width: 100%;
            height: 5px;
            background-color: white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            border-radius: 10px 10px 0px 0px;
        }
        .tabsBarTab {
            color: #eee;
            margin: 0px 40px;
            padding-bottom: 10px;
            cursor: pointer;
            position: relative;
        }
        .mainBody {
            width: 60%;
            height: 400px;
            background-color: white;
            margin: auto;
            border-radius: 10px;
            -webkit-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            -moz-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
        }
        .notAllowed {
            background-color:  #ddd !important;
            color: #aaa !important;
            cursor: not-allowed !important;
        }
        #errorPopDown {
            padding: 20px;
            background-color: rgb(241,80,79);
            font-size: 18px;
            color: white;
            border-radius: 10px;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            top: -100px;
            -webkit-box-shadow: -9px 10px 36px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: -9px 10px 36px 0px rgba(0,0,0,0.75);
            box-shadow: -9px 10px 36px 0px rgba(0,0,0,0.75);
            transition: top 0.2s ease-out
        }
        .errorDown {
            top: 100px !important;
            cursor: pointer;
        }
        .expandingcategorys {
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.2s linear;
        }
        .expandedLink {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            color: #aaa;
            font-size: 13px;
        }
        .expandedLink:hover {
            background-color: rgb(56, 70, 90);
        }
        .expandedTopic {
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid rgb(56, 70, 90);
            cursor: pointer;
        }
        .userHolder {
            width: 95%;
            max-width: 900px;
            margin: auto;
            margin-top: 50px;
            box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
            border-radius: 10px;
            background-color: #f5f5f5;
            overflow: hidden;
        }
        .bottomPadding {
            width: 100%;
            height: 60px;
            border-top: 1px solid #ccc;
        }
        .searchUsers {
            width: 100%;
            height: 70px;
            border-bottom: 1px solid #ccc;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .activeSearch {
            background-color: white;
            box-shadow: 0px 1px 2px 0px rgba(60,64,67,.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
            border-bottom: 0;
            z-index: 10;
        }
        .searchIcon {
            font-size: 17px;
            margin-left: 25px;
            color: #999;
        }
        .searchInput {
            flex-grow: 1;
            background-color: transparent;
            border: 0;
            outline: none;
            height: 100%;
            padding-left: 15px;
            font-size: 17px;
        }
        .searchInput::placeholder {
            font-weight: 300;
            color: #999;
        }
        .titleList {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 10px 15px;
            border-bottom: 1px solid #ccc;
        }
        .titleListItem {
            width: 33.333%;
            font-size: 13px;
            font-weight: 600; 
        }
        .listHolder {
            width: 100%;
            max-height: 250px;
            overflow-y: auto;
        }
        .userList {
            width: 100%;
            border-collapse: collapse;
        }
        .user {
            background-color: white;
            border-bottom: 1px solid #ccc;
        }
        .userProperty {
            width: 33.333%;
            font-size: 13px;
            font-weight: 500;
            padding: 10px 5px;
        }
        .username {
            font-size: 14px;
            margin-bottom: 5px;
        }
        .studentID {
            font-size: 12px;
            color: #999;
            font-weight: 300;
        }
        .editPermissions {
            margin-left: 5px;
            font-size: 10px;
        }
        .openSideBar {
            position: fixed;
            top: 10px;
            left: 10px;
            color: white;
            width: 50px;
            height: 50px;
            font-size: 22px;
            opacity: 0.5;
            display: none;
            z-index: 100;
            cursor: pointer;
        }  
        .extendedBar {
            left: 0px !important;
        }  
        .bodyModal {
            width: 100%;
            height: 0;
            overflow: auto;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.4);
            opacity: 0;
            transition: opacity .3s ease-out;
        }
        .openModal {
            height: 100%;
            opacity: 1;
            display: block;
            z-index: 9;
        }  
        @media screen and (max-width: 1000px) {
            .barLeft {
                /* display: none; */
                transition: left 0.45s cubic-bezier(0.0,0.0,0.2,1);
                position: absolute;
                top: 0px;
                left: -250px;
                z-index: 10;
            }
            .openSideBar {
                display: block;
            }
            .topBar {
                visibility: hidden;
            }
        }
    </style>
</head>
<body>
    <div class="openSideBar" onclick = "openSideBar()">
        <i class="fas fa-bars"></i>
    </div>
    <div class = "background">
        <div class="barLeft" id = "barLeft">
            <div class="sideBarTitle">
                    <img class = "headerLogo" src = "/public/images/logo_transparent.png" />
            </div>
            <div class="sideBarOverview"  onclick = "window.location = '/dashboard/'">
                <div class="overViewMain">
                    School Overview
                </div>
            </div> 
            <div class="sideBarTopic" onclick = "window.location = '/dashboard/masterSchedule/'" >
                <div class="sideBarMain">
                    Master Schedule
                </div>
                <div class="sideBarSecondary">
                    Edit and view the master schedule
                </div>                
            </div>
            <div class="sideBarTopic" onclick = "expandcategorysBar(this)">
                <div class="sideBarMain">
                    Courses
                </div>
                <div class="sideBarSecondary" id = "categorySecondary">
                    Add, edit, and remove courses
                </div>        
                <div class = "expandingcategorys" id = "expandingcategorys">
                    <div class="expandedLink"  onclick="window.location = '/dashboard/courses/categories'">
                        Categories
                    </div>
                    <div class="expandedLink" onclick="window.location = '/dashboard/courses/teachers'">
                        Teachers
                    </div>
                    <div class="expandedLink" onclick="window.location = '/dashboard/courses/courses'">
                        Courses
                    </div>
                    <div class="expandedLink" onclick="window.location = '/dashboard/courses/codes'">
                        Codes
                    </div>
                </div>
            </div>
            <div class="sideBarTopic" onclick = "window.location = '/dashboard/events/'" >
                <div class="sideBarMain">
                    Events
                </div>
                <div class="sideBarSecondary">
                    Add, edit, and remove events
                </div>                
            </div>
            <div class="sideBarTopic" onclick = "window.location = '/dashboard/configure/'" >
                <div class="sideBarMain">
                    Configure
                </div>
                <div class="sideBarSecondary">
                    Change information displays
                </div>                
            </div>
            <div class="sideBarTopic">
                <div class="sideBarMain" style = "color: rgb(67,181,245);">
                    Users
                </div>
                <div class="sideBarSecondary">
                    View users and permissions
                </div>                
            </div>
        </div>
        <div class="bodyRight">
            <div class = "bodyUpperSection">
                <div class="topBar">
                    PVSS (sd83)
                </div>
                <div class="secondaryBar">
                    <div class="barTitle">
                        <%=name%>
                    </div>
                </div>
                <div class="tabsBar">
                    <% for (var i = 0; i < tabs.length; i++) { %>
                        <div class="tabsBarTab" onclick = "window.location = '<%=tabs[i].href%>'" style = "color: <%=tabs[i].selected ? 'white' : '#eee' %>">
                            <%=tabs[i].name%>
                            <% if (tabs[i].selected) { %>
                                <div class="tabsBarSelect"></div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class = "bodyLowerSection" id = "bodyLowerSection">
                <div class="userHolder">
                    <div class="searchUsers" id = "searchUsers">
                        <i class="searchIcon fas fa-search"></i><input oninput = "searchText(this.value)" type="text" onfocus = "toggleBlur()" onblur = "toggleBlur()" class = "searchInput" placeholder = "Search for <%=singular.toLowerCase()%>">
                    </div>
                    <div class="titleList">
                        <% for (var i = 0; i < keys.length; i++) { %>
                            <div class="titleListItem">
                                <%=keys[i].name%>
                            </div>
                        <% } %>
                    </div>
                    <div class="listHolder">
                        <table class="userList">
                            <% for (var i = 0; i < list.length; i++) { %>
                                <% if (i == list.length-1) { %>
                                    <tr class="user" style = "border-bottom: 0">
                                        <% for (var j = 0; j < keys.length; j++) { %>
                                            <% if (keys[j].type == "single") { %>
                                                <td class="userProperty">
                                                    <%=keys[j].displayFunc(list[i])%>
                                                    <% if (keys[j].icon) { %>
                                                        <%-keys[j].icon%>
                                                    <% } %>
                                                </td>
                                            <% } else if (keys[j].type == "stackedList") { %>
                                                <td class="userProperty">
                                                    <div class="username">
                                                        <%=keys[j].displayFunc(list[i])[0]%>
                                                    </div>
                                                    <div class="studentID">
                                                        <%=keys[j].displayFunc(list[i])[1]%>
                                                    </div>
                                                    <% if (keys[j].icon) { %>
                                                        <%-keys[j].icon%>
                                                    <% } %>
                                                </td>
                                            <% } %>
                                        <% } %>
                                    </tr>
                                <% } else { %>
                                    <tr class="user">
                                        <% for (var j = 0; j < keys.length; j++) { %>
                                            <% if (keys[j].type == "single") { %>
                                                <td class="userProperty">
                                                    <%=keys[j].displayFunc(list[i])%>
                                                    <% if (keys[j].icon) { %>
                                                        <%-keys[j].icon%>
                                                    <% } %>
                                                </td>
                                            <% } else if (keys[j].type == "stackedList") { %>
                                                <td class="userProperty">
                                                    <div class="username">
                                                        <%=keys[j].displayFunc(list[i])[0]%>
                                                    </div>
                                                    <div class="studentID">
                                                        <%=keys[j].displayFunc(list[i])[1]%>
                                                    </div>
                                                    <% if (keys[j].icon) { %>
                                                        <%-keys[j].icon%>
                                                    <% } %>
                                                </td>
                                            <% } %>
                                        <% } %>
                                    </tr>
                                <% } %>
                            <% } %>
                        </table>
                    </div>
                    
                    <div class="bottomPadding">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bodyModal" id = "bodyModal">

    </div>
    <div class="barLeft" id = "mobileBarLeft">
        <div class="sideBarTitle">
                <img class = "headerLogo" src = "/public/images/logo_transparent.png" />
        </div>
        <div class="sideBarOverview"  onclick = "window.location = '/dashboard/'">
            <div class="overViewMain">
                School Overview
            </div>
        </div> 
        <div class="sideBarTopic" onclick = "window.location = '/dashboard/masterSchedule/'" >
            <div class="sideBarMain">
                Master Schedule
            </div>
            <div class="sideBarSecondary">
                Edit and view the master schedule
            </div>                
        </div>
        <div class="sideBarTopic" onclick = "expandSecondBar(this)">
            <div class="sideBarMain">
                Courses
            </div>
            <div class="sideBarSecondary" id = "categorySecondarySecond">
                Add, edit, and remove courses
            </div>        
            <div class = "expandingcategorys" id = "expandingcategorysSecond">
                <div class="expandedLink"  onclick="window.location = '/dashboard/courses/categories'">
                    Categories
                </div>
                <div class="expandedLink" onclick="window.location = '/dashboard/courses/teachers'">
                    Teachers
                </div>
                <div class="expandedLink" onclick="window.location = '/dashboard/courses/courses'">
                    Courses
                </div>
                <div class="expandedLink" onclick="window.location = '/dashboard/courses/codes'">
                    Codes
                </div>
            </div>
        </div>
        <div class="sideBarTopic" onclick = "window.location = '/dashboard/events/'" >
            <div class="sideBarMain">
                Events
            </div>
            <div class="sideBarSecondary">
                Add, edit, and remove events
            </div>                
        </div>
        <div class="sideBarTopic" onclick = "window.location = '/dashboard/configure/'" >
            <div class="sideBarMain">
                Configure
            </div>
            <div class="sideBarSecondary">
                Change information displays
            </div>                
        </div>
        <div class="sideBarTopic">
            <div class="sideBarMain" style = "color: rgb(67,181,245);">
                Users
            </div>
            <div class="sideBarSecondary">
                View users and permissions
            </div>                
        </div>
    </div>
    <div id = "errorPopDown">
        test error!
    </div>
</body>
<script>
    function openSideBar() {
        let bar = document.getElementById("mobileBarLeft");
        bar.classList.toggle("extendedBar");
        let modal = document.getElementById("bodyModal");
        modal.classList.toggle("openModal");
    }
    errorExtened = false;
    
    document.onclick = function(e) {
        if (errorExtened) {
            document.getElementById("errorPopDown").classList.remove("errorDown");
            errorExtened = false;
        }
    }
    let categorysExpanded = false;

    function expandcategorysBar(element) {
        let categorys = document.getElementById("expandingcategorys");
        let categorySecondary = document.getElementById("categorySecondary");
        if (categorysExpanded) {
            categorys.style.maxHeight = "0px";
            categorysExpanded = false;
            element.className = "sideBarTopic";
            categorySecondary.style.visibility = "visible";
        } else {
            categorys.style.maxHeight = "150px";
            categorysExpanded = true;
            element.className = "expandedTopic";
            categorySecondary.style.visibility = "hidden";
        }
    }
    function expandSecondBar(element) {
        let categorys = document.getElementById("expandingcategorysSecond");
        let categorySecondary = document.getElementById("categorySecondarySecond");
        if (categorysExpanded) {
            categorys.style.maxHeight = "0px";
            categorysExpanded = false;
            element.className = "sideBarTopic";
            categorySecondary.style.visibility = "visible";
        } else {
            categorys.style.maxHeight = "150px";
            categorysExpanded = true;
            element.className = "expandedTopic";
            categorySecondary.style.visibility = "hidden";
        }
    }
    function toggleBlur() {
        let element = document.getElementById("searchUsers");
        element.classList.toggle("activeSearch");
    }
    function searchText(text) {
        let users = document.getElementsByClassName("user");
        for (var i = 0; i < users.length; i++) {
            let child = users[i].children[0];
            if (child.innerText.toLowerCase().indexOf(text.toLowerCase()) >= 0) {
                users[i].style.display = "";
            } else {
                users[i].style.display = "none";
            }
        }
    }

    

</script>
<script>
</script>
</html>