<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        * {
            font-family: "Roboto", sans-serif;
            box-sizing: border-box;
        }
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .background {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .barLeft {
            width: 250px;
            min-width: 250px;
            height: 100%;
            background-color: rgb(28, 35, 46);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-y: auto;
        }
        .bodyRight {
            /* width: calc(100% - 250px); */
            position: relative;
            flex-grow: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-y: auto;
        }
        .bodyUpperSection {
            width: 100%;
            flex-grow: 0;
            background-color: rgb(18, 135, 222);
            margin: 0;
            padding: 0;
        }
        .bodyLowerSection {
            width: 100%;
            flex-grow: 1;   
            background-color: rgb(231,235,237);
        }
        .overPage {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        
        .barTitle {
            font-size: 27px;
            letter-spacing: 2px;
        }
        .sideBarTitle {
            width: 100%;
            height: 140px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .headerLogo {
            width: 100%;
        }

        .sideBarTopic {
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid rgb(56, 70, 90);
            cursor: pointer;
        }
        .sideBarTopic:hover {
            background-color: rgb(56, 70, 90);
        }
        .sideBarMain {
            font-size: 18px;
            color: white;
            margin-bottom: 5px;
            letter-spacing: 0.5px;
        }
        .sideBarSecondary {
            font-size: 13px;
            color: #aaa;
        }
        .sideBarOverview {
            color: white;
            padding: 20px;
            border-top: 1px solid rgb(56, 70, 90);
            border-bottom: 1px solid rgb(56, 70, 90);
        }
        .sideBarOverview:hover {
            background-color: rgb(56, 70, 90);
            cursor: pointer;
        }
        .topBar {
            width: 100%;
            height: 50px;
            /* background-color: red; */
            color: rgba(255,255,255,0.6);
            padding: 10px;
        }
        .secondaryBar {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 30px;
            color: white;
        }
        .mainBody {
            width: 60%;
            height: 400px;
            background-color: white;
            margin: auto;
            border-radius: 10px;
            -webkit-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            -moz-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
        }
        .eventHolderMain {
            width: 95%;
            height: 500px;
            background-color: rgb(231,235,237);
            -webkit-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            -moz-box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            box-shadow: -5px 4px 17px 2px rgba(0,0,0,0.25);
            border-radius: 10px;
            margin: auto;
        }
        .expandingBlock {
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.2s linear;
        }
        .expandedLink {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            color: #aaa;
            font-size: 13px;
        }
        .expandedLink:hover {
            background-color: rgb(56, 70, 90);
        }
        .expandedTopic {
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid rgb(56, 70, 90);
            cursor: pointer;
        }
        .scheduleBodies {
            width: 100%;
            overflow-y: auto;
            padding-bottom: 20px;
        }
        .schedule {
            width: 650px;
            overflow-x: auto;
            margin: auto;
            margin-bottom: 20px;
            display: block;
            padding-left: 10px;
        }
        .scheduleDay {
            display: inline-block;
            vertical-align: top;
        }
        .scheduleTitle {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 20px;
            position: relative;
        }
        .scheduleBlock {
            width: 110px;
            height: 80px;
            min-height: 50px;
            /* border-bottom: 1px solid black;
            border-right: 1px solid black; */
            margin: 10px 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: white;
            font-size: 12px;
            /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            border-radius: 5px;
        }
        .scheduleBlock div {
            margin-top: 5px;
            text-align: center;
        }
        .dayIndicator {
            width: 80%;
            position: absolute;
            left: 10%;
            height: 6px;
            bottom: -2px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: black;
        }
    </style>
</head>
<body>
    <div class = "background">
        <div class="barLeft">
            <div class="sideBarTitle">
                    <img class = "headerLogo" src = "/public/images/logo_transparent.png" />
            </div>
            <div class="sideBarOverview ">
                <div class="overViewMain" style = "color: rgb(67,181,245);">
                    Courses Overview
                </div>
            </div> 
            <% for (var i = 0; i < courses.length; i++) { %>
                <div class="sideBarTopic" expanded = "false" onclick = "expandSideBar(this)">
                    <div class="sideBarMain">
                        <%=courses[i].course%>
                    </div>
                    <div class="sideBarSecondary">
                        <%=courses[i].semester.name%>, block <%=courses[i].block%>
                    </div>
                    <div class="expandingBlock">
                        <div class="expandedLink" onclick = "window.location = '/teacher/<%=teacher._id%>/<%=courses[i]._id%>/overview'">
                            Overview
                        </div>
                        <div class="expandedLink" onclick = "window.location = '/teacher/<%=teacher._id%>/<%=courses[i]._id%>/assignments'">
                            Assignments
                        </div>
                        <div class="expandedLink" onclick = "window.location = '/teacher/<%=teacher._id%>/<%=courses[i]._id%>/notes'">
                            Notes
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>
        <div class="bodyRight">
            <div class = "bodyUpperSection">
                <div class="topBar">
                    <%=school.name%> <%= school.schoolDistrict ? `(${school.schoolDistrict})` : ''%>
                </div>
                <div class="secondaryBar">
                    <div class="barTitle">
                        <%=teacher.firstName%> <%=teacher.lastName%>
                    </div>
                </div>
            </div>
            <div class = "bodyLowerSection">
                <div class="scheduleBodies">
                    <% for (var i = 0; i < readSchedule.length; i++) { %>
                    <div class="schedule">
                        <% for (var key in readSchedule[i]) { %>
                            <% if (i == today[0][0] && key == "day" + (today[0][1]+1)) { %>
                                <div class="scheduleDay">
                                    <div class="scheduleTitle">
                                        <%=titles[i][key]%>
                                        <div class="dayIndicator">

                                        </div>
                                    </div>
                                    <% for (var j = 0; j < readSchedule[i][key].length; j++) { %>
                                        <div class="scheduleBlock" style = "height: <%=readSchedule[i][key][j][2]%>px; background: linear-gradient(<%=averageColours([colorMap[readSchedule[i][key][j][0].block], colorMap[readSchedule[i][key][j][0].block], colorMap[readSchedule[i][key][j][0].block], '#ffffff'])%>, <%=averageColours([colorMap[readSchedule[i][key][j][0].block], colorMap[readSchedule[i][key][j][0].block], '#ffffff'])%>">
                                            <div class="scheduleCourse"><%=readSchedule[i][key][j][0].course%></div>
                                            <% if (readSchedule[i][key][j][0].teacher != "Free") { %>
                                                <div class="scheduleTeacher"><%=readSchedule[i][key][j][0].teacher%></div>
                                            <% } %>
                                            <div class="scheduleTime"><%=readSchedule[i][key][j][1]%></div>
                                        </div>
                                    <% } %>
                                </div>
                            <% } else { %>
                                <div class="scheduleDay">
                                    <div class="scheduleTitle">
                                        <%=titles[i][key]%>
                                    </div>
                                    <% for (var j = 0; j < readSchedule[i][key].length; j++) { %>
                                        <div class="scheduleBlock" style = "height: <%=readSchedule[i][key][j][2]%>px; background: linear-gradient(<%=averageColours([colorMap[readSchedule[i][key][j][0].block], colorMap[readSchedule[i][key][j][0].block], colorMap[readSchedule[i][key][j][0].block], '#ffffff'])%>, <%=averageColours([colorMap[readSchedule[i][key][j][0].block], colorMap[readSchedule[i][key][j][0].block], '#ffffff'])%>">
                                            <div class="scheduleCourse"><%=readSchedule[i][key][j][0].course%></div>
                                            <% if (readSchedule[i][key][j][0].teacher != "Free") { %>
                                                <div class="scheduleTeacher"><%=readSchedule[i][key][j][0].teacher%></div>
                                            <% } %>
                                            <div class="scheduleTime"><%=readSchedule[i][key][j][1]%></div>
                                        </div>
                                    <% } %>
                                </div>  
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
                </div>
                
            </div>
        </div>
    </div>
</body>
<script>
    let coursesExpanded = false;
    function expandCoursesBar(element) {
        let courses = document.getElementById("expandingCourses");
        let courseSecondary = document.getElementById("courseSecondary");
        if (coursesExpanded) {
            courses.style.maxHeight = "0px";
            coursesExpanded = false;
            element.className = "sideBarTopic";
            courseSecondary.style.visibility = "visible";
        } else {
            courses.style.maxHeight = "150px";
            coursesExpanded = true;
            element.className = "expandedTopic";
            courseSecondary.style.visibility = "hidden";
        }
    }
    function expandSideBar(element) {
        let expanded = element.getAttribute("expanded");
        if (expanded == "false") {
            element.children[2].style.maxHeight = "150px";
            element.className = "expandedTopic";
            element.children[1].style.visibility = "hidden";
            element.setAttribute("expanded", "true");
        } else {
            element.children[2].style.maxHeight = "0px";
            element.className = "sideBarTopic";
            element.children[1].style.visibility = "visible";
            element.setAttribute("expanded", "false");
            
        }
    }
</script>
</html>