<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src = "/public/js/asyncRequest.js" type = "text/javascript"></script>
    <script src = "/public/js/preloader.js"></script>
    <title>Document</title>
    <style>
    * {
          box-sizing: border-box;
          font-family: sans-serif;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
      }
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        
      }
      .homeHolder {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          overflow: hidden;
      }
      .backdrop {
        height: calc(100% - 50px);
        /* flex-grow: 1; */
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: nowrap; */
        overflow-y: auto;
        -webkit-overflow-scrolling: auto;
        background-color: rgb(240,240,240);
      }
      .homeHeader {
          width: 100%;
          height: 50px;
          background: linear-gradient(to right, rgb(0,153,153), rgb(0,130,209));
      }
      .homeRow {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          padding: 0px 20px;
          align-items: center;
      }
      .displayText {
          color: white;
          font-size: 24px;
      }
      .bodyLine {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: start;
          align-items: center;
      }
      .bodySection {
          margin-top: 20px;
          border-bottom: 1px solid rgb(210,210,210);
          border-top: 1px solid rgb(210,210,210);
      }
      .infoRow {
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
      .displayText {
        color: white;
        font-size: 24px;
        font-weight: 300;
        }
        .backIcon {
            color: white;
            font-size: 22px;
            font-weight: 300;
        }
        .spacerIcon {
            color: white;
            font-size: 22px;
            visibility: hidden;
            font-weight: 300;
        }
        .iconRow {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: white;
        }
        .infoRow {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;
            border-bottom: 1px solid rgb(210,210,210);
            justify-content: space-between;
            /* padding-left: 5px; */
            padding-right: 5px;
        }
        .infoKey {
            font-size: 20px;
            font-weight: 400;
        }
        .infoValue {
            font-size: 18px;
            font-weight: 100;
        }
        .last .infoRow {
            border: none;
        }
        .iconBubble {
            width: 35px;
            height: 35px;
            border-radius: 8px;
            margin-left: 7.5px;
            margin-right: 7.5px;
            background-color: green;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
        .iconBubble i {
            font-size: 18px;
        }
        .courseInfo {
            width: 100%;
            margin-top: 20px;
            border-top: 1px solid rgb(210,210,210);
            border-bottom: 1px solid rgb(210,210,210);
            background-color: white;
        }
        .fa-chevron-right {
            margin-left: 10px;
            font-size: 20px;
            color: orange;
        }
        .infoDisplay {
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: white;
            height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-top: 1px solid rgb(210,210,210);
            border-bottom: 1px solid rgb(210,210,210);
        }
        .leftIcon {
            height: 100%;
            width: 70px;
            font-size: 30px;
            text-align: center;
        }
        .leftIcon i {
            margin-top: 18px;
        }
        .username {
            font-size: 23px;
        }
        .studentID {
            font-size: 13px;
        }
        .lastBox {
            margin-bottom: 20px;
        }
      
    
    </style>
</head>
<body>
    <div class="homeHolder">
        <div class="homeHeader">
            <div class="homeRow">
                <div class="backIcon" onclick = "window.location='/'"><i class="fas fa-chevron-left"></i></div>
                <div class="displayText">Account</div>
                <div class="spacerIcon"><i class="fas fa-chevron-left"></i></div>
            </div>
        </div>
        <div class="backdrop">
            <div class="infoDisplay">
                <div class="leftIcon"><i class="fas fa-school"></i></div>
                <div class="displayInformation">
                    <div class="username"><%=user.username%></div>
                    <div class="studentID">
                        student ID: 
                        <% if (user.studentID) { %>
                            <span contenteditable = "true" style = "min-width: 15px" oninput = "sendStudentId(this)"><%=user.studentID%></span>
                        <% } else { %>
                            <span onclick = "clearValue(this)" contenteditable="true" style = "min-width: 15px" oninput = "sendStudentId(this)">Enter Student ID</span>
                        <% } %>
                        
                    </div>
                </div>
            </div>
            <div class="bodySection">
                <!-- <div class="iconRow">
                    <div class="iconBubble" style = "background-color: <%-icons['art'][1]%>"><%-icons["art"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Theme</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div> -->
                <div class="iconRow" onclick = "renderPreloaded('coursePage', '/courses')">
                    <div class="iconBubble" style = "background-color: <%-icons['courses'][1]%>"><%-icons["courses"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Courses</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="iconRow" onclick = "renderPreloaded('eventsPage', '/events')">
                    <div class="iconBubble" style = "background-color: <%-icons['events'][1]%>"><%-icons["events"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Events</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="iconRow last" onclick = "window.location = '/login'">
                    <div class="iconBubble" style = "background-color: <%-icons['logout'][1]%>"><%-icons["logout"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Logout</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="bodySection">
                <div class="iconRow" onclick = "renderPreloaded('notes', '/notes')">
                    <div class="iconBubble" style = "background-color: <%-icons['notes'][1]%>"><%-icons["notes"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Notes</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="iconRow last" onclick = "renderPreloaded('assignmentsPage', '/assignments')">
                    <div class="iconBubble" style = "background-color: <%-icons['assignments'][1]%>"><%-icons["assignments"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Assignments</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <!-- <div class="iconRow last">
                    <div class="iconBubble" style = "background-color: <%-icons['reminders'][1]%>"><%-icons["reminders"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Notifications</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div> -->
            </div>
            <div class="bodySection lastBox">
                <div class="iconRow" onclick = "renderPreloaded('beforeSchool', '/before-school')">
                    <div class="iconBubble" style = "background-color: <%-icons['before-school'][1]%>"><%-icons["before-school"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Before School Activites</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="iconRow" onclick = "renderPreloaded('lunchTime', '/lunch-time')">
                    <div class="iconBubble" style = "background-color: <%-icons['lunch-time'][1]%>"><%-icons["lunch-time"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Lunchtime Activities</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="iconRow last" onclick = "renderPreloaded('afterSchool', '/after-school')">
                    <div class="iconBubble" style = "background-color: <%-icons['after-school'][1]%>"><%-icons["after-school"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">After School Activities</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="bodySection lastBox">
                <div class="iconRow" onclick = "renderPreloaded('blockColours', '/block-colours')">
                    <div class="iconBubble" style = "background-color: <%-icons['blockColours'][1]%>"><%-icons["blockColours"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Block Colours</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <div class="iconRow last" onclick = "renderPreloaded('blockNames', '/block-names')">
                    <div class="iconBubble" style = "background-color: <%-icons['blockTitles'][1]%>"><%-icons["blockTitles"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Block Names</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>
                <!-- <div class="iconRow last" onclick = "window.location = '/block-names'">
                    <div class="iconBubble" style = "background-color: <%-icons['dayTitles'][1]%>"><%-icons["dayTitles"][0]%></div>
                    <div class="infoRow">
                        <div class="infoKey">Day Titles</div>
                        <div class="infoValue"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <script>
        preloadPage("/events", function(res) {
            preloaded["eventsPage"] = res;
        });
        preloadPage("/courses", function(res) {
            preloaded["coursePage"] = res;
        });
        preloadPage("/notes", function(res) {
            preloaded["notesPage"] = res;
        });
        preloadPage("/block-colours", function(res) {
            preloaded["blockColours"] = res;
        });
        preloadPage("/block-names", function(res) {
            preloaded["blockNames"] = res;
        });
        preloadPage("/assignments", function(res) {
            preloaded["assignmentsPage"] = res;
        });
    </script>
    <script>
        function clearValue(element) {
            element.innerText = "";
        }
        function sendStudentId(element) {
            if (element.innerText) {
                sendGetRequest("id=" + element.innerText, "/updateStudentId", function(res) {

                });
            }
        }
    </script>
</body>
</html>