    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
    <meta name = "description" content = "The PVSS student website. View your courses, schedule, resources, and more here. Made by a PVSS student for PVSS students." />
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "theme-color" content = "orange" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name = "apple-mobile-web-app-title" content = "PVSS">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <!-- <link rel = "stylesheet" href = "/public/css/index.css"> -->
    <title>Schoolr student app | Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="icon" href="/public/schoolLogos/64x64_<%=favicon%>" type="image/x-icon">
    <link rel="shortcut icon" href="/public/schoolLogos/64x64_<%=favicon%>" type="image/x-icon">
    <link rel = "icon" sizes = "128x128" href = "/public/schoolLogos/128x128_<%=favicon%>" />
    <link rel = "icon" sizes = "192x192" href = "/public/schoolLogos/192x192_<%=favicon%>" />
    <link rel = "apple-touch-startup-image" href = "/public/schoolLogos/512x512_<%=favicon%>"/>
    <link rel = "apple-touch-icon" sizes = " 144x144" href = "/public/schoolLogos/144x144_<%=favicon%>" />
    <link rel = "apple-touch-icon" sizes = " 114x114" href = "/public/schoolLogos/114x114_<%=favicon%>" />
    <link rel = "apple-touch-icon" sizes = " 57x57" href = "/public/schoolLogos/57x57_<%=favicon%>" />
    <link rel = "apple-touch-icon" sizes = " 72x72" href = "/public/schoolLogos/72x72_<%=favicon%>" />
    <script src = "/public/js/asyncRequest.js"></script>
    <script src = "/public/js/preloader.js"></script>
    <script>
        
    </script>
    <script>

        
    </script>
    <style>
        @font-face {
    font-family: SF;
    src: url("/public/fonts/SF-Pro-Display-Regular.otf");
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: linear-gradient(to right, rgb(0,153,153), rgb(0,130,209));
}
.animateLeft {
    animation: slideLeft 0.3s linear 1;
    animation-fill-mode: forwards;
}
@keyframes slideLeft {
    0% {
        right: 0px;
    }

    100% {
        right: 50%;
    }
}
.homeHolder {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}
.backdrop {
    height: calc(100% - 70px);
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: auto;
}
.bodyTile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: hidden;
    justify-content: space-evenly;
    background-color: rgb(240,240,240);
    position: relative;
}
.homeHeader {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, rgb(0,153,153), rgb(0,130,209));
}
.bottomTabBar {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgb(0,153,153), rgb(0,130,209));
}
.homeRow {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}
.displayText {
    color: white;
    font-size: 24px;
}
#scheduleTile {
    /* background-color: red; */
}
#homeTile {
    display: block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#coursesTile {
    /* background-color: black; */
    justify-content: start;
}
#calendarTile {
    /* background-color: purple; */
    justify-content: start;
    overflow-x: hidden;
}
.dayHeader {
    width: 100%;
    text-align: left;
    padding: 20px 10px 0px 10px;
    /* background-color: white; */
    border-bottom: 1px solid rgb(210,210,210);
    /* color: #00358c */
}
.dayHeader h1 {
    margin: 0;
    width: 100%;
    margin: 0px 10px;
    padding: 5px;
}
.accountIcon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.accountIcon img {
    width: 100%;
    height: 100%;
}
.refreshIcon {
        width: 30px;
        height: 30px;
        margin-top: 10px;
}
.eventsHolder {
        width: 100%;
        height: 50px;
        overflow: auto;
}
.eventBlock {
        width: 90%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        /* background: #f5ffe2; */
        text-align: center;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 18px;
        border: 1px solid rgb(210,210,210);
}
.blockHolder {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: linear-gradient(#e8865c, #e86e5c);
    border-radius: 5px;
    padding: 5px 15px 10px 15px;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.eventBlockHolder {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 15px 10px 15px;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
}
.eventBlockHeader {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 15px 10px 15px;
    color: white;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
/* .classBlock {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid rgb(210,210,210);
} */
.blockHeader {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
    flex-grow: 1;
}
.blockLeft {
    text-align: right;
}
.blockBottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.eventBlockMain {
    font-size: 18px;
    color: white;
}
.eventBlockSecondary {
    font-size: 14px;
    opacity: 0.7;
}
.blockMain {
    font-size: 35px;
    font-weight: 300;
}
.blockSecondary {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.7;
}
.dayTitle {
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.dayHolder {
    width: 100%;
    border-bottom: 1px solid rgb(210,210,210);
    border-top: 1px solid rgb(210,210,210);
    overflow-y: auto;
}
.dayBlock {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: white;
    
}
.dayIcon {
    width: 50px;
    height: 50px;
}
.iconBubble {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    margin-left: 7.5px;
    margin-top: 7.5px;
    background-color: green;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.dayClass {
    width: calc(100% - 50px);
    border-bottom: 1px solid rgb(210,210,210);
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 10px;
}
.bottomClass {
    width: calc(100% - 50px);
    /* border-bottom: 1px solid rgb(210,210,210); */
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 10px;
}
.teacherClassBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
.teacherName {
    font-style: italic;
    font-size: 11px;
    /* font-weight: 300; */
    color: grey;
}
.className {
    font-size: 18px;
}
.timeBlock {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 18px;
}
.calendarTitleBar {
    width: 100%;
    /* height: 30px; */
    font-size: 28px;
    font-weight: 300;
    margin-top: 10px;
}
.calendarDaysBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding: 0px 20px; */
    color: orange;
    font-size: 13px;
    margin-top: 10px;
}
.calendarBodies {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.calendarTile {
    min-height: 360px;
    background-color: white;
}
.calendarDate {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dateName {
    padding: 10px;
    font-size: 22px;
}
.middleBar {
    flex-grow: 1;
    height: 2px;
    background-color: #ddd;
}
.calendarRow {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border-bottom: 1px solid black; */
}
.calendarDay {
    min-width: 14.28%;
    flex-grow: 1;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.today {
    background-color: rgba(97, 199, 237, 0.4);
    font-size: 20px;
    color: white;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.boxTitle {
    font-size: 10px;
}
.dayEvent {
    width: 6px;
    height: 6px;
    background-color: grey;
    border-radius: 50%;
    margin: auto;
}
.empty {
    opacity: 0.3;
}
.bodyModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s linear;
}
.displayedModal {
    opacity: 1;
    height: 100%;
}
.calendarPopUp {
    width: calc(100% - 90px);
    height: 100%;
    background-color: white;
    position: absolute;
    /* right: -100%; */
    right: 0;
    transform: translateX(100%);
    top: 0;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: transform 0.5s cubic-bezier(.05, .69, .14, 1);
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* overflow: hidden; */
}
.scheduleBodyWrapper {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.scheduleBody {
    height: 1440px;
    position: relative;
}
.floatingActionButton {
    width: 50px;
    height: 50px;
    box-shadow: 0 6px 10px 0 #666;
    background-color: red;
    border-radius: 50%;
}
.floatingActionButtonHolder {
    position: absolute;
    bottom: 60px;
    right: 15px;
}
.floatingActionButtonOverflow {
    width: 210px;
    position: absolute;
    bottom: 52px;
    left: -160px;
    overflow: hidden;
}
.retractedDropdown {

}
.floatingActionButtonDropdown {
    width: 190px;
    left: 10px;
    background-color: white;
    position: absolute;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
    /* transition: max-height 0.12s cubic-bezier(0.0,0.0,0.2,1), left 0.12s cubic-bezier(0.0,0.0,0.2,1), bottom 0.12s cubic-bezier(0.0,0.0,0.2,1); */
    transform: translate(0%, calc(0% + 3px)) scale(1);
    transition: transform 300ms cubic-bezier(0.0,0.0,0.2,1);
    overflow: hidden;
    border-radius: 2px;
    will-change: transform;
}
.retractedDropdown .floatingActionButtonDropdown {
    transform: translate(190px, calc(100%)) scale(0);
}
.actionItem {
    width: 100%;
    padding: 20px 10px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.actionItemIcon {
    padding-right: 15px;
    color: #3065ba;
}
.floatingActionButton:active {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}
.floatingActionButton img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 0px;
}
.scheduleHour {
    width: 100%;
    height: 60px;
    position: relative;
}
.scheduleHourBar {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.scheduleHourTitle {
    padding: 0px 10px;
    font-size: 17px;
    color: #aaa;
}
.scheduleEvent {
    position: absolute;
    width: 100%;
    padding: 10px;
}
.scheduleBodyMain {
    font-size: 18px;
    color: black;
}
.scheduleBodySecond {
    font-size: 14px;
    color: rgba(0,0,0,0.8);
}
.extendedPopUp {
    transform: translateX(0%);
}
.removePopUp {
    width: 50px;
    background-color: grey;
    position: relative;
    top: -20px;
    height: 5px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}
.dateTitle {
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.eventBody {
    width: 100%;
    border: 5px solid #bbb;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.eventBodyTime {
    background-color: #bbb;
    padding-right: 3px;
}
.eventBodyInfo {
    flex-grow: 1;
    background-color: #b2ffbc;
    overflow-x: auto;
    padding-left: 5px;
    color: #277230;
}
.scheduleBodies {
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    padding-bottom: 20px;
}
.schedule {
    width: 650px;
    overflow-x: auto;
    margin-bottom: 20px;
    display: block;
    padding-left: 10px;
}
.scheduleDay {
    display: inline-block;
    vertical-align: top;
}
.scheduleTitle {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.scheduleBlock {
    width: 110px;
    height: 80px;
    min-height: 50px;
    /* border-bottom: 1px solid black;
    border-right: 1px solid black; */
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    font-size: 12px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}
.scheduleBlock div {
    margin-top: 5px;
    text-align: center;
}
.homeTabView {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    z-index: 4;
}
.tab {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    border-right: 1px solid rgba(255,255,255,0.5);
    font-size: 10px;
}
.selectedTab {
    background-color: rgba(255,255,255,0.4);
}
.noBorder  {
    border: none !important;
}
.fa-chevron-right {
    margin-left: 10px;
    color: orange;
}
.alert {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 95%;
    border: 1px solid black;
    position: absolute;
    top: 20%;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 5px;
    -webkit-box-shadow: 13px 17px 43px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 17px 43px -19px rgba(0,0,0,0.75);
    box-shadow: 13px 17px 43px -19px rgba(0,0,0,0.75);
    transition: top 0.2s linear;
}
@media screen and (max-height: 520px) {
    .homeHeader {
        height: 0px;
    }
    .homeRow {
        display: none;
    }
    .backdrop {
        height: calc(100% - 40px);
    }
}
@media screen and (max-width: 320px) {
    .className {
        font-size: 14px;
    }
    .timeBlock {
        font-size: 14px;   
    }
    .teacherName {
        font-size: 10px;
    }
    .blockHeader {
        font-size: 18px;
    }
    .blockMain {
        font-size: 27px;
    }
    .blockSecondary {
        font-size: 12px;
    }
    .dayHeader h1 {
        font-size: 25px;
    }
}
@media screen and (min-width: 768px) {
    .backdrop {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(240,240,240);
        overflow-y: auto;
        
    }
    .bodyTile {
        width: 350px;
        height: 500px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid rgb(210,210,210);
    }
}
    </style>
    </head>
    <body onunload="unload()">
        <div class="homeHolder" id = "homeHolder">
        <div class="homeHeader">
            <div class="homeRow">
                <div class="accountIcon" onclick = "renderPreloaded('accountPage', '/account')"><img src = "/public/icons/accountIcon.svg" /></div>
                <div class="displayText">Home</div>
                <div class="refreshIcon"></div>
            </div>
            <!-- <div class="homeTabView">
                <div class="tab" onclick = "moveTab(0)"><i class="fas fa-calendar-week"></i>Schedule</div>
                <div class="tab selectedTab" onclick = "moveTab(1)"><i class="fas fa-home"></i>Home</div>
                <div class="tab" onclick = "moveTab(2)"><i class="far fa-list-alt"></i>Courses</div>
                <div class="tab noBorder" onclick = "moveTab(3)"><i class="fas fa-calendar-alt"></i>Calendar</div>
            </div> -->
        </div>
        <div class = "backdrop" id = "backdrop">
            <div id = "scheduleTile" class="bodyTile">
                <div class="scheduleBodies">
                    <% for (var i = 0; i < readSchedule.length; i++) { %>
                        <div class="schedule">
                            <% for (var key in readSchedule[i]) { %>
                                <div class="scheduleDay">
                                    <div class="scheduleTitle">
                                        <%=titles[i][key]%>
                                    </div>
                                    <% for (var j = 0; j < readSchedule[i][key].length; j++) { %>
                                        <div class="scheduleBlock" style = "height: <%=readSchedule[i][key][j][2]%>px; background: linear-gradient(<%=averageColours([colorMap[readSchedule[i][key][j][0].block], colorMap[readSchedule[i][key][j][0].block], colorMap[readSchedule[i][key][j][0].block], '#ffffff'])%>, <%=averageColours([colorMap[readSchedule[i][key][j][0].block], colorMap[readSchedule[i][key][j][0].block], '#ffffff'])%>)">
                                            <div class="scheduleCourse"><%=readSchedule[i][key][j][0].course%></div>
                                            <% if (readSchedule[i][key][j][0].teacher != "Free") { %>
                                                <div class="scheduleTeacher"><%=readSchedule[i][key][j][0].teacher%></div>
                                            <% } %>
                                            <div class="scheduleTime"><%=readSchedule[i][key][j][1]%></div>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div id = "homeTile" href = "#homeTile" class="bodyTile">
                <div class="dayHeader">
                    <h1>
                        <% if (today[1]) { %>
                            <%=titles[today[0][0]]["day" + (today[0][1]+1).toString()]%>    
                        <% } else { %>
                            Off! 
                        <% } %>
                    </h1>
                </div>
                <div id="currentBlock" class = "blockHolder">
                    <div class="blockHeader">
                        Current
                    </div>
                    <div class="blockLeft">
                        <div class="blockMain">
                            <%=currentBlock[1].course%>
                        </div>
                        <div class="blockSecondary">
                            <%=currentBlock[0]%>
                        </div>
                    </div>
                </div>
                <div id="nextBlock" class = "blockHolder">
                    <div class="blockHeader">
                        Next
                    </div>
                    <div class="blockLeft">
                        <div class="blockMain">
                            <%=nextBlock[1].course%>
                        </div>
                        <div class="blockSecondary">
                            <%=nextBlock[0]%>
                        </div>
                    </div>
                </div>
                <div class="dayHeader">
                    <h1>
                        Events
                    </h1>
                </div>
                <% for (var i = 0; i < soonEvents.length; i++) { %>
                    <div class = "eventBlockHolder" style = "background: linear-gradient(#5cc0e8, #5c9be8)">
                        <div class = "eventBlockHeader">
                            <h3 style = "margin: 0"><%=soonEvents[i].info%></h3>
                        </div>
                        <div class="blockBottom">
                            <div class="eventBlockMain">
                                <%=moment(soonEvents[i].date).format("DD-MM-YYYY")%>
                            </div>
                            <div class="eventBlockSecondary">
                                <%=soonEvents[i].time%>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% if (soonEvents.length == 0) { %>
                    <div class = "eventBlockHolder" style = "background: linear-gradient(#5cc0e8, #5c9be8)">
                        <div class = "eventBlockHeader">
                            <h2 style = "margin: 0">No Events!</h2>
                        </div>
                        <div class="blockBottom">
                            <div class="eventBlockMain">
                                <%=moment(currentDate).format("DD-MM-YYYY")%>
                            </div>
                            <div class="eventBlockSecondary">
                                
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="dayHeader">
                    <h1>
                        Recent Assignments
                    </h1>
                </div>
                <% let length = 0%>
                <% for (var key in recentAssignments) { %>
                    <% for (var i = 0; i < recentAssignments[key].assignments.length; i++) { %>
                        <% length++%>
                        <div class = "blockHolder" onclick = "window.location = '/course?courseId=<%=key%>'" style = "background: linear-gradient(#7ae281, #63c66a)">
                            <div class="blockHeader" style = "padding-top: 0px">
                                <%=recentAssignments[key].course%>
                            </div>
                            <div class="blockLeft" style = "padding-top: 2px">
                                <div class="blockMain" style = "font-size: 18px;">
                                    <% if (recentAssignments[key].assignments[i].type == "text") { %>
                                        <div class="assignmentActionTitle"><%=recentAssignments[key].assignments[i].assignment%></div>
                                    <% } else { %>
                                        <div class="assignmentActionTitle"><%=recentAssignments[key].assignments[i].assignment.split("_").slice(0, recentAssignments[key].assignments[i].assignment.split("_").length-1).join("_") || "File"%> &nbsp; <span style = "font-size: 12px">(File)</span></div>
                                    <% } %>
                                </div>
                                <div class="blockSecondary">
                                    <%=recentAssignments[key].assignments[i].due%>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <div class = "blockHolder" onclick = "window.location = '/assignments'", style = "background: linear-gradient(#7ae281, #63c66a); opacity: 0.5; border: 1px solid #63c66a">
                    <div class="blockHeader" style = "padding-top: 0px">
                        New Assignment
                    </div>
                    <div class="blockLeft" style = "padding-top: 2px">
                        <div class="blockMain" style = "font-size: 18px;">
                            Add Assignment
                        </div>
                        <div class="blockSecondary">
                            Click to add
                        </div>
                    </div>
                </div>
                <div style = "width: 100%; padding-top: 10px"></div>
                
            </div>
            <div id = "coursesTile" class="bodyTile">
                <div class="dayTitle"><a onclick = "renderPreloaded('coursePage', '/courses')" style = "text-decoration: none; color: black"><span style = "font-size: 12px; visibility: hidden">edit</span> Today <span style = "font-size: 12px">edit</span></a></div>
                <div class="dayHolder">
                    <% for (var i = 0; i < courses.length; i++) { %>
                        <% if (i == courses.length-1) { %>
                            <!-- <div class="dayBlock"> -->
                            <div class="dayBlock" onclick = "<%=courses[i][1].isReal ? `window.location='course?courseId=${courses[i][1]._id}'` : `` %>">
                                <div class="dayIcon">
                                    <div class="iconBubble" style = "background: <%=categories[courses[i][1].category.category.toLowerCase()] ? categories[courses[i][1].category.category.toLowerCase()][1] : categories['other'][1]%>">
                                        <%-categories[courses[i][1].category.category.toLowerCase()] ? categories[courses[i][1].category.category.toLowerCase()][0] : categories['other'][0]%>
                                    </div>
                                </div>
                                <div class="bottomClass">
                                    <div class="teacherClassBlock">
                                        <div class="className"><%=courses[i][1].course%></div>
                                        <div class="teacherName"><%=courses[i][1].teacher%></div>
                                    </div>
                                    <div class="timeBlock">
                                        <%=courses[i][0]%>
                                        <%- courses[i][1].isReal ? '<i class="fas fa-chevron-right"></i>' : ""%>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <!-- <div class="dayBlock"> -->
                            <div class="dayBlock" onclick = "<%=courses[i][1].isReal ? `window.location='course?courseId=${courses[i][1]._id}'` : `` %>">
                                <div class="dayIcon">
                                        <div class="iconBubble" style = "background-color: <%=categories[courses[i][1].category.category.toLowerCase()] ? categories[courses[i][1].category.category.toLowerCase()][1] : categories['other'][1]%>">
                                        <%-categories[courses[i][1].category.category.toLowerCase()] ? categories[courses[i][1].category.category.toLowerCase()][0] : categories['other'][0]%>
                                    </div>
                                </div>
                                <div class="dayClass">
                                    <div class="teacherClassBlock">
                                        <div class="className"><%=courses[i][1].course%></div>
                                        <div class="teacherName"><%=courses[i][1].teacher%></div>
                                    </div>
                                    <div class="timeBlock">
                                        <%=courses[i][0]%>
                                        <%- courses[i][1].isReal ? '<i class="fas fa-chevron-right"></i>' : ""%>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div id = "calendarTile" class="bodyTile">
                <div class="calendarBodies" id = "calendarBodies">
                    <%let initialOffset = offset%>
                    <% for (var i = 0; i < monthLengths.length; i++) { %>
                        <% let currentMonth = (new Date(startDate[0], startDate[1]+i, 1)).getMonth()%>
                        <% let pastDue = true%>
                        <div class="calendarDate" id = "<%=monthNames[i].split(' ').join('_')%>" >
                            <div class="middleBar"></div>
                            <div class="dateName">
                                <%=monthNames[i]%>
                            </div>
                            <div class="middleBar"></div>
                        </div>
                        <div class="calendarTile" month="<%=monthNames[i]%>"href = "#<%=monthNames[i].split(' ').join('_')%>">
                            <% for (var j = 0; j < 6; j++) { %>
                                <div class="calendarRow">
                                    <% for (var k = 0; k < 7; k++) { %>
                                        <% if (j*7 + k >= initialOffset) { %>
                                            <% let previousDate = new Date(startDate[0], startDate[1] + i, startDate[2] + 7*j+k-initialOffset-1)%>
                                            <% let todayDate = new Date(startDate[0], startDate[1] + i, startDate[2] + 7*j+k-initialOffset)%>
                                            <% if (todayDate.getMonth() > currentMonth || (currentMonth == 11 && todayDate.getMonth() == 0)) { %>
                                                <div class="calendarDay empty">
                                                    <div class="dayDate">
                                                        <%= todayDate.getDate()%>
                                                    </div>
                                                    <div class="boxTitle">
        
                                                    </div>
                                                    <div class="dayEvent" style = "visibility: hidden">
        
                                                    </div>
                                                </div>
                                            <% }  else { %>
                                                <% let today = eventMap[`${todayDate.getFullYear()}_${todayDate.getMonth()}_${todayDate.getDate()}`]; %>
                                                <% if (today) { %>
                                                    <% let events = [] %>
                                                    <% for (var l = 0; l < today[3].length; l++) { %>
                                                        <% events.push({time: today[3][l].time, info: today[3][l].info}); %>
                                                    <% } %>
                                                    <% if (currentDate.getFullYear() == todayDate.getFullYear() && currentDate.getMonth() == todayDate.getMonth() && currentDate.getDate() == todayDate.getDate()) { %>
                                                        <div class="calendarDay today" onclick = "extendCalendarPopup('<%=moment([todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate()]).format('MMMM D, YYYY')%>', '[]', '<%=`${todayDate.getFullYear()}_${todayDate.getMonth()}_${todayDate.getDate()}`%>')">
                                                            <div class="dayDate">
                                                                <%= todayDate.getDate()%>
                                                            </div>
                                                            <div class="boxTitle">
                                                                <%= today[1] ? titles[today[0][0]]["day" + (today[0][1]+1).toString()] : ""%>
                                                            </div>
                                                            <div class="dayEvent" style = "visibility: <%=today[2] ? 'visible' : 'hidden'%>">
                                                                
                                                            </div>
                                                        </div>
                                                    <% } else { %>
                                                        <div class="calendarDay" onclick = "extendCalendarPopup('<%=moment([todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate()]).format('MMMM D, YYYY')%>', '[]', '<%=`${todayDate.getFullYear()}_${todayDate.getMonth()}_${todayDate.getDate()}`%>')">
                                                            <div class="dayDate">
                                                                <%= todayDate.getDate()%>
                                                            </div>
                                                            <div class="boxTitle">
                                                                <%= today[1] ? titles[today[0][0]]["day" + (today[0][1]+1).toString()] : ""%>
                                                            </div>
                                                            <div class="dayEvent" style = "visibility: <%=today[2] ? 'visible' : 'hidden'%>">
                                                                
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    
                                                <% } else { %>
                                                    <% if (currentDate.getFullYear() == todayDate.getFullYear() && currentDate.getMonth() == todayDate.getMonth() && currentDate.getDate() == todayDate.getDate()) { %>
                                                        <div class="calendarDay empty" onclick = "extendCalendarPopup('<%=moment([todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate()]).format('MMMM D, YYYY')%>', '[]', '<%=`${todayDate.getFullYear()}_${todayDate.getMonth()}_${todayDate.getDate()}`%>)">
                                                            <div class="dayDate">
                                                                <%= todayDate.getDate()%>
                                                            </div>
                                                            <div class="boxTitle">
                
                                                            </div>
                                                            <div class="dayEvent" style = "visibility: hidden">
                
                                                            </div>
                                                        </div>
                                                    <% } else { %>
                                                        <div class="calendarDay empty" onclick = "extendCalendarPopup('<%=moment([todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate()]).format('MMMM D, YYYY')%>', '[]', '<%=`${todayDate.getFullYear()}_${todayDate.getMonth()}_${todayDate.getDate()}`%>)">
                                                            <div class="dayDate">
                                                                <%= todayDate.getDate()%>
                                                            </div>
                                                            <div class="boxTitle">
                
                                                            </div>
                                                            <div class="dayEvent" style = "visibility: hidden">
                
                                                            </div>
                                                        </div>  
                                                    <% } %> 
                                                    
                                                <% } %>
                                            <% } %>
                                        <% } else { %>
                                            <div class="calendarDay empty">
                                                <div class="dayDate">
                                                    <% let oldDate = new Date(startDate[0], startDate[1]+i, 0) %>
                                                    <%= oldDate.getDate()-initialOffset+j*7+k+1%>
                                                </div>
                                                <div class="boxTitle">

                                                </div>
                                                <div class="dayEvent" style = "visibility: hidden">

                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </div>    
                            <% } %>
                        </div>
                        <% initialOffset = (initialOffset + monthLengths[i])%7%>
                    <% } %>
                </div>
                <div class="bodyModal" id = "bodyModal" onclick = "closeModal()">

                </div>
                <div class="calendarPopUp" id = "calendarPopUp">
                    <div class="dateTitle" id = "dateTitle"></div>
                    <div id = "eventsHolder"></div>
                    <div class="scheduleBodyWrapper">
                        <div class="scheduleBody" id = "scheduleBody">
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">1:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">2:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">3:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">4:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">5:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">6:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">7:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">8:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">9:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">10:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">11:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">12:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">1:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">2:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">3:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">4:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">5:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">6:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">7:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">8:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">9:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">10:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">11:00 PM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                            <div class="scheduleHour">
                                <div class="scheduleHourBar">
                                    <div class="scheduleHourTitle">12:00 AM</div>
                                    <div class="middleBar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="bottomTabBar">
                <div class="homeTabView">
                    <div class="tab" onclick = "moveTab(0)"><i class="fas fa-calendar-week"></i>Schedule</div>
                    <div class="tab selectedTab" onclick = "moveTab(1)"><i class="fas fa-home"></i>Home</div>
                    <div class="tab" onclick = "moveTab(2)"><i class="far fa-list-alt"></i>Courses</div>
                    <div class="tab noBorder" onclick = "moveTab(3)"><i class="fas fa-calendar-alt"></i>Calendar</div>
                </div>
        </div>
    </div>
    
    <div class="floatingActionButtonHolder">
        <div class="floatingActionButton" onclick = "toggleFAB()">
            <img src = "/public/icons/plusIcon.svg">
        </div>
        <div class="floatingActionButtonOverflow retractedDropdown" style = "height: 0px" id = "floatingActionButtonDropdownHolder">
            <div class="floatingActionButtonDropdown" id = "floatingActionButtonDropdown" ontransitionend = "closeFunction()">
                <% if (user.permissions == "admin") { %>
                    <div class="actionItem" onclick = "window.location = '/dashboard'"><i class="actionItemIcon fas fa-tachometer-alt"></i>Dashboard</div>
                <% } %>
                <div class="actionItem" onclick = "renderPreloaded('assignmentsPage', '/assignments')"><i class="actionItemIcon fas fa-scroll"></i>Assignments</div>
                <div class="actionItem" onclick = "renderPreloaded('notesPage', '/notes')"><i class="actionItemIcon fas fa-sticky-note"></i>Notes</div>
                <div class="actionItem" onclick = "renderPreloaded('eventsPage', '/events')"><i class="actionItemIcon fas fa-calendar"></i>Events</div>
                <div class="actionItem" onclick = "renderPreloaded('coursePage', '/courses')"><i class="actionItemIcon fas fa-cube"></i>Courses</div>
            </div>
        </div>
        
    </div>
    <% if (alert) { %> 
        <% if (alert[0]) { %>
            <div class="alert" id = "shown" shown = "true" onclick = "window.location = '<%=alert[0]%>'">
                <Strong>Notice:</Strong> <%=alert[1]%>
            </div>
        <% } else { %>
            <div class="alert" id = "shown"  shown = "true" >
                <Strong>Notice:</Strong> <%=alert[1]%>
            </div>
        <% } %>
        
    <% } %>
    
  </body>
  <script>
        preloadPage("/account", function(res) {
            preloaded["accountPage"] = res;
        });
        preloadPage("/courses", function(res) {
            preloaded["coursePage"] = res;
        });
        preloadPage("/events", function(res) {
            preloaded["eventsPage"] = res;
        });
        preloadPage("/notes", function(res) {
            preloaded["notesPage"] = res;
        });
        preloadPage("/assignments", function(res) {
            preloaded["assignmentsPage"] = res;
        });
  </script>
  <script>
    let scrollingAllowed = true;
    function unload() {
        var request = new XMLHttpRequest();
        request.open('GET', '/monitorUsage?page=/&id=<%=userId%>', true);
        request.send(null);
    }
    function jsonEscape(str)  {
        return str.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t");
    }
    function toggleFAB() {
        let page = document.getElementById("floatingActionButtonDropdownHolder");
        page.classList.toggle("retractedDropdown");
        if (page.classList.contains("retractedDropdown")) {
            
        } else {
            page.style.height = "330px";
        }
    }
    function closeFunction() {
        let page = document.getElementById("floatingActionButtonDropdownHolder");
        if (page.classList.contains("retractedDropdown")) {
            page.style.height = "0px";
        }
    }
    function hexToRgbA(hex){
        var c;
        if(/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)){
            c= hex.substring(1).split('');
            if(c.length== 3){
                c= [c[0], c[0], c[1], c[1], c[2], c[2]];
            }
            c= '0x'+c.join('');
            return 'rgba('+[(c>>16)&255, (c>>8)&255, c&255].join(',')+',0.8)';
        }
        return "rgba(130,130,130,0.5)";
    }
    function extendCalendarPopup(dateString, events, date) {
        scrollingAllowed = false;
        $("#backdrop").animate({scrollLeft: 4*width}, 200);
        let tabs = document.getElementsByClassName("tab");
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove("selectedTab");
            if (i == 3) {
                tabs[i].classList.add("selectedTab");
            }
        }
        tabs[3].classList.add("selectedTab");
        document.getElementById("dateTitle").innerHTML = dateString;
        document.getElementById("calendarBodies").style.overflowY = "hidden";
        let popup = document.getElementById("calendarPopUp");
        popup.classList.add("extendedPopUp")
        let modal = document.getElementById("bodyModal");
        modal.classList.add("displayedModal");
        let myNode = document.getElementById("eventsHolder");
        let scheduleBodies = document.getElementById("scheduleBody");
        while (myNode.firstChild) {
            myNode.removeChild(myNode.firstChild);
        }
        let currentScheduleEvents = document.getElementsByClassName("scheduleEvent");
        while(currentScheduleEvents.length) {
            currentScheduleEvents[0].parentNode.removeChild(currentScheduleEvents[0]);
        }
        sendGetRequest("date=" + date, "/infoOnDay", function(res) {
            if (!res.events || res.events.length == 0) {
                let event = document.createElement("div");
                event.className = "eventBody";
                let time = document.createElement("div");
                time.className = "eventBodyTime";
                let info = document.createElement("div");
                info.className = "eventBodyInfo";
                time.innerHTML = "";
                info.innerHTML = "No Events!";
                event.appendChild(time);
                event.appendChild(info);
                myNode.appendChild(event);
            } else {
                for (var i = 0; i < res.events.length; i++) {
                    let event = document.createElement("div");
                    event.className = "eventBody";
                    let time = document.createElement("div");
                    time.className = "eventBodyTime";
                    let info = document.createElement("div");
                    info.className = "eventBodyInfo";
                    time.innerHTML = res.events[i].time;
                    info.innerHTML = res.events[i].info;
                    event.appendChild(time);
                    event.appendChild(info);
                    myNode.appendChild(event);
                }
            }
            if (res.scheduleEvents) {
                for (var i = 0; i < res.scheduleEvents.length; i++) {
                    let newEvent = document.createElement("div");
                    newEvent.className = "scheduleEvent";
                    newEvent.style.top = `${res.scheduleEvents[i].time[0]*60 + res.scheduleEvents[i].time[1]}px`;
                    newEvent.style.height = `${res.scheduleEvents[i].time[2]*60 + res.scheduleEvents[i].time[3] - (res.scheduleEvents[i].time[0]*60 + res.scheduleEvents[i].time[1])}px`;
                    newEvent.style.backgroundColor = hexToRgbA(res.scheduleEvents[i].colour);
                    let main = document.createElement("div");
                    main.className = "scheduleBodyMain";
                    main.innerText = res.scheduleEvents[i].mainInfo;
                    let second = document.createElement("div");
                    second.className = "scheduleBodySecond";
                    second.innerText = res.scheduleEvents[i].secondaryInfo;
                    newEvent.appendChild(main);
                    newEvent.appendChild(second);
                    scheduleBodies.appendChild(newEvent);
                }
            }
        });
        events = JSON.parse(jsonEscape(events));
    }
    function closeModal() {
        let popup = document.getElementById("calendarPopUp");
        popup.classList.remove("extendedPopUp")
        let modal = document.getElementById("bodyModal");
        modal.classList.remove("displayedModal");
        scrollingAllowed = true;
        document.getElementById("calendarBodies").style.overflowY = "auto";
    }
    let currentBodyIndex = 1;
    let backdrop = document.getElementById("backdrop");
    let bodies = document.getElementById("calendarBodies");
    let width = window.innerWidth;
    backdrop.addEventListener("touchend", function(touch) {
        
    });
    function moveTab(index) {
        if (scrollingAllowed) {
            let tabs = document.getElementsByClassName("tab");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("selectedTab");
                if (i == index) {
                    tabs[i].classList.add("selectedTab");
                }
            }
            $("#backdrop").animate({scrollLeft: index*width}, 200);
        }
    }
    backdrop.addEventListener("touchmove", function(touch) {
        let currentBody = Math.round(backdrop.scrollLeft/width);
        if (currentBody != currentBodyIndex) {
            currentBodyIndex = currentBody;
            let tabs = document.getElementsByClassName("tab");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("selectedTab");
                if (i == currentBodyIndex) {
                    tabs[i].classList.add("selectedTab");
                }
            }
        }
    });

    document.onclick = function() {
        let shownAlerts = document.getElementById("shown");
        if (shownAlerts && shownAlerts.getAttribute("shown") === "true") {
            shownAlerts.setAttribute("shown", "false");
            shownAlerts.style.top = "-200px";
        }
    }
    document.ontouchstart = function() {
        let shownAlerts = document.getElementById("shown");
        if (shownAlerts && shownAlerts.getAttribute("shown") === "true") {
            shownAlerts.setAttribute("shown", "false");
            shownAlerts.style.top = "-200px";
        }
    }
    window.onload = function() {
        let currentMonth = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][new Date().getMonth()];
        let calendar = document.getElementById(currentMonth + "_" + new Date().getFullYear().toString());
        calendar.scrollIntoView();
        backdrop.scrollLeft = window.innerWidth;
        let shownAlerts = document.getElementById("shown");
        if (shownAlerts) {
            shownAlerts.style.top = "20%";    
        }
    }
  </script>
</html>
