    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
    <meta name = "description" content = "The PVSS student website. View your courses, schedule, resources, and more here. Made by a PVSS student for PVSS students." />
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "theme-color" content = "orange" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "#FC7753">
    <meta name = "apple-mobile-web-app-title" content = "PVSS">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="icon" href="/public/schoolLogos/64x64_<%=favicon%>" type="image/x-icon">
    <link rel="shortcut icon" href="/public/schoolLogos/64x64_<%=favicon%>" type="image/x-icon">
    <link rel = "icon" sizes = "128x128" href = "/public/schoolLogos/128x128_<%=favicon%>" />
    <link rel = "icon" sizes = "192x192" href = "/public/schoolLogos/192x192_<%=favicon%>" />
    <link rel = "apple-touch-startup-image" href = "/public/schoolLogos/512x512_<%=favicon%>"/>
    <link rel = "apple-touch-icon" sizes = " 144x144" href = "/public/schoolLogos/144x144_<%=favicon%>" />
    <link rel = "apple-touch-icon" sizes = " 114x114" href = "/public/schoolLogos/114x114_<%=favicon%>" />
    <link rel = "apple-touch-icon" sizes = " 57x57" href = "/public/schoolLogos/57x57_<%=favicon%>" />
    <link rel = "apple-touch-icon" sizes = " 72x72" href = "/public/schoolLogos/72x72_<%=favicon%>" />
    <script>
        
    </script>
    <script>


    </script>
    <style>
        @font-face {
            font-family: SF;
            src: url("/public/fonts/SF-Pro-Display-Regular.otf");
        }
        * {
            box-sizing: border-box;
            font-family: sans-serif;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .animateLeft {
            animation: slideLeft 0.3s linear 1;
            animation-fill-mode: forwards;
        }
        @keyframes slideLeft {
            0% {
                right: 0px;
            }

            100% {
                right: 50%;
            }
        }
        .homeHolder {
            position: fixed;
            top: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow: hidden;
        }
        .backdrop {
            height: calc(100% - 70px);
            /* flex-grow: 1; */
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: auto;
        }
        .bodyTile {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-y: hidden;
            justify-content: space-evenly;
            background-color: rgb(240,240,240);
            position: relative;
        }
        .homeHeader {
            width: 100%;
            height: 50px;
            background: linear-gradient(to right, rgb(0,153,153), rgb(0,130,209));
        }
        .bottomTabBar {
            width: 100%;
            height: 40px;
            background: linear-gradient(to right, rgb(0,153,153), rgb(0,130,209));
        }
        .homeRow {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 0px 20px;
            align-items: center;
        }
        .displayText {
            color: white;
            font-size: 24px;
        }
        #scheduleTile {
            /* background-color: red; */
        }
        #homeTile {
            /* background-color: blue; */
            /* background: linear-gradient(to bottom, #ddd, #999) !important; */
        }
        #coursesTile {
            /* background-color: black; */
            justify-content: start;
        }
        #calendarTile {
            /* background-color: purple; */
            justify-content: start;
        }
        .dayHeader {
            width: 100%;
            text-align: center;
            /* color: #00358c */
        }
        .accountIcon {
            width: 30px;
            height: 30px;
            margin-top: 10px;
        }
        .accountIcon img {
            width: 100%;
            height: 100%;
        }
        .refreshIcon {
                width: 30px;
                height: 30px;
                margin-top: 10px;
        }
        .eventsHolder {
                width: 100%;
                height: 50px;
                overflow: auto;
        }
        .eventBlock {
                width: 90%;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: white;
                /* background: #f5ffe2; */
                text-align: center;
                margin: auto;
                margin-top: 5px;
                margin-bottom: 10px;
                border-radius: 5px;
                font-size: 18px;
                border: 1px solid rgb(210,210,210);
        }
        .blockHolder {
            width: 100%;
            height: 50px;
        }
        .classBlock {
            width: 90%;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: white;
            text-align: center;
            margin: auto;
            margin-top: 5px;
            margin-bottom: 10px;
            border-radius: 5px;
            font-size: 18px;
            border: 1px solid rgb(210,210,210);
        }
        .blockHeader {
            width: 100%;
            text-align: center;
            font-size: 22px;
        }
        .dayTitle {
            font-size: 30px;
            width: 100%;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
            text-decoration: none;
            color: black;
            font-weight: 300;
        }
        .dayHolder {
            width: 100%;
            border-bottom: 1px solid rgb(210,210,210);
            border-top: 1px solid rgb(210,210,210);
            overflow-y: auto;
        }
        .dayBlock {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            background-color: white;
            
        }
        .dayIcon {
            width: 50px;
            height: 50px;
        }
        .iconBubble {
            width: 35px;
            height: 35px;
            border-radius: 8px;
            margin-left: 7.5px;
            margin-top: 7.5px;
            background-color: green;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
        .dayClass {
            width: calc(100% - 50px);
            border-bottom: 1px solid rgb(210,210,210);
            height: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding-right: 10px;
        }
        .bottomClass {
            width: calc(100% - 50px);
            /* border-bottom: 1px solid rgb(210,210,210); */
            height: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding-right: 10px;
        }
        .teacherClassBlock {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
        }
        .teacherName {
            font-style: italic;
            font-size: 11px;
            /* font-weight: 300; */
            color: grey;
        }
        .className {
            font-size: 18px;
        }
        .timeBlock {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            font-size: 18px;
        }
        .calendarTitleBar {
            width: 100%;
            /* height: 30px; */
            font-size: 28px;
            font-weight: 300;
            margin-top: 10px;
        }
        .calendarDaysBar {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            /* padding: 0px 20px; */
            color: orange;
            font-size: 13px;
            margin-top: 10px;
        }
        .calendarBodies {
            width: 100%;
            overflow-x: auto;
            height: 380px;
            /* padding: 10px; */
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .calendarTile {
            width: calc(100% - 20px);
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            /* height: 100%; */
            min-height: 360px;
            border: 1px solid rgb(210,210,210);
            background-color: white;
        }
        .calendarRow {
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            /* border-bottom: 1px solid black; */
        }
        .calendarDay {
            min-width: 14.28%;
            flex-grow: 1;
            text-align: center;
            font-size: 13px;
            padding-top: 5px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
        .boxTitle {
            font-size: 10px;
        }
        .dayEvent {
            width: 6px;
            height: 6px;
            background-color: grey;
            border-radius: 50%;
            margin: auto;
        }
        .empty {
            opacity: 0.3;
        }
        .calendarPopUp {
            width: calc(100% - 20px);
            height: calc(100% - 50px);
            background-color: white;
            position: absolute;
            left: 10px;
            top: calc(100% + 20px);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            transition: top 0.3s linear;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            /* overflow: hidden; */
        }
        .removePopUp {
            width: 50px;
            background-color: grey;
            position: relative;
            top: -20px;
            height: 5px;
            border-radius: 5px;
            margin: auto;
            margin-top: 10px;
        }
        .dateTitle {
            width: 100%;
            font-size: 20px;
            text-align: center;
        }
        .eventBody {
            width: 100%;
            border: 5px solid #bbb;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .eventBodyTime {
            background-color: #bbb;
            padding-right: 3px;
        }
        .eventBodyInfo {
            flex-grow: 1;
            background-color: #b2ffbc;
            overflow-x: auto;
            padding-left: 5px;
            color: #277230;
        }
        .scheduleBodies {
            width: 100%;
            height: calc(100% - 70px);
            overflow-y: auto;
            padding-bottom: 20px;
        }
        .schedule {
            /* width: 95%; */
            width: 100%;
            height: 100%;
            overflow-x: auto;
            
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: auto;
            margin-bottom: 20px;
        }
        .scheduleDay {
            display: inline-block;
            /* border-right: 1px solid black; */
            /* width: 20%; */
            /* display: flex; */
            /* flex-direction: column; */
            /* flex-wrap: nowrap; */
        }
        .scheduleTitle {
            /* width: 100%; */
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 20px;
            border-bottom: 1px solid black;
            
        }
        .scheduleBlock {
            width: 110px;
            height: 80px;
            min-height: 50px;
            /* height: 150px; */
            /* height: 120px; */
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: white;
            font-size: 12px;
        }
        .scheduleBlock div {
            margin-top: 5px;
            text-align: center;
        }
        .homeTabView {
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            border-top: 1px solid rgba(255,255,255,0.5);
            /* background-color: black; */
        }
        .tab {
            width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: white;
            border-right: 1px solid rgba(255,255,255,0.5);
            font-size: 10px;
        }
        .selectedTab {
            background-color: rgba(255,255,255,0.4);
        }
        .noBorder  {
            border: none !important;
        }
        .fa-chevron-right {
            margin-left: 10px;
            color: orange;
        }
        .alert {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 5px;
            padding-right: 5px;
            width: 95%;
            border: 1px solid black;
            position: absolute;
            top: 20%;
            top: -200px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #d9edf7;
            border-color: #bcdff1;
            color: #31708f;
            border-radius: 5px;
            -webkit-box-shadow: 13px 17px 43px -19px rgba(0,0,0,0.75);
            -moz-box-shadow: 13px 17px 43px -19px rgba(0,0,0,0.75);
            box-shadow: 13px 17px 43px -19px rgba(0,0,0,0.75);
            transition: top 0.2s linear;
        }
        @media screen and (max-height: 520px) {
            .homeHeader {
                height: 0px;
            }
            .homeRow {
                display: none;
            }
            .backdrop {
                height: calc(100% - 40px);
            }
        }
        @media screen and (min-width: 768px) {
            .backdrop {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                background-color: rgb(240,240,240);
                overflow-y: auto;
                
            }
            .bodyTile {
                width: 350px;
                height: 500px;
                margin-left: 50px;
                margin-right: 50px;
                margin-top: 10px;
                margin-bottom: 10px;
                border: 1px solid rgb(210,210,210);
            }
        }
    </style>
    </head>
    <body onunload="unload()">
        <div class="homeHolder" id = "homeHolder">
        <div class="homeHeader">
            <div class="homeRow">
                <div class="accountIcon"><img src = "/public/icons/accountIcon.svg" /></div>
                <div class="displayText">Home</div>
                <div class="refreshIcon"></div>
            </div>
            <!-- <div class="homeTabView">
                <div class="tab" onclick = "moveTab(0)"><i class="fas fa-calendar-week"></i>Schedule</div>
                <div class="tab selectedTab" onclick = "moveTab(1)"><i class="fas fa-home"></i>Home</div>
                <div class="tab" onclick = "moveTab(2)"><i class="far fa-list-alt"></i>Courses</div>
                <div class="tab noBorder" onclick = "moveTab(3)"><i class="fas fa-calendar-alt"></i>Calendar</div>
            </div> -->
        </div>
        <div class = "backdrop" id = "backdrop">
            <div id = "scheduleTile" class="bodyTile">
                <div class="scheduleBodies">
                    <% for (var i = 0; i < readSchedule.length; i++) { %>
                        <div class="schedule">
                            <% for (var key in readSchedule[i]) { %>
                                <div class="scheduleDay">
                                    <div class="scheduleTitle">
                                        <%=titles[i][key]%>
                                    </div>
                                    <% for (var j = 0; j < readSchedule[i][key].length; j++) { %>
                                        <div class="scheduleBlock" style = "height: <%=readSchedule[i][key][j][2]%>px; background-color: <%=colorMap[readSchedule[i][key][j][0].block]%>">
                                            <div class="scheduleCourse"><%=readSchedule[i][key][j][0].course%></div>
                                            <% if (readSchedule[i][key][j][0].teacher != "Free") { %>
                                                <div class="scheduleTeacher"><%=readSchedule[i][key][j][0].teacher%></div>
                                            <% } %>
                                            <div class="scheduleTime"><%=readSchedule[i][key][j][1]%></div>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div id = "homeTile" href = "#homeTile" class="bodyTile">
                <div class="dayHeader" style="font-size: 40px">
                    <% if (today[1]) { %>
                        <%=titles[today[0][0]]["day" + (today[0][1]+1).toString()]%>    
                    <% } else { %>
                        Off! 
                    <% } %>
                    
                </div>
                <div class="eventsHolder">
                    <% for (var i = 0; i < soonEvents.length; i++) { %>
                        <div class="eventBlock"><%=soonEvents[i].time%> : <%=soonEvents[i].info%></div>
                    <% } %>
                    <% if (soonEvents.length == 0) { %>
                        <div class="eventBlock" style = "margin-top: 0; margin-bottom: 0">No Upcoming Events!</div>
                    <% } %>
                    
                </div>
                <div id="currentBlock" class = "blockHolder">
                    <div class="blockHeader">Current Class: </div>
                    <div class="classBlock">
                        <%=currentBlock[0]%> : <%=currentBlock[1].course%>
                    </div>
                </div>
                <div id="nextBlock" class = "block">
                    <div class="blockHeader">Next Class: </div>
                    <div class="classBlock"><%=nextBlock[0]%> : <%=nextBlock[1].course%></div>
                </div>
            </div>
            <div id = "coursesTile" class="bodyTile">
                <div class="dayTitle"><a href = "/courses" style = "text-decoration: none; color: black">Today</a></div>
                <div class="dayHolder">
                    <% for (var i = 0; i < courses.length; i++) { %>
                        <% if (i == courses.length-1) { %>
                            <!-- <div class="dayBlock"> -->
                            <div class="dayBlock" onclick = "<%=courses[i][1].isReal ? `window.location='course?courseId=${courses[i][1]._id}'` : `` %>">
                                <div class="dayIcon">
                                    <div class="iconBubble" style = "background: <%=categories[courses[i][1].category.category.toLowerCase()] ? categories[courses[i][1].category.category.toLowerCase()][1] : categories['other'][1]%>">
                                        <%-categories[courses[i][1].category.category.toLowerCase()] ? categories[courses[i][1].category.category.toLowerCase()][0] : categories['other'][0]%>
                                    </div>
                                </div>
                                <div class="bottomClass">
                                    <div class="teacherClassBlock">
                                        <div class="className"><%=courses[i][1].course%></div>
                                        <div class="teacherName"><%=courses[i][1].teacher%></div>
                                    </div>
                                    <div class="timeBlock">
                                        <%=courses[i][0]%>
                                        <%- courses[i][1].isReal ? '<i class="fas fa-chevron-right"></i>' : ""%>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <!-- <div class="dayBlock"> -->
                            <div class="dayBlock" onclick = "<%=courses[i][1].isReal ? `window.location='course?courseId=${courses[i][1]._id}'` : `` %>">
                                <div class="dayIcon">
                                        <div class="iconBubble" style = "background-color: <%=categories[courses[i][1].category.category.toLowerCase()] ? categories[courses[i][1].category.category.toLowerCase()][1] : categories['other'][1]%>">
                                        <%-categories[courses[i][1].category.category.toLowerCase()] ? categories[courses[i][1].category.category.toLowerCase()][0] : categories['other'][0]%>
                                    </div>
                                </div>
                                <div class="dayClass">
                                    <div class="teacherClassBlock">
                                        <div class="className"><%=courses[i][1].course%></div>
                                        <div class="teacherName"><%=courses[i][1].teacher%></div>
                                    </div>
                                    <div class="timeBlock">
                                        <%=courses[i][0]%>
                                        <%- courses[i][1].isReal ? '<i class="fas fa-chevron-right"></i>' : ""%>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div id = "calendarTile" class="bodyTile">
                <div class="calendarTitleBar">
                    <div id="calendarMonth">
                        <%=monthNames[0]%>
                    </div>
                    <div class="backForthArrows">
                        <div class="arrowLeft">

                        </div>
                        <div class="arrowRight">

                        </div>
                    </div>
                </div>
                <div class="calendarDaysBar">
                    <div class="calendarDayTitle">Sun</div>
                    <div class="calendarDayTitle">Mon</div>
                    <div class="calendarDayTitle">Tue</div>
                    <div class="calendarDayTitle">Wed</div>
                    <div class="calendarDayTitle">Thu</div>
                    <div class="calendarDayTitle">Fri</div>
                    <div class="calendarDayTitle">Sat</div>
                </div>
                <div class="calendarBodies" id = "calendarBodies">
                    <%let initialOffset = offset%>
                    <% for (var i = 0; i < monthLengths.length; i++) { %>
                        <% let currentMonth = (new Date(startDate[0], startDate[1]+i, 1)).getMonth()%>
                        <% let pastDue = true%>
                        <div class="calendarTile" month="<%=monthNames[i]%>">
                            <% for (var j = 0; j < 6; j++) { %>
                                <div class="calendarRow">
                                    <% for (var k = 0; k < 7; k++) { %>
                                        <% if (j*7 + k >= initialOffset) { %>
                                            <% let previousDate = new Date(startDate[0], startDate[1] + i, startDate[2] + 7*j+k-initialOffset-1)%>
                                            <% let todayDate = new Date(startDate[0], startDate[1] + i, startDate[2] + 7*j+k-initialOffset)%>
                                            <% if (todayDate.getMonth() > currentMonth || (currentMonth == 11 && todayDate.getMonth() == 0)) { %>
                                                <div class="calendarDay empty">
                                                    <div class="dayDate">
                                                        <%= todayDate.getDate()%>
                                                    </div>
                                                    <div class="boxTitle">
        
                                                    </div>
                                                    <div class="dayEvent" style = "visibility: hidden">
        
                                                    </div>
                                                </div>
                                            <% }  else { %>
                                                <% let today = eventMap[`${todayDate.getFullYear()}_${todayDate.getMonth()}_${todayDate.getDate()}`]; %>
                                                <% if (today) { %>
                                                    <% let events = [] %>
                                                    <% for (var l = 0; l < today[3].length; l++) { %>
                                                        <% events.push({time: today[3][l].time, info: today[3][l].info}); %>
                                                    <% } %>
                                                    <div class="calendarDay" onclick = "extendCalendarPopup('<%=moment([todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate()]).format('MMMM D, YYYY')%>', '<%=JSON.stringify(events)%>')">
                                                        <div class="dayDate">
                                                            <%= todayDate.getDate()%>
                                                        </div>
                                                        <div class="boxTitle">
                                                            <%= today[1] ? titles[today[0][0]]["day" + (today[0][1]+1).toString()] : ""%>
                                                        </div>
                                                        <div class="dayEvent" style = "visibility: <%=today[2] ? 'visible' : 'hidden'%>">
                                                            
                                                        </div>
                                                    </div>
                                                <% } else { %>
                                                    <div class="calendarDay empty" onclick = "extendCalendarPopup('<%=moment([todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate()]).format('MMMM D, YYYY')%>', [])">
                                                        <div class="dayDate">
                                                            <%= todayDate.getDate()%>
                                                        </div>
                                                        <div class="boxTitle">
            
                                                        </div>
                                                        <div class="dayEvent" style = "visibility: hidden">
            
                                                        </div>
                                                    </div>
                                                <% } %>
                                            <% } %>
                                        <% } else { %>
                                            <div class="calendarDay empty">
                                                <div class="dayDate">
                                                    <% let oldDate = new Date(startDate[0], startDate[1]+i, 0) %>
                                                    <%= oldDate.getDate()-initialOffset+j*7+k+1%>
                                                </div>
                                                <div class="boxTitle">

                                                </div>
                                                <div class="dayEvent" style = "visibility: hidden">

                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </div>    
                            <% } %>
                        </div>
                        <% initialOffset = (initialOffset + monthLengths[i])%7%>
                    <% } %>
                    <div style = "width: 1px; height: 300px"></div>
                </div>
                <div class="calendarPopUp" id = "calendarPopUp">
                    <div class="removePopUp" onclick = "removePopUp()"></div>
                    <div class="dateTitle" id = "dateTitle"></div>
                    <div id = "eventsHolder"></div>
                </div>
            </div>
        </div>
        <div class="bottomTabBar">
                <div class="homeTabView">
                    <div class="tab" onclick = "moveTab(0)"><i class="fas fa-calendar-week"></i>Schedule</div>
                    <div class="tab selectedTab" onclick = "moveTab(1)"><i class="fas fa-home"></i>Home</div>
                    <div class="tab" onclick = "moveTab(2)"><i class="far fa-list-alt"></i>Courses</div>
                    <div class="tab noBorder" onclick = "moveTab(3)"><i class="fas fa-calendar-alt"></i>Calendar</div>
                </div>
        </div>
    </div>
    <div class="alert">
        <Strong>Notice!</Strong> xyz yeet yeet yeet
    </div>
  </body>
  <script>

    function unload() {
        var request = new XMLHttpRequest();
        request.open('GET', '/monitorUsage?page=/&id=<%=userId%>', true);
        request.send(null);
    }
    function extendCalendarPopup(dateString, events) {
// 
        

        events = JSON.parse(events);
        
        let popup = document.getElementById("calendarPopUp");
        popup.style.top = "50px";
        var myNode = document.getElementById("eventsHolder");
        while (myNode.firstChild) {
            myNode.removeChild(myNode.firstChild);
        }
        for (var i = 0; i < events.length; i++) {
            let event = document.createElement("div");
            event.className = "eventBody";
            let time = document.createElement("div");
            time.className = "eventBodyTime";
            let info = document.createElement("div");
            info.className = "eventBodyInfo";
            time.innerHTML = events[i].time;
            info.innerHTML = events[i].info;
            event.appendChild(time);
            event.appendChild(info);
            myNode.appendChild(event);
        }
        if (events.length == 0) {
            let event = document.createElement("div");
            event.className = "eventBody";
            let time = document.createElement("div");
            time.className = "eventBodyTime";
            let info = document.createElement("div");
            info.className = "eventBodyInfo";
            time.innerHTML = "";
            info.innerHTML = "No Events!";
            event.appendChild(time);
            event.appendChild(info);
            myNode.appendChild(event);
        }
        document.getElementById("dateTitle").innerHTML = dateString;
    }
    function removePopUp() {
        let popup = document.getElementById("calendarPopUp");
        popup.style.top = "calc(100% + 20px)";
    }
    let currentBodyIndex = 1;
    let backdrop = document.getElementById("backdrop");
    let bodies = document.getElementById("calendarBodies");
    let width = window.innerWidth;
    backdrop.addEventListener("touchend", function(touch) {
        
    });
    function moveTab(index) {
        let tabs = document.getElementsByClassName("tab");
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove("selectedTab");
            if (i == index) {
                tabs[i].classList.add("selectedTab");
            }
        }
        $("#backdrop").animate({scrollLeft: index*width}, 200);
    }
    backdrop.addEventListener("touchmove", function(touch) {
        let currentBody = Math.round(backdrop.scrollLeft/width);
        if (currentBody != currentBodyIndex) {
            currentBodyIndex = currentBody;
            let tabs = document.getElementsByClassName("tab");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("selectedTab");
                if (i == currentBodyIndex) {
                    tabs[i].classList.add("selectedTab");
                }
            }
        }
    });
    //change month name;
    bodies.addEventListener("touchmove", function(touch) {
        let child = document.getElementsByClassName("calendarTile")[Math.round(bodies.scrollLeft/(width))].getAttribute("month");
        document.getElementById("calendarMonth").innerText = child;
    })
    bodies.addEventListener("touchend", function(touch) {
        let child = document.getElementsByClassName("calendarTile")[Math.round(bodies.scrollLeft/(width))].getAttribute("month");
        document.getElementById("calendarMonth").innerText = child;
        $("#calendarBodies").animate({scrollLeft: Math.round(bodies.scrollLeft/(width))*(width)}, 150);
    });

    document.onclick = function() {
        let shownAlerts = document.getElementById("shown");
        if (shownAlerts.style.top == "20%") {
            shownAlerts.style.top = "-200px";
        }
    }
    window.onload = function() {
        backdrop.scrollLeft = window.innerWidth;
        let child = document.getElementsByClassName("calendarTile")[4].getAttribute("month");
        document.getElementById("calendarMonth").innerText = child;
        $("#calendarBodies").animate({scrollLeft: Math.round(4)*(width)}, 100);
        let shownAlerts = document.getElementById("shown");
        console.log(shownAlerts);
        shownAlerts.style.top = "20%";
    }
  </script>
</html>
