<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>PVSS student website | Courses</title>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "Edit your courses! make your changes here." />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <script>



      var dataArray = [["MSC-9", "Science 9"], ["MSC-10", "Science 10"],["MBI-11","Biology 11"],["MBI-12","Biology 12"],["MCH-11","Chemistry 11"],["MCH-12","Chemistry 12"], ["MPH-11", "Physics 11"], ["MPH-12","Physics 12"], ["MSCT-11","Horticulture Science 11"], ["MSS-10","Socials 10"], ["MESC-11","Human Geography 11"], ["MSS-11","Socials 11"], ["MHI-12","History 12"], ["MLAW-12","Law 12"], ["MLAWPSYC-12","Law/Psyc 12"], ["MYPS2A-12", "Psyc 12"], ["MPE-10", "PE 10"], ["MPE-11", "PE 11/12"], ["MPE-12", "PE 12"], ["MEN-12", "English 12"], ["MEN-11", "English 11"], ["MLIT-12", "English Literature 12"], ["MFMP-10", "Math 10"], ["MWPM-10", "Workplace Math 10"], ["MAWM-11", "A&W Math 11"], ["MFOM-11", "Foundation of Math 11"], ["MPREC-11", "Precalculus 11"], ["MAWM-12", "A&W Math 12"], ["MCALC-12", "Calculus 12"], ["MFOM-12", "Foundations of Math 12"], ["MPREC-12", "Precalculus 12"], ["XBA-9", "Conc. band 9"], ["MPE-9", "PE 9"], ["MYVP1A-11", "Musical theatre 11"], ["MYIP1A-11", "Leadership 11"], ["MSNSH-12", "Marketing 11/12 (snackshack)"], ["MFR-9", "French 9"], ["MFR-10", "French 10"], ["MFR-11", "French 11"], ["MFR-12", "French 12"], ["MFDN-9", "Foods 9"], ["MBAND-9", "Band 9"], ["MDNC-11", "Dance 11/12"], ["MFDN-11", "Foods 11/12"], ["MFDN-10", "Foods 10"], ["MAC-11", "Accounting 11/12"], ["MJRT-9", "Jr. Trades 9"], ["MWW-9", "Woodworking 9/10"], ["MART-9", "Art 9"], ["MDNC-9", "Dance 9"], ["MART-11", "Art 10/11/12"], ["MAUTO-11", "Auto Shop 11/12"], ["MFAB-11", "Metal Fab. 11/12"], ["MCOMP-9", "computer studies 9"], ["MMA-9", "Math 9"], ["MSS-9", "Socials 9"], ["MENT-10", "entrepreneurship 10"], ["MDM-11","digital media 11/12"], ["MDM-10", "digital media 10"], ["MEN-9", "English 9"], ["MCONC-11", "Concert Band 10/11/12"]];


      let scienceArray = [["Ms.Seiler", "MBI-12", "A"], ["Ms.Seiler", "MSC-10", "B"], ["Ms.Seiler", "MSC-10", "E"], ["Mr.Fraser", "MSC-9", "C"], ["Mr.Fraser", "MCH-12", "E"], ["Mr.Bradshaw", "MPH-11", "E"], ["Mr.Austin", "MPH-12", "A"], ["Mr.Austin", "MBI-11", "C"], ["Mr.Austin", "MBI-11", "E"], ["Mr.Fraser", "MCH-11", "A"], ["Mr.Austin", "MSC-9", "B"], "courseContentScience"];
      let mathArray = [["Mr.Fox", "MMA-9", "A"], ["Mr.Fox", "MFMP-10", "B"], ["Mr.Fox", "MFOM-11", "C"], ["Mr.Fox", "MMA-9", "E"], ["Mr.Bradshaw", "MPREC-12", "D"], ["Mr.Bradshaw", "MPREC-11", "B"], "courseContentMath"];
      let socialsArray = [["Ms.Wood", "MSS-10", "A"], ["Ms.Wood", "MSS-9", "C"], ["Ms.Wood", "MSS-10", "E"], ["Mr.Tujik", "MSS-9", "A"], ["Mr.Hughes", "MLAWPSYC-12", "C"], ["Mr.Hughes", "MESC-11", "D"], ["Ms.Wood", "MLAW-12", "D"], ["Mr.Hughes", "MYPS2A-12", "E"], "courseContentSocials"];
      let englishArray = [["Ms.Staley", "MEN-12", "B"], ["Ms.Staley", "MEN-12", "C"], ["Ms.Staley", "MDM-10", "D"], ["Ms.Cownlin", "MEN-9", "D"], ["Ms.Cowlin", "MEN-9", "E"], ["Ms.Arthurson", "MFR-10", "A"], ["Ms.Arthurson", "MFR-12", "B"],["Ms.Cowlin", "MEN-11", "A"], ["Ms.Cowlin", "MEN-11", "B"], "courseContentEnglish"];
      let otherArray = [["Mr.Majerech", "MCONC-11", "A"], ["Ms.Threatful", "MFDN-9", "D"], ["Ms.Lepine", "MART-9", "E"], ["Ms.Lepine", "MART-11", "A"], ["Ms.Lepine", "MART-11", "C"], ["Ms.Lepine", "MART-11", "D"], ["Mr.Lepine", "MDM-11", "C"], ["Mr.Kocsis", "MPE-10", "C"], ["Mr.Kocsis", "MPE-9", "E"], ["Ms.Kenward", "MFDN-11", "A"], ["Ms.Kenward", "MFDN-10", "C"], ["Ms.Kenward", "MFDN-11", "E"], ["Ms.Gillis", "MDNC-11", "A"], ["Ms.Gillis", "MDNC-9", "D"], ["Mr.Brown", "MPE-10", "C"], ["Mr.Brown", "MPE-11", "D"], ["Mr.Brown", "MPE-9", "E"], ["Mr.Majerech", "MYVP1A-11", "C"], ["Ms.Threatful", "MYIP1A-11", "C"], "courseContentOther"];
      let financeArray = [["Mr.Landry", "MCOMP-9", "C"], ["Mr.Landry", "MENT-10", "D"], ["Mr.Landry", "MAC-11", "B"], ["Mr.Landry", "MSNSH-12", "E"], "courseContentFinance"];
      let tradesArray = [["Mr.Tujik", "MFAB-11", "E"], ["Mr.Tujik", "MAUTO-11", "C"], ["Mr.Lepine", "MWW-9", "A"], ["Mr.Lepine", "MJRT-9", "B"], ["Mr.Lepine", "MWW-9", "D"], "courseContentTrades"];
      let coursesArray = [scienceArray, mathArray, socialsArray, englishArray, financeArray, tradesArray, otherArray];
      function makeCourses() {


        coursesArray.forEach(function(course) {
          console.log(course);
          for (var i = 0; i < course.length-1; i++) {
            let div = document.createElement("div");
            div.setAttribute("class", "courseName " + course[i][2].toUpperCase());
            div.setAttribute("id", (course[i][0].split(".")[0].toUpperCase() == "MR" ? "M_" : "F_") + course[i][0].split(".")[1].toUpperCase() + "_" + course[i][1] + "_" + course[i][2].toUpperCase());
            div.setAttribute("onclick", "addCourse(this)");
            for (var j = 0; j < dataArray.length; j++) {
              if (dataArray[j][0] == course[i][1]) {
                div.innerHTML = course[i][0] + "'s " + dataArray[j][1] + " (" + course[i][2].toUpperCase() + " block)";
              }
            }
            document.getElementById(course[course.length-1]).appendChild(div);
          }
        });


      }





      let codes = [];
      let blocks = [];
      let teachers = [];

      function expandFunction(element) {
        element.classList.toggle("displayed");
      }

      function addCourse(element) {
        element.parentNode.parentNode.classList.toggle("displayed");
        var parsedData = element.id.split("_");
        codes.push(parsedData[2]);
        console.log(codes);
        blocks.push(parsedData[3]);
        teachers.push((parsedData[0] === "M" ? "Mr." : "Ms.") + parsedData[1].charAt(0) + parsedData[1].slice(1).toLowerCase());
        var displayData = [];
        displayData.push(parsedData[0] === "M" ? "Mr. " : "Ms. ");
        displayData.push(parsedData[1].charAt(0).toUpperCase() + parsedData[1].toLowerCase().slice(1) + "'s ");
        for (var i = 0; i < dataArray.length; i++) {
          if (dataArray[i][0] == parsedData[2]) {

            document.getElementById(parsedData[3]).innerHTML = dataArray[i][1] + "<br>" + ((parsedData[0] === "M" ? "Mr." : "Ms.") + parsedData[1].charAt(0) + parsedData[1].slice(1).toLowerCase());
            displayData.push(dataArray[i][1]);
            break;
          }
        }
        displayData.push(" block " + parsedData[3] + " course");
        displayData = displayData.join("");
        document.getElementById("displayCourses").innerHTML += displayData + "<br>";
        var courseWithBlock = document.getElementsByClassName(parsedData[3]);
        var length = courseWithBlock.length;


        for (var i = 0; i < length; i++) {
          courseWithBlock[0].remove();
        }


      }

      function postFunction() {
        let form = document.createElement("form");
        form.method = "POST";
        form.action = "/courses";
        for (var i = 0; i  < codes.length; i++) {
          let input1 = document.createElement("input");
          input1.type = "hidden";
          input1.name = "coursesCode";
          input1.value = codes[i];
          let input2 = document.createElement("input");
          input2.type = "hidden";
          input2.name = "coursesBlock";
          input2.value = blocks[i];
          let input3 = document.createElement("input");
          input3.type = "hidden";
          input3.name = "coursesTeacher";
          input3.value = teachers[i];
          form.appendChild(input1);
          form.appendChild(input2);
          form.appendChild(input3);
        }

        document.body.appendChild(form);

        form.submit();
      }
      window.onload = function() {
        makeCourses();
      }



    </script>
    <style>
      @font-face {
        font-family: sansFont;
        src: url("<%=font%>")
      }
      :root {
        --bg-color: <%=colours.bgColor%>;
        --info-color: <%=colours.infoColor%>;
        --button-color: <%=colours.buttonColor%>;
        --border-color: <%=colours.borderColor%>;
        --text-color: <%=colours.textColor%>;
      }

      * {
        font-family: sansFont, sans-serif;
        box-sizing: border-box;
        color: var(--text-color);
      }
      html {
        -webkit-text-size-adjust: 100%;
      }
      body {
        padding: 0px;
        margin: 0px;
        background-color: var(--bg-color);
      }
      label {

      }
      .courseHolder {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        margin-top: 10px;
        overflow: auto;
      }

      .display {
        padding: 10px;
        font-size: 15px;

      }
      .done {
        width: 100%;
        height: 60px;
        display: block;
        font-size: 25px;
        background-color: var(--button-color);
        border: 2px solid var(--border-color);
        border-radius: 9px;
        outline: none;
        position: fixed;
        bottom: 0px;
      }


      #header {
        display: block;
        margin: auto;
        width: 200px;
        font-size: 20px;
        margin-top: 5px;
      }
      .later {
        width:60px;
        height: 30px;
        background-color: var(--button-color);
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 10px;
      }
      .later a {
        text-decoration: none;
        font-size: 15px;
        color: var(--text-color);

      }

      .course {
        padding: 5%;
        background-color: var(--info-color);
        border: 1px solid var(--border-color);
        text-align: center;
        font-size: 18px;
        border-radius: 5px;
      }
      .courseContent {
        display: none;
        font-size: 13px;
        text-align: center;
      }
      .displayed .courseContent {
        display: block;
      }
      .courseName {
        width: 100%;
        padding: 7px;
        border: 1px solid var(--border-color);
        font-size: 14px;
      }

      .displayCourses {
        font-size: 15px;
      }
      .classInfo {
        width: 95%;
        display: block;
        text-align: center;
        background-color: var(--info-color);
        margin: auto;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
      }
      .preview {
        display: block;
        width: 150px;
        margin: auto;
        border-collapse: collapse;
      }
      .previewBox {
        height: 100px;
        width: 150px;
      }
      .extraBox {
        height: 50px;
        width: 150px;
      }
      .preview td {
        border: 2px solid black;
      }
      @media screen and (min-width: 768px) {
        .courseHolder {
          display: flex;
        }
        .course {
          flex-grow: 1;
          padding: 0px;
          padding-top: 5%;
          padding-bottom: 5%;

        }
        .courseContent {


        }
        .courseName {

          width: 80%;
          display: block;
          margin: auto;
        }
      }



    </style>
  </head>
  <body>
    <div style = "margin-top: 40px" class = "classInfo">
      Note: the blocks are determined by their position from school start on monday (day 1) <br>
      <h3 style = "display: inline">A</h3 style = "display: inline">: 9:10AM-10:12AM
      <br>
      <h3 style = "display: inline">B</h3 style = "display: inline">: 10:15AM-11:17AM
      <br>
      <h3 style = "display: inline">C</h3 style = "display: inline">: 11:29AM-12:31PM
      <br>
      <h3 style = "display: inline">D</h3 style = "display: inline">: 1:16PM-2:18PM
      <br>
      <h3 style = "display: inline">E</h3 style = "display: inline">: 2:21PM-3:23PM
      <br>
    </div>
    <div id = "courses" class = "courses" style = "overflow: auto">
      <button type = "button" class = "later"><a href = "/">later</a></button>
      <div class = "courseHolder" id = "courseHolder">
        <div class = "course" id = "science" onclick = "expandFunction(this)">
          Science
          <div class = "courseContent" id = "courseContentScience">
            Click on a class to select it as one of yours<br>
            Click on the header to close
          </div>
        </div>
        <div class = "course" id = "math" onclick = "expandFunction(this)">
          math
          <div class = "courseContent" id = "courseContentMath">
            Click on a class to select it as one of yours<br>
            Click on the header to close
          </div>
        </div>
        <div class = "course" id = "socials" onclick = "expandFunction(this)">
          Socials
          <div class = "courseContent" id = "courseContentSocials">
            Click on a class to select it as one of yours<br>
            Click on the header to close
          </div>
        </div>
        <div class = "course" id = "english" onclick = "expandFunction(this)">
          Language
          <div class = "courseContent" id = "courseContentEnglish">
            Click on a class to select it as one of yours<br>
            Click on the header to close

          </div>
        </div>
        <div class = "course" id = "Finance" onclick = "expandFunction(this)">
          Finance
          <div class = "courseContent" id = "courseContentFinance">
            Click on a class to select it as one of yours<br>
            Click on the header to close

          </div>
        </div>
        <div class = "course" id = "Trade" onclick = "expandFunction(this)">
          Trades
          <div class = "courseContent" id = "courseContentTrades">
            Click on a class to select it as one of yours<br>
            Click on the header to close
          </div>
        </div>
        <div class = "course" id = "other" onclick = "expandFunction(this)">
          Other
          <div class = "courseContent" id = "courseContentOther">
            Click on a class to select it as one of yours<br>
            Click on the header to close

          </div>
        </div>

      </div>
      <div class = "displayCourses" id = "displayCourses" style = "width: 100%; text-align: center; margin-top: 50px; margin-bottom: 100px;">
        Preview of monday (day 1):
        <table class = "preview">
          <tr><td class = "previewBox" id = "A">LC's</td></tr>
          <tr><td class = "previewBox" id = "B">LC's</td></tr>
          <tr><td class = "extraBox" id = "TA">TA</td></tr>
          <tr><td class = "previewBox" id = "C">LC's</td></tr>
          <tr><td class = "extraBox" id = "LUNCH">LUNCH</td></tr>
          <tr><td class = "previewBox" id = "D">LC's</td></tr>
          <tr><td class = "previewBox" id = "E">LC's</td></tr>
        </table>
        <button onclick = "location.reload()" style = "width: 150px; display: block; margin: auto; height: 40px; background-color: var(--button-color); font-size: 18px; color: var(--text-color)">Reset</button>
      </div>
      <button type = "button" class = "done" onclick = "postFunction()">
        Done!
      </button>
    </div>
  </body>
</html>
