<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>PVSS student website | Courses</title>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "Edit your courses! make your changes here." />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <script>










      let courseIDs = [];

      function expandFunction(element) {
        element.classList.toggle("displayed");
      }

      function addCourse(element, block, course) {
        element.parentNode.parentNode.classList.toggle("displayed");
        let id = element.id;
        courseIDs.push(id);
        document.getElementById("displayCourses").innerHTML += element.innerHTML + "<br>";
        document.getElementById(block).innerHTML = course;
        var courseWithBlock = document.getElementsByClassName(block);
        var length = courseWithBlock.length;
        for (var i = 0; i < length; i++) {
          courseWithBlock[0].remove();
        }
      }

      function postFunction() {
        let form = document.createElement("form");
        form.method = "POST";
        form.action = "/courses";
        for (var i = 0; i  < courseIDs.length; i++) {
          let input = document.createElement("input");
          input.type = "hidden";
          input.name = "coursesID";
          input.value = courseIDs[i];
          form.appendChild(input);
        }
        document.body.appendChild(form);
        form.submit();
      }




    </script>
    <style>
      @font-face {
        font-family: sansFont;
        src: url("<%=font%>")
      }
      :root {
        --bg-color: <%=colours.bgColor%>;
        --info-color: <%=colours.infoColor%>;
        --button-color: <%=colours.buttonColor%>;
        --border-color: <%=colours.borderColor%>;
        --text-color: <%=colours.textColor%>;
      }

      * {
        font-family: sansFont, sans-serif;
        box-sizing: border-box;
        color: <%=colours.textColor%>;
      }
      html {
        -webkit-text-size-adjust: 100%;
      }
      body {
        padding: 0px;
        margin: 0px;
        background-color: <%=colours.bgColor%>;
      }
      label {

      }
      .courseHolder {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        margin-top: 10px;
        overflow: auto;
      }

      .display {
        padding: 10px;
        font-size: 15px;

      }
      .done {
        width: 100%;
        height: 60px;
        display: block;
        font-size: 25px;
        background-color: <%=colours.buttonColor%>;
        border: 2px solid <%=colours.borderColor%>;
        border-radius: 9px;
        outline: none;
        position: fixed;
        bottom: 0px;
      }


      #header {
        display: block;
        margin: auto;
        width: 200px;
        font-size: 20px;
        margin-top: 5px;
      }
      .later {
        width:60px;
        height: 30px;
        background-color: <%=colours.buttonColor%>;
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 10px;
      }
      .later a {
        text-decoration: none;
        font-size: 15px;
        color: <%=colours.textColor%>;

      }

      .course {
        padding: 5%;
        background-color: <%=colours.infoColor%>;
        border: 1px solid <%=colours.borderColor%>;
        text-align: center;
        font-size: 18px;
        border-radius: 5px;
      }
      .courseContent {
        display: none;
        font-size: 13px;
        text-align: center;
      }
      .displayed .courseContent {
        display: block;
      }
      .courseName {
        width: 100%;
        padding: 7px;
        border: 1px solid <%=colours.borderColor%>;
        font-size: 14px;
      }

      .displayCourses {
        font-size: 15px;
      }
      .classInfo {
        width: 95%;
        display: block;
        text-align: center;
        background-color: <%=colours.infoColor%>;
        margin: auto;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
      }
      .preview {
        display: block;
        width: 150px;
        margin: auto;
        border-collapse: collapse;
      }
      .previewBox {
        height: 100px;
        width: 150px;
      }
      .extraBox {
        height: 50px;
        width: 150px;
      }
      .preview td {
        border: 2px solid black;
      }
      @media screen and (min-width: 768px) {
        .courseHolder {
          display: flex;
        }
        .course {
          flex-grow: 1;
          padding: 0px;
          padding-top: 5%;
          padding-bottom: 5%;

        }
        .courseContent {


        }
        .courseName {

          width: 80%;
          display: block;
          margin: auto;
        }
      }



    </style>
  </head>
  <body>
    <% if (schoolName = "PVSS") { %>

    <% } %>
    <div style = "margin-top: 40px" class = "classInfo">
      <h2>EXPERIMENTAL FEATURE : REMOTE CLASS ADDING. Click <a href = "/remote-schedule">Here</a> To Try</h2>
    </div>
    <div style = "margin-top: 40px" class = "classInfo">
      Note: the blocks are determined by their position from school start on monday (day 1) <br>
      <h3 style = "display: inline">A</h3 style = "display: inline">: 9:10AM-10:12AM
      <br>
      <h3 style = "display: inline">B</h3 style = "display: inline">: 10:15AM-11:17AM
      <br>
      <h3 style = "display: inline">C</h3 style = "display: inline">: 11:29AM-12:31PM
      <br>
      <h3 style = "display: inline">D</h3 style = "display: inline">: 1:16PM-2:18PM
      <br>
      <h3 style = "display: inline">E</h3 style = "display: inline">: 2:21PM-3:23PM
      <br>
    </div>
    <div id = "courses" class = "courses" style = "overflow: auto">
      <button type = "button" class = "later"><a href = "/">later</a></button>
      <div class = "courseHolder" id = "courseHolder">
        <% for (var j = 0; j < categories.length; j++) { %>
          <div class = "course" onclick = "expandFunction(this)">
            <%=categories[j].category%>
            <div class = "courseContent">
              Click on a class to select it as one of yours
              <br>
              Click on the header to close
              <% for (var i = 0; i < courses.length; i++) { %>
                <% if (courses[i].category.toString() == categories[j]._id.toString()) { %>
                  <div class = "courseName <%=courses[i].block%>" id = "<%=courses[i]._id%>" onclick = "addCourse(this, '<%=courses[i].block%>', '<%=courses[i].course%>')">
                    <%=courses[i].teacher.prefix%><%=courses[i].teacher.lastName%>'s
                    <%=courses[i].course%>
                    (<%=courses[i].block%> block)
                  </div>
                <% } %>
              <% } %>
            </div>
          </div>
        <% } %>
        <!-- <div class = "course" onclick = "expandFunction(this)">
          Other
          <div class = "courseContent">
            Click on a class to select it as one of yours
            <br>
            Click on the header to close
            <% for (var i = 0; i < courses.length; i++) { %>
              <% if (!courses[i].category || categories.indexOf(courses[i].category) < 0) { %>
                <div class = "courseName <%=courses[i].block%>" id = "<%=courses[i]._id%>" onclick = "addCourse(this, '<%=courses[i].block%>', '<%=courses[i].course%>')">
                  <%=courses[i].teacher%>'s
                  <%=courses[i].course%>
                  (<%=courses[i].block%> block)
                </div>
              <% } %>
            <% } %>
          </div>
        </div> -->
      </div>
      <div class = "displayCourses" id = "displayCourses" style = "width: 100%; text-align: center; margin-top: 50px; margin-bottom: 100px;">
        Preview of monday (day 1):
        <table class = "preview">
          <tr><td class = "previewBox" id = "A">LC's</td></tr>
          <tr><td class = "previewBox" id = "B">LC's</td></tr>
          <tr><td class = "extraBox" id = "TA">TA</td></tr>
          <tr><td class = "previewBox" id = "C">LC's</td></tr>
          <tr><td class = "extraBox" id = "LUNCH">LUNCH</td></tr>
          <tr><td class = "previewBox" id = "D">LC's</td></tr>
          <tr><td class = "previewBox" id = "E">LC's</td></tr>
        </table>
        <button onclick = "location.reload()" style = "width: 150px; display: block; margin: auto; height: 40px; background-color: <%=colours.buttonColor%>; font-size: 18px; color: <%=colours.textColor%>">Reset</button>
      </div>
      <button type = "button" class = "done" onclick = "postFunction()">
        Done!
      </button>
    </div>
  </body>
</html>
