<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <title></title>
    <style>
      @font-face {
        font-family: sansFont;
        src: url("<%=font%>")
      }
      * {
        font-family: sansFont, sans-serif;
        box-sizing: border-box;
        color: var(--text-color);
      }
      .bodyContents {
        width: <%=schedule.length*1500%>px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
      }
      .scheduleTable {
        margin: auto;
        width: 1400px;
        margin-top: 50px;
        margin-bottom: 100px;
      }
      .headerHolder {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .header {
        flex-grow: 1;
        height: 70px;
        border: 1px solid black;
        text-align: center;
      }
      .addBlock {
        width: 95%;
        display: block;
        margin: auto;
        background-color: #aaa;
        margin-bottom: 10px;
        cursor: pointer;
      }
      .blockBody {
        width: 100%;
        height: 1400px;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .blockDay {
        flex-grow: 1;
        height: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
      .dayBlock {
        border: 1px solid black;
      }
      .removeBlock {
        width: 80%;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 5px;
        cursor: pointer;
      }
      .timeDisplay {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
      }
      .editTime {
        width: 80%;
        margin: auto;
        text-align: center;
        cursor: pointer;
      }
      .modal {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: black;
        opacity: 0.7;
        display: none;
      }
      .enterTimeBox {
        width: 300px;
        height: 200px;
        background-color: white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 4;
      }
      .enterTime {
        display: block;
        margin: auto;
        font-size: 18px;
      }
      label {
        font-size: 18px;
        display: block;
        text-align: center;
      }

      .enterTimeButton {
        font-size: 18px;
        width: 100px;
        height: 50px;
        display: block;
        margin: auto;
        margin-top: 10px;
      }
      .submitSchedule {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 300px;
        text-align: center;
        border-radius: 8px;
        background-color: #ddd;
        position: fixed;
        bottom: 10px;
        left: 55px;
        cursor: pointer;
      }
      .displayBlock {
        margin-top: 5px;
        text-align: center;
      }
      .changeBlock {
        width: 80%;
        margin: auto;
        margin-bottom: 5px;
        text-align: center;
        cursor: pointer;
      }
      .changeBlockBox {
        width: 300px;
        height: 130px;
        background-color: white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 4;
      }
      .changeBlockSelect {
        display: block;
        font-size: 18px;
        width: 100px;
        height: 50px;
        margin: auto;
        margin-top: 10px;
      }
      .A {
        background-color: #f6511d;
        color: white;
      }
      .B {
        background-color: #c33c54;
        color: white;
      }
      .C {
        background-color: #4c3b4d;
        color: #FFEEd8;
      }
      .D {
        background-color: #698f3f;
        color: #FBFAF8;
      }
      .E {
        background-color: #3c91e6;
        color: #cce98a;
      }
      .A .changeBlock, .A .editTime, .A .removeBlock {
        background-color: #00a6ed;
      }
      .B .changeBlock, .B .editTime, .B .removeBlock {
        background-color: #254e70;
      }
      .C .changeBlock, .C .editTime, .C .removeBlock {
        background-color: #a53860;
      }
      .D .changeBlock, .D .editTime, .D .removeBlock {
        background-color: #0a122a;
      }
      .E .changeBlock, .E .editTime, .E .removeBlock {
        background-color: #342e37;
      }
      .Advisory {
        background-color: black;
        color: white;
        border: 2px solid white;
      }
      .Advisory .changeBlock, .Advisory .editTime, .Advisory .removeBlock {
        background-color: grey;
      }
      .Lunch {
        background-color: black;
        color: white;
        border: 2px solid white;
      }
      .Lunch .changeBlock, .Lunch .editTime, .Lunch .removeBlock {
        background-color: grey;
      }
    </style>
  </head>
  <body>
    <div class = "bodyContents">
      <% for (var j = 0; j < schedule.length; j++) { %>
        <div class = "scheduleTable">
          <div class = "headerHolder">
            <div class = "header"><div class = "addBlock" onclick = "addBlock(<%=j%>, 1)">Add Block</div>Day 1</div>
            <div class = "header"><div class = "addBlock" onclick = "addBlock(<%=j%>, 2)">Add Block</div>Day 2</div>
            <div class = "header"><div class = "addBlock" onclick = "addBlock(<%=j%>, 3)">Add Block</div>Day 3</div>
            <div class = "header"><div class = "addBlock" onclick = "addBlock(<%=j%>, 4)">Add Block</div>Day 4</div>
            <div class = "header"><div class = "addBlock" onclick = "addBlock(<%=j%>, 5)">Add Block</div>Day 5</div>
          </div>
          <div class = "blockBody">
            <% for (var key in schedule[j]) { %>
              <% if (key === "day1") { %>
                <div class = "blockDay" id = "<%=j%>_day1">
                  <% for (var i = 0; i < schedule[j][key].length; i++) { %>
                    <div value = "<%=i+1%>" class = "dayBlock dayBlock1 <%=schedule[j][key][i][0]%>" style = "flex-grow: <%=(schedule[j][key][i][3] + schedule[j][key][i][4]/60 - (schedule[j][key][i][1] + schedule[j][key][i][2]/60))/maxBlock[j][key]%>" id = "<%=j%>_dayBlock1_<%=i+1%>">
                      <div class = "removeBlock" onclick = "removeBlock(<%=j%>, 1, <%=i+1%>)">Remove Block</div>
                      <div class = "timeDisplay" id = "<%=j%>_timeDisplay1_<%=i+1%>"><%=schedule[j][key][i][1].toString() + ":" + schedule[j][key][i][2].toString() + "AM - " + schedule[j][key][i][3].toString() + ":" + schedule[j][key][i][4].toString() + "AM"%></div>
                      <div class = "editTime" onclick = "editTime(<%=j%>, 1,<%=i+1%>)">Edit Time</div>
                      <div class = "displayBlock" id = "<%=j%>_displayBlock1_<%=i+1%>"><%=schedule[j][key][i][0]%></div>
                      <div class = "changeBlock" onclick = "changeBlock(<%=j%>, 1, <%=i+1%>)">Change Block</div>
                    </div>
                  <% } %>
                </div>
              <% } else if (key === "day2") { %>
                <div class = "blockDay" id = "<%=j%>_day2">
                  <% for (var i = 0; i < schedule[j][key].length; i++) { %>
                    <div value = "<%=i+1%>" class = "dayBlock dayBlock2 <%=schedule[j][key][i][0]%>" style = "flex-grow: <%=(schedule[j][key][i][3] + schedule[j][key][i][4]/60 - (schedule[j][key][i][1] + schedule[j][key][i][2]/60))/maxBlock[j][key]%>" id = "<%=j%>_dayBlock2_<%=i+1%>">
                      <div class = "removeBlock" onclick = "removeBlock(<%=j%>, 2, <%=i+1%>)">Remove Block</div>
                      <div class = "timeDisplay" id = "<%=j%>_timeDisplay2_<%=i+1%>"><%=schedule[j][key][i][1].toString() + ":" + schedule[j][key][i][2].toString() + "AM - " + schedule[j][key][i][3].toString() + ":" + schedule[j][key][i][4].toString() + "AM"%></div>
                      <div class = "editTime" onclick = "editTime(<%=j%>, 2,<%=i+1%>)">Edit Time</div>
                      <div class = "displayBlock" id = "<%=j%>_displayBlock2_<%=i+1%>"><%=schedule[j][key][i][0]%></div>
                      <div class = "changeBlock" onclick = "changeBlock(<%=j%>, 2, <%=i+1%>)">Change Block</div>
                    </div>
                  <% } %>
                </div>
              <% } else if (key === "day3") { %>
                <div class = "blockDay" id = "<%=j%>_day3">
                  <% for (var i = 0; i < schedule[j][key].length; i++) { %>
                    <div value = "<%=i+1%>" class = "dayBlock dayBlock3 <%=schedule[j][key][i][0]%>" style = "flex-grow: <%=(schedule[j][key][i][3] + schedule[j][key][i][4]/60 - (schedule[j][key][i][1] + schedule[j][key][i][2]/60))/maxBlock[j][key]%>" id = "<%=j%>_dayBlock3_<%=i+1%>">
                      <div class = "removeBlock" onclick = "removeBlock(<%=j%>, 3, <%=i+1%>)">Remove Block</div>
                      <div class = "timeDisplay" id = "<%=j%>_timeDisplay3_<%=i+1%>"><%=schedule[j][key][i][1].toString() + ":" + schedule[j][key][i][2].toString() + "AM - " + schedule[j][key][i][3].toString() + ":" + schedule[j][key][i][4].toString() + "AM"%></div>
                      <div class = "editTime" onclick = "editTime(<%=j%>, 3,<%=i+1%>)">Edit Time</div>
                      <div class = "displayBlock" id = "<%=j%>_displayBlock3_<%=i+1%>"><%=schedule[j][key][i][0]%></div>
                      <div class = "changeBlock" onclick = "changeBlock(<%=j%>, (3, <%=i+1%>)">Change Block</div>
                    </div>
                  <% } %>
                </div>
              <% } else if (key === "day4") { %>
                <div class = "blockDay" id = "<%=j%>_day4">
                  <% for (var i = 0; i < schedule[j][key].length; i++) { %>
                    <div value = "<%=i+1%>" class = "dayBlock dayBlock4 <%=schedule[j][key][i][0]%>" style = "flex-grow: <%=(schedule[j][key][i][3] + schedule[j][key][i][4]/60 - (schedule[j][key][i][1] + schedule[j][key][i][2]/60))/maxBlock[j][key]%>" id = "<%=j%>_dayBlock4_<%=i+1%>">
                      <div class = "removeBlock" onclick = "removeBlock(<%=j%>, 4, <%=i+1%>)">Remove Block</div>
                      <div class = "timeDisplay" id = "<%=j%>_timeDisplay4_<%=i+1%>"><%=schedule[j][key][i][1].toString() + ":" + schedule[j][key][i][2].toString() + "AM - " + schedule[j][key][i][3].toString() + ":" + schedule[j][key][i][4].toString() + "AM"%></div>
                      <div class = "editTime" onclick = "editTime(<%=j%>, 4,<%=i+1%>)">Edit Time</div>
                      <div class = "displayBlock" id = "<%=j%>_displayBlock4_<%=i+1%>"><%=schedule[j][key][i][0]%></div>
                      <div class = "changeBlock" onclick = "changeBlock(<%=j%>, 4, <%=i+1%>)">Change Block</div>
                    </div>
                  <% } %>
                </div>
              <% } else if (key === "day5") { %>
                <div class = "blockDay" id = "<%=j%>_day5">
                  <% for (var i = 0; i < schedule[j][key].length; i++) { %>
                    <div value = "<%=i+1%>" class = "dayBlock dayBlock5 <%=schedule[j][key][i][0]%>" style = "flex-grow: <%=(schedule[j][key][i][3] + schedule[j][key][i][4]/60 - (schedule[j][key][i][1] + schedule[j][key][i][2]/60))/maxBlock[j][key]%>" id = "<%=j%>_dayBlock5_<%=i+1%>">
                      <div class = "removeBlock" onclick = "removeBlock(<%=j%>, 5, <%=i+1%>)">Remove Block</div>
                      <div class = "timeDisplay" id = "<%=j%>_timeDisplay5_<%=i+1%>"><%=schedule[j][key][i][1].toString() + ":" + schedule[j][key][i][2].toString() + "AM - " + schedule[j][key][i][3].toString() + ":" + schedule[j][key][i][4].toString() + "AM"%></div>
                      <div class = "editTime" onclick = "editTime(<%=j%>, 5,<%=i+1%>)">Edit Time</div>
                      <div class = "displayBlock" id = "<%=j%>_displayBlock5_<%=i+1%>"><%=schedule[j][key][i][0]%></div>
                      <div class = "changeBlock" onclick = "changeBlock(<%=j%>, 5, <%=i+1%>)">Change Block</div>
                    </div>
                  <% } %>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
    <div class = "submitSchedule" onclick = "submitSchedule()">
      Submit Master Schedule
    </div>
    <div style = "position: fixed; bottom: 20px; left: 0">
      <a href  = "/admin" style = "color: black; font-size: 45px; text-decoration: none">&#8592;</a>
    </div>
    <div class = "modal" id = "modal" onclick = "removeModal()"></div>
    <div class = "enterTimeBox" id = "enterTimeBox">
      <label for = "enterStartTime">Start: </label><input  type = "time" name = "enterStartTime" class = "enterTime" id = "enterStartTime"/>
      <label for = "enterEndTime">End: </label><input  type = "time" name = "enterEndTime" class = "enterTime" id = "enterEndTime"/>
      <button type = "button" class = "enterTimeButton" onclick = "enterTime()">Enter</button>
    </div>
    <div class = "changeBlockBox" id = "changeBlockBox">
      <select class = "changeBlockSelect" id = "changeBlockSelect">
        <% for (var i = 0; i < blocks.length; i++) { %>
          <option value = "<%=blocks[i][0]%>_<%=blocks[i][1]%>"><%=blocks[i][0]%></option>
        <% } %>

      </select>
      <button type = "button" class = "enterTimeButton" onclick = "enterBlock()">Enter</button>
    </div>
  </body>
  <script>
    //change type 1 is adding a new block, type 2 is changing the time of a block, type 3 is removing a block, and type 4 is editing the block of a block
    let blockOrderObject = {
      day1: {
        changes: []
      },
      day2: {
        changes: []
      },
      day3: {
        changes: []
      },
      day4: {
        changes: []
      },
      day5: {
        changes: []
      }
    }
    let currentEditedBlock;
    function addBlock(week, dayOfWeek) {
      let div = document.createElement("div");
      div.className = "A dayBlock dayBlock" + dayOfWeek;
      let lengthVal = parseInt((document.getElementById(week.toString() + "_day" + dayOfWeek.toString()).children[document.getElementById(week.toString() + "_day" + dayOfWeek.toString()).children.length-1]).getAttribute("value")) || 0;
      let id = lengthVal;
      console.log(id);
      id+=1;
      div.setAttribute("value", id);
      console.log(id);
      div.id = week.toString() + "_dayBlock" + dayOfWeek.toString() + "_" + id.toString();
      let removeDiv = document.createElement("div");
      removeDiv.setAttribute("onclick", `removeBlock(${week}, ${dayOfWeek}, ${id})`);
      removeDiv.className = "removeBlock";
      removeDiv.innerHTML = "Remove Block";
      div.appendChild(removeDiv);
      let timeDisplay = document.createElement("div");
      timeDisplay.className = "timeDisplay";
      timeDisplay.id = week.toString() + "_timeDisplay" + dayOfWeek.toString() + "_" + id.toString();
      timeDisplay.innerHTML = "9:00AM - 10:00AM";
      div.appendChild(timeDisplay);
      let editTime = document.createElement("div");
      editTime.setAttribute("onclick", `editTime(${week}, ${dayOfWeek}, ${id})`);
      editTime.className = "editTime";
      editTime.innerHTML = "Edit Time";
      div.appendChild(editTime);
      let blockDisplay = document.createElement("div");
      blockDisplay.className = "displayBlock";
      blockDisplay.id = week.toString() + "_displayBlock" + dayOfWeek.toString() + "_" + id.toString();
      blockDisplay.innerHTML = "A";
      div.appendChild(blockDisplay);
      let editBlock = document.createElement("div");
      editBlock.className = "changeBlock";
      editBlock.setAttribute("onclick", `changeBlock(${week}, ${dayOfWeek}, ${id})`)
      editBlock.innerHTML = "Change Block";
      div.appendChild(editBlock);
      let parent = document.getElementById(week.toString() + "_day" + dayOfWeek.toString());
      parent.appendChild(div);
      blockOrderObject["day" + dayOfWeek.toString()].changes.push([9, 10, 10, 12, dayOfWeek, id, 1, "A", "changing"]);
    }
    function removeBlock(week, day, block) {
      let parentNode = document.getElementById(week.toString() + "_day" + day.toString());
      parentNode.removeChild(document.getElementById(week.toString() + "_dayBlock" + day.toString() + "_" + block.toString()));
      blockOrderObject["day" + day.toString()].length--;
      blockOrderObject["day" + day.toString()].changes.push([0, 0, 0, 0, day, block, 3, "A", "constant", week]);

      let dayBlocks = document.getElementsByClassName("dayBlock" + day.toString());
      for (var i = 0; i < dayBlocks.length; i++) {
        dayBlocks[i].id = week.toString() + "_dayBlock" + day.toString() + "_" + (i+1).toString();
        let children = dayBlocks[i].children;
        children[0].setAttribute("onclick", `removeBlock(${week}, ${day}, ${i+1})`);
        children[1].id = week.toString() + "_timeDisplay" + day + "_" + (i+1).toString();
        children[2].setAttribute("onclick", `editTime(${week}, ${day}, ${i+1})`);
        children[3].id = week.toString() + "_displayBlock" + day + "_" + (i+1).toString();
        children[4].setAttribute("onclick", `changeBlock(${week}, ${day}, ${i+1})`);
      }
    }
    function editTime(week, day, block) {
      document.getElementById("enterTimeBox").style.display = "block";
      document.getElementById("modal").style.display = "block";
      currentEditedBlock = [week, day, block];
    }
    function changeBlock(week, day, block) {
      document.getElementById("changeBlockBox").style.display = "block";
      document.getElementById("modal").style.display = "block";
      currentEditedBlock = [week, day, block];
    }
    function removeModal() {
      document.getElementById("enterTimeBox").style.display = "none";
      document.getElementById("changeBlockBox").style.display = "none";
      document.getElementById("modal").style.display = "none";


    }
    function enterTime() {
      let startInput = document.getElementById("enterStartTime");
      let endInput = document.getElementById("enterEndTime");
      startTime = startInput.value;
      endTime = endInput.value;
      let startHour = parseInt(startTime.split(":")[0]);
      let startMinute = parseInt(startTime.split(":")[1]);
      let endHour = parseInt(endTime.split(":")[0]);
      let endMinute = parseInt(endTime.split(":")[1]);

      //.push(startingHour, startingMinute, endingHour, endingMinute, current day thats being edited, current block of that day, type of edit)
      blockOrderObject["day" + currentEditedBlock[1].toString()].changes.push([startHour, startMinute, endHour, endMinute, currentEditedBlock[0], currentEditedBlock[1],2, "A", "changing", currentEditedBlock[0]]);
      startInput.value = "";
      endInput.value = "";
      document.getElementById(currentEditedBlock[0].toString() + "_timeDisplay" + currentEditedBlock[1].toString() + "_" + currentEditedBlock[2].toString()).innerHTML = (startHour%12 == 0 ? 12 : startHour%12).toString() + ":" + startMinute.toString() + (startHour+startMinute/60 >= 12 ? "PM" : "AM") + " - " + (endHour%12 == 0 ? 12 : endHour%12).toString() + ":" + endMinute.toString() + (endHour+endMinute/60 >= 12 ? "PM" : "AM")
      removeModal();
    }
    function enterBlock() {
      let blockInput = document.getElementById("changeBlockSelect").value;
      blockOrderObject["day" + currentEditedBlock[1].toString()].changes.push([0,0,0,0,currentEditedBlock[1], currentEditedBlock[2], 4, blockInput.split("_")[0], blockInput.split("_")[1], currentEditedBlock[0]]);
      document.getElementById(currentEditedBlock[0].toString() + "_displayBlock" + currentEditedBlock[1].toString() + "_" + currentEditedBlock[2].toString()).innerHTML = blockInput.split("_")[0];
      document.getElementById(currentEditedBlock[0].toString() + "_dayBlock" + currentEditedBlock[1].toString() + "_" + currentEditedBlock[2].toString()).className = "dayBlock dayBlock" + currentEditedBlock[1].toString() + " " + blockInput.split("_")[0];
      removeModal();
    }
    function submitSchedule() {
      if (confirm("Are you sure you would like to submit this revised master schedule? This will update everyone's schedule.")) {
        let form = document.createElement("form");
        form.method = "POST";
        form.action = "/admin/block-schedule";
        for (var key in blockOrderObject) {
          for (var i = 0; i < blockOrderObject[key].changes.length; i++) {
            let input = document.createElement("input");
            input.type = "hidden";
            input.name = key + "Changes";
            // console.log(blockOrderObject[key].changes[i][0] + "," + blockOrderObject[key].changes[i][1]+ "," + blockOrderObject[key].changes[i][2] + "," blockOrderObject[key].changes[i][3]);
            input.value = blockOrderObject[key].changes[i][0] + "," + blockOrderObject[key].changes[i][1] + "," + blockOrderObject[key].changes[i][2] + "," + blockOrderObject[key].changes[i][3] + ","  + blockOrderObject[key].changes[i][4] + "," + blockOrderObject[key].changes[i][5] + "," + blockOrderObject[key].changes[i][6] + "," + blockOrderObject[key].changes[i][7] + "," + blockOrderObject[key].changes[i][8] + "," + blockOrderObject[key].changes[i][9];
            form.appendChild(input);
          }
        }
        document.body.appendChild(form);
        form.submit();
      }

    }
  </script>
</html>
