<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "View all of the years events here." />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Calendar</title>
    <script>
      function testFunction(element) {
        console.log(element.childNodes[1]);
        element.childNodes[1].classList.toggle("displayed");
      }
    </script>
    <style>
      :root {
        --bg-color: <%=colours.bgColor%>;
        --info-color: <%=colours.infoColor%>;
        --button-color: <%=colours.buttonColor%>;
        --border-color: <%=colours.borderColor%>;
        --text-color: <%=colours.textColor%>;
      }
      @font-face {
        font-family: sansFont;
        src: url("<%=font%>")
      }
      * {
        font-family: sansFont, sans-serif;
      }

      body {
        margin: 0px;
        padding: 0px;

      }
      html {
        -webkit-text-size-adjust: 100%;
      }
      .holder {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: var(--bg-color);
        overflow: auto;

      }
      .calendar {
        width: 95%;

        height: auto;

        display: block;
        margin: auto;
        margin-top: 30px;
      }
      .shownCalendar {

        margin-bottom: 50px;
        width: 100%;
        font-size: 17px;
        text-align: center;
        border-collapse: collapse;

      }
      .shownCalendar tr td {
        border: 2px solid black;
        width: 14.2857%;
        height: 65px;
        color: var(--text-color);
      }

      .shownCalendar tr th {
        background-color: var(--info-color);
        height: 40px;
        border: 2px solid black;
        color: var(--text-color);
      }
      .monthHeader{

        width: 100%;
        text-align: center;
        margin: auto;
        font-size: 30px;
        color: var(--text-color);
      }
      .proD {
        background-color: blue;
      }
      .back {
        font-size: 40px;
        color: blue;
      }
      .header {
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: 50px;
        color: var(--text-color);
      }
      .event {
        position: absolute;
        color: var(--button-color);
      }

      .hover {
        background:#F8F8F8;
        border: 5px solid #DFDFDF;
        color: #717171;
        font-size: 13px;
        height: 60px;
        letter-spacing: 1px;
        line-height: 20px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        left:-60px;
        /* display:block; */
        display: none;
        width: 150px;

      }
      .hover::before{
          content:'';
          position:absolute;
          bottom:-10px;
          width:10px;
          height:10px;
          border-bottom:5px solid #dfdfdf;
          border-right:5px solid #dfdfdf;
          background:#f8f8f8;
          left:50%;
          margin-left:-10px;
          -moz-transform:rotate(45deg);
          -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
          z-index:0;
      }
      .left {
        left: -10px;
      }
      .left::before {
        left : 10%;
      }
      .right {
        left: -110px;
      }
      .right::before {
        left: 90%;
      }
      .event{

          float:left;
          position:relative;
          cursor:pointer;
      }

      .displayed {
        display: block;
      }
      @media screen and (max-width: 320px) {

        .shownCalendar tr td {
          height: 40px;
          font-size: 14px;
        }
      }
      @media screen and (min-width: 768px) {
        .shownCalendar {



        }
        .calendar {
          display: block;
          width: 500px;
          margin: auto;
          margin-top: 50px;
          border: 1px solid black;
          padding: 15px;
        }
      }
    </style>
  </head>
  <body>
    <div class = "back" style = "font-size: 40px; position: fixed; top: 10px; z-index: 20">
      <a href = "/" style = "text-decoration:none; color:blue">&#8592;</a>
    </div>
    <div class = "holder">
      <div class = "header">
        Calendar
      </div>
      <div class = "calendar">
        <%for (var i = 0; i < calendar.length; i++) {%>
          <div class = "monthHeader">
            <%=months[i]%>
          <table class = "shownCalendar">
            <tr>
              <th>S</th>
              <th>M</th>
              <th>T</th>
              <th>W</th>
              <th>T</th>
              <th>F</th>
              <th>S</th>
            </tr>
            <tr>
              <% for (var j = 0; j < calendar[i].length+calendar[i][0][2]; j++) { %>

                <% if (j >= calendar[i][0][2]) { %>

                  <td><%=calendar[i][j-calendar[i][0][2]][1]+1%>

                    <br>
                    <%if (calendar[i][j-calendar[i][0][2]][0].length != 0) { %>
                      <% if (calendar[i][j-calendar[i][0][2]][2] === 0) { %>
                        <div class = "event" onclick = "testFunction(this)">event<span class = "hover left" style = "top: <%=-20-calendar[i][j-calendar[i][0][2]][0].length*55%>px; height: <%=calendar[i][j-calendar[i][0][2]][0].length*55%>px">
                      <% } else if (calendar[i][j-calendar[i][0][2]][2] === 6) { %>
                        <div class = "event" onclick="testFunction(this)">event<span class = "hover right" style = "top: <%=-20-calendar[i][j-calendar[i][0][2]][0].length*55%>px; height: <%=calendar[i][j-calendar[i][0][2]][0].length*55%>px">
                      <% } else { %>
                        <div class = "event" onclick="testFunction(this)">event<span class = "hover" style = "top: <%=-20-calendar[i][j-calendar[i][0][2]][0].length*55%>px; height: <%=calendar[i][j-calendar[i][0][2]][0].length*55%>px">
                      <% } %>
                    <% } %>

                    <% for (var k = 0; k < calendar[i][j-calendar[i][0][2]][0].length-1; k++) { %>
                      <%=calendar[i][j-calendar[i][0][2]][0][k]%>
                      <hr>
                    <% } %>
                    <%=calendar[i][j-calendar[i][0][2]][0][calendar[i][j-calendar[i][0][2]][0].length-1]%>
                    </span>
                  </div>


                  </td>
                <% } else { %>
                  <td></td>
                <% } %>
                <% if ((j+1)%7 === 0) { %>
                  </tr>
                  <tr>
                <% } %>


              <% } %>


            </tr>
          </table>
        <%}%>

      </div>
    </div>



  </body>
</html>
