<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "Comment on your favourite posts." />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Comments</title>
    <script>
      function commentFunction() {
        var comment = document.getElementById("submitComment");
        comment.classList.toggle("commentDown");
      }
      function deleteFunction(parentPost, id) {
        if (confirm("Are you sure you would like to delete this comment?")) {

          var form = document.createElement("form");
          form.method = "POST";
          form.action = "/questions/" + parentPost;
          var input = document.createElement("input");
          input.type = "hidden";
          input.value = id;
          input.name = "deleteComment";
          form.appendChild(input);
          document.body.appendChild(form);
          form.submit();
        } else {

        }
      }
    </script>
    <style>
      :root {
        --bg-color: <%=colours.bgColor%>;
        --info-color: <%=colours.infoColor%>;
        --button-color: <%=colours.buttonColor%>;
        --border-color: <%=colours.borderColor%>;
        --text-color: <%=colours.textColor%>;
      }
      @font-face {
        font-family: sansFont;
        src: url("<%=font%>")
      }
      * {
        box-sizing: border-box;
        font-family: sansFont, sans-serif;
        color: var(--text-color);
      }
      html {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        -webkit-text-size-adjust: 100%
      }
      body {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        background-color: var(--bg-color);

      }
      .container {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 700px;
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        overflow: auto;
        background: var(--bg-color);
        padding: 10px;
      }
      .title {
        display: block;
        padding: 10px;
        margin-top: 50px;
        font-size: 20px;
        font-weight: bold;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        background-color: var(--info-color);
      }
      .body {
        width: 100%;
        padding: 10px;
        background-color: var(--info-color);
        border-bottom: 1px solid var(--border-color);
        border-top: 1px solid var(--border-color);
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .bar {

        width: 100%;
        text-align: center;
        font-size: 20px;
        color: white;
        border: 1px solid white;
        height: 30px;
        background-color: var(--button-color);
      }
      .comments {
        /* color: white;
        font-size: 12px; */

      }
      .comment {
        padding: 5px;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        font-size: 17px;
        background-color: var(--info-color);
        margin-top: 8px;
      }
      .submittedBy {
        margin-top: 10px;
        font-size: 9px;
        color: var(--text-color);
        font-style: italic;
      }
      .submitComment {
        width: 100%;
        height: 100%;
        background-color: var(--button-color);
        position: fixed;
        top: -100%;
        max-width: 700px;
        left: 50%;
        transform: translateX(-50%);
        transition: top 1.2s;
      }
      .commentDown {
        top: 0%;
      }
      .textarea {
        width: 90%;
        height: 300px;
        display: block;
        margin: auto;
        outline: none;
      }
      .delete {
        width: 75px;
        height: 30px;
        background-color: red;
        text-align: center;
      }
      @media screen and (max-width: 400px) {
        .textarea {
          height: 200px;
        }
      }
      @media screen and (max-width: 320px) {
        .textarea {
          height: 150px;
        }
      }

    </style>
  </head>
  <body>
    <div class = "container" id = "container">
      <div class = "back" style = "font-size: 40px; position: absolute; top: 0px; left: 10px;">
        <a id = "back" href = "/questions" style = "text-decoration:none; color:black">&#8592;</a>
      </div>
      <div class = "title">
        <%=post.title%>
      </div>
      <div class = "body">
          <%=post.body%><br>
      </div>
      <div class = "bar" onclick = "commentFunction()">
        &#10555;
      </div>
      <div class = "comments">
        <%if (comments.length != 0) { %>
          <%comments.forEach(function(comment) { %>
            <div class = "comment">
              <%= comment.body %>
              <div class = "submittedBy">
                <%= comment.submittedBy %>
              </div>
              <% if (user.permissions === "admin") { %>

                <div class = "delete" onclick = "deleteFunction('<%=id%>', '<%=comment._id%>')">
                  delete
                </div>
              <% }%>
            </div>
          <% }); %>
        <% } else { %>
          <div class = "comment">
            It's really empty here...
            <div class = 'submittedBy'>
              computer
            </div>
          </div>
        <% } %>

      </div>
    </div>
    <div class = "submitComment" id = "submitComment">
      <form action = "/questions/<%=id%>" method = "POST">
        <h3>Enter your comment below</h3>
        <textarea placeholder="Enter comment here..." name = "comment" class = "textarea" maxlength="512" style = "font-size: 18px">

        </textarea>
        <input type = "submit" style = "display: block; width: 100px; height: 30px; background-color: white; margin: auto; margin-top: 10px"/>
        <br>
        <br>
        <center><div id = "backUp" style = "font-size: 40px; position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%); text-align: center;" onclick = "commentFunction()">&#x21e7;</div>
      </form>
    </div>
  </body>
</html>
