<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "The <%=schoolName%> student home page. View your courses, schedule, resources, and more here." />
    <meta name = "theme-color" content = "<%=colours.bgColor%>" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "#FC7753">
    <meta name = "apple-mobile-web-app-title" content = "<%=schoolName%>">
    <link rel = "manifest" href = "/manifest" />

    <!-- <link rel="icon" href="/favicon?v=3" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon?v=3" type="image/x-icon"> -->


    <!-- <link rel="apple-touch-icon" sizes="57x57" href="public/images/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="public/images/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="public/images/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="public/images/apple-icon-144x144.png" />
    <link rel = "icon" sizes = "128x128" href = "public/images/icon-128x128.png" />
    <link rel = "icon" sizes = "192x192" href = "public/images/icon-192x192.png" /> -->
    <% if (!offLine) { %>
      <link rel="icon" href="/public/schoolLogos/64x64_<%=favicon%>" type="image/x-icon">
      <link rel="shortcut icon" href="/public/schoolLogos/64x64_<%=favicon%>" type="image/x-icon">

      <link rel = "icon" sizes = "128x128" href = "/public/schoolLogos/128x128_<%=favicon%>" />
      <link rel = "icon" sizes = "192x192" href = "/public/schoolLogos/192x192_<%=favicon%>" />
      <link rel = "apple-touch-startup-image" href = "/public/schoolLogos/512x512_<%=favicon%>"/>
      <link rel = "apple-touch-icon" sizes = " 144x144" href = "/public/schoolLogos/144x144_<%=favicon%>" />
      <link rel = "apple-touch-icon" sizes = " 114x114" href = "/public/schoolLogos/114x114_<%=favicon%>" />
      <link rel = "apple-touch-icon" sizes = " 57x57" href = "/public/schoolLogos/57x57_<%=favicon%>" />
      <link rel = "apple-touch-icon" sizes = " 72x72" href = "/public/schoolLogos/72x72_<%=favicon%>" />
    <% } %>
    



    <title><%=schoolName%> student website | Home</title>

    <style>
      *,.scheduleHref a{
        color:<%=colours.textColor%>
      }
      .header,.header2{
        vertical-align:middle
      }
      .classHolder ul,.holder,.modalHolder ul{
        list-style-type:none
      }
      @font-face{
        font-family:sansFont;
        src:url(<%=font.substring(1)%>);
      }
      :root{
        --bg-color:<%=colours.bgColor%>;
        --info-color:<%=colours.infoColor%>;
        --button-color:<%=colours.buttonColor%>;
        --border-color:<%=colours.borderColor%>;
        --text-color:<%=colours.textColor%>
      }
      html{
        -webkit-text-size-adjust:100%
      }
      .modal{
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        background-color:#000;
        opacity:.7;
        visibility:hidden;
        z-index:4999
      }
      .remove{
        width:50px;
        height:20px;
        background-color:red;
        font-size:12px;text-align:center
      }
      .scheduleHolder{
        width:100%;
        height:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column
      }
      .scheduleHref,.scheduleHref a{
        display:block;
        text-align:center
      }
      .spacer{
        flex-grow:.5
      }
      .scheduleHref{
        width:95%;
        margin:auto;
        background-color:<%=colours.buttonColor%>;
        border-radius:10px;
        position:relative;
        border:1px solid <%=colours.borderColor%>
      }
      .scheduleHref a{width:100%;
        text-decoration:none;
        font-size:22px;
        padding:30px
      }
      .backdrop,.menu,body{
        margin:0;
        padding:0
      }
      .addNote {
        width:82%;
        height:80%;
        position:fixed;
        left:9%;
        top:10%;
        background-color:white;
        border-radius:10px;
        display:none;
        overflow:auto;
        z-index:5001;
      }
      .addNoteEnter {
        width:100%;
        height:80%;
        position:fixed;
        left:0%;
        top:10%;
        background-color:white;
        display:none;
        overflow:auto;
        z-index:5001;
      }
      .confirmNote {
        position: absolute;
        width: 40px;
        text-align: center;
        top: 0px;
        left: 0px;
        font-size: 30px;
        color: lightgreen;
      }
      .noteLine {
        width: 100%;
        height: 12%;
        border-bottom: 1px solid black;
        position: relative;
      }
      .noteLineFilled {
        width: 100%;
        height: 12%;
        border-bottom: 1px solid black;
        position: relative;
      }
      .editableNoteLine {
        width: calc(100% - 40px);
        height: 100%;
        position: absolute;
        left: 40px;
        overflow: auto;
        color: black;
      }
      .notesHeader {
        color: black;
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
      }
      .dayBox {
        width: 100%;
        padding: 10px;
        color: black;
        border-bottom: 1px solid black;
      }
      .dayHeader {
        width: 100%;
        text-align: left;
        font-size: 16px;
        color: black;
      }
      .dayNote {
        color: black;
        width: 100%;
        margin-left: 10px;
        margin-bottom: 5px;
      }
      .notesNext {
        width: 100%;
        height: 30px;
      }
      .arrowLeft {
        width: 30px;
        height: 30px;
        text-align: center;
        color: black;
        font-size: 30px;
        float: left;
      }
      .arrowRight {
        width: 30px;
        height: 30px;
        text-align: center;
        color: black;
        font-size: 30px;
        float: right;
      }
      .plusNote {
        width: 100%;
        /* text-align: left; */
        color: black;
        font-size: 30px;
        /* padding-left: 10px; */
      }
      .courseHolder{
        width:100%;
        height:100%;
        display:flex;
        flex-wrap:nowrap;
        flex-direction:column
      }
      *{
        font-family:sansFont,sans-serif;
        box-sizing:border-box;
        font-weight:900
      }
      body {
        background-color:<%=colours.bgColor%>;
      }
      .LCRoom,.infoBox {
        background-color:<%=colours.infoColor%>;
        color:<%=colours.textColor%>
      }
      .backdrop {
        width:100%;
        height:100%;
        position:fixed;
        top: 0;
        left: 0;
        display:block;
        overflow:scroll
      }
      .initDisplay {
        display:flex;
        width:100%;
        height:100%;
        position:relative;
        flex-direction: column;
        flex-wrap: nowrap;
      }
      .box,.header,.header2,.infoBox,.newsBox {
        display:block
      }
      .box {
        margin-top:0;
        width:100%;
        height:100%;
        position:static
      }
      .header {
        width:100%;
        height:50px;
        text-align:center;
        color:<%=colours.textColor%>
      }
      .infoBox {
        width:85%;
        margin:5px auto auto;
        border-radius:8px;
        padding:1px
      }
      .header2 {
        width:90%;
        height:25px;
        font-size:100%;
        color:<%=colours.textColor%>;
        margin:auto;
        text-align:center
      }
      .switchTable {
        width:100%;
        text-align:center;
        border-collapse:collapse;
        padding:5px;
        font-size:17px
      }
      .switchTable tr td {
        border:1px solid <%=colours.borderColor%>;
        max-width:0
      }
      .openRooms {
        width:100%;
        height:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        overflow:auto
      }
      .LCRoom {
        text-align:center;
        padding:10px;
        border:1px solid #000;
        border-radius:8px
      }
      .classHolder .liHover,.modalHolder .liHover {
        border-left:2px solid #000;
        border-top:2px solid #000;
        border-right:2px solid #000
      }
      .newsBox {
        width:90%;
        height:60%;
        background-color:grey;
        margin:10px auto auto;
        border-radius:5px;
        padding:3px
      }
      .imgHolder,.textHolder {
        width:95%;
        margin:auto;
        display:block
      }
      .imgHolder {
        height:60%;
        background-color:#000
      }
      .textHolder {
        font-size:12px
      }
      .newsMore {
        width:90%;
        height:10%;
        background-color:<%=colours.buttonColor%>;
        display:block;
        margin:25px auto auto;
        font-size:25px;
        color:<%=colours.textColor%>;
        text-align:center;
        border-radius:20px;
        outline:0
      }
      .classHolder li,.resourceBox {
        background-color:<%=colours.infoColor%>;
        color:<%=colours.textColor%>
      }
      .classHolder {
        width:100%;
        position:absolute;
        height:75px;
        display:block;
        overflow:auto
      }
      .classHolder ul {
        margin:0;
        height:100%;
        display:flex;
        font-size:15px;
        padding:0
      }
      .classHolder li {
        flex:1 1 0;
        text-align:center;
        border-bottom:2px solid #000;
        padding:12px
      }
      .classHolder .liHover {
        border-bottom:0
      }
      .resourceBox {
        width:100%;
        height:60%;
        border-radius:5px;
        position:relative;
        top:75px;
        display:none;
        opacity:.5
      }
      .submitAssigned {
        width: 33.333%;
        padding-top:10px;
        padding-bottom: 10px;
        background-color:<%=colours.buttonColor%>;
        cursor:pointer;
        display:block;

        font-size:18px;
        color:<%=colours.textColor%>;
        text-align:center;
        border-radius:50px;
        border: 1px solid <%= colours.borderColor%>;


      }
      .unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      .addMore {
        margin-top:80px
      }
      .allHomework {
        width:82%;
        height:80%;
        position:fixed;
        left:9%;
        top:10%;
        background-color:<%=colours.infoColor%>;
        border-radius:10px;
        display:none;
        overflow:auto;
        z-index:5000
      }
      .modalHolder {
        width:100%;
        position:sticky;
        top:0;
        height:65px;
        display:block;
        z-index:5002
      }
      .hover,.hover::before,.modalBox {
        position:absolute
      }
      .modalHolder ul {
        margin:0;
        height:100%;
        display:flex;
        font-size:12px;
        padding:0;
        overflow-x:auto;
        width:100%
      }
      .modalHolder li {
        flex:1 1 0;
        text-align:center;
        background-color:<%=colours.buttonColor%>;
        border-bottom:2px solid <%=colours.borderColor%>;
        padding:12px;
        color:<%=colours.textColor%>
      }
      .modalHolder .liHover {
        border-bottom:0;
        color:#ddd
      }
      .block,.currentMonth,.event,.shownCalendar,.shownCalendar tr th {
        color:<%=colours.textColor%>
      }
      .modalBox {
        width:100%;
        display:none;
        top:30px;
        z-index:5001
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }
      .calendar,.display {
        display:block
      }
      .block {
        font-size:90px;
        width:100%;
        text-align:center;
        margin-top:20px
      }
      .calendar {
        width:95%;
        height:auto;
        margin:5px auto auto
      }
      .shownCalendar {
        width:100%;
        table-layout:fixed;
        text-align:center;
        border-collapse:collapse
      }
      .shownCalendar tr td {
        border:2px solid #000;
        width:14.2857%;
        height:50px;
        text-align:center
      }
      .shownCalendar tr th {
        background-color:<%=colours.infoColor%>;
        height:40px;
        border:2px solid #000
      }
      .currentMonth {
        width:100%;
        text-align:center;
        font-size:35px;
        margin-bottom:5px
      }
      .event {
        font-size:14px
      }
      .hover {

        background: <%=colours.infoColor%>;
        color: <%=colours.textColor%>;
        border:5px solid <%=colours.borderColor%>;
        font-size:13px;
        height:60px;
        letter-spacing:1px;
        line-height:20px;
        text-align:center;
        text-transform:uppercase;
        left:-60px;
        display:none;
        width:150px
      }
      .aColor,.soonEvent,nav a {
        color:<%=colours.textColor%>
      }
      .event:hover .hover,nav a {
        display:block
      }
      .hover::before {
        content:'';
        bottom:-10px;
        width:10px;
        height:10px;
        border-bottom:5px solid <%=colours.borderColor%>;
        border-right:5px solid <%=colours.borderColor%>;
        background: <%=colours.infoColor%>;
        color: <%=colours.textColor%>;
        left:50%;
        margin-left:-10px;
        -moz-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
        z-index:0
      }
      .left {
        left:-10px
      }
      .left::before {
        left:10%
      }
      .right {
        left:-110px
      }
      .right::before {
        left:90%
      }
      .event {
        float:left;
        position:relative;
        cursor:pointer
      }
      .menuIcon,nav {
        position:fixed
      }
      .menuIcon {
        width:50px;
        height:50px;
        top:10px;
        right:15px;
        border-radius:3px;
        z-index:16;

        padding-top: 10px;
      }
      .viewNotesButton {
        width: 33.33%;
        text-align: center;
        padding-top: 10px;
        border-radius: 50px;
        background-color: <%=colours.buttonColor%>;
        cursor: pointer;
        padding-bottom: 10px;
        font-size: 18px;
        border: 1px solid <%=colours.borderColor%>;
      }
      .line1,.line2,.line3 {
        width:28px;
        height:2px;
        background-color:<%=colours.textColor%>;
        display:block;
        margin:5px auto auto;
        border-radius:2px;
        transition:.4s
      }
      .change .line1 {
        transform-origin: 50% 50%;
        -webkit-transform:rotate(-45deg) translate(-9px,0);
        transform:rotate(-45deg) translate(-9px,0);
      }
      .change .line2 {
        opacity:0
      }
      .change .line3 {
        -webkit-transform:rotate(45deg) translate(-10px,0);
        transform:rotate(45deg) translate(-10px,0)
      }
      nav {
        top:-500px;
        width:100%;
        z-index:15;
        transition:top .9s
      }
      .courseBox {
        flex-grow: 0.5;
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
      .courseBox > div:not(.header2) {
        flex-grow: 1;
        border: 2px solid <%=colours.borderColor%>;
        background-color: <%=colours.infoColor%>;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
      .courseBox > .header2 {
        flex-grow: 0.5;
      }

      .holder {
        padding:0;
        justify-content:flex-start;
        flex-wrap:wrap
      }
      .homeWorkBox {
         white-space: pre-wrap;
         white-space: -moz-pre-wrap;
         white-space: -pre-wrap;
         white-space: -o-pre-wrap;
         word-wrap: break-word;
      }
      nav a {
        text-decoration:none;
        text-align:center;
        padding:12px;
        font-size:20px
      }
      nav .item {
        width:100%;
        background-color:<%=colours.buttonColor%>;
        border:1px solid <%=colours.borderColor%>
      }
      .displayClasses,.displayEvents {
        width:85%;
        overflow:auto;
        display:block;
        text-align:center
      }
      .expand {
        top:-16px
      }
      .displayEvents {
        max-height:125px;
        margin:auto
      }
      .displayClasses {
        height:120px;
        margin: auto;
      }
      .pushNotifications,.wideScreen {
        display:none
      }
      .soonEvent {
        font-size:15px;
        border-radius:10px;
        background-color:<%=colours.infoColor%>;
        width:100%;
        padding:15px
      }
      .bColor {
        color:<%=colours.buttonColor%>
      }
      .boxBorder {
        border-left:2px solid <%=colours.borderColor%>;
        border-right:2px solid <%=colours.borderColor%>;
        border-top:2px solid <%=colours.borderColor%>;
        border-bottom:0
      }
      .smallHref {
        font-size:16px
      }
      .viewHomeworkButton {
        width: 33.33%;
        text-align: center;
        padding-top: 10px;
        border-radius: 50px;
        background-color: <%=colours.buttonColor%>;
        cursor: pointer;
        padding-bottom: 10px;
        font-size: 18px;
        border: 1px solid <%=colours.borderColor%>;
      }
      .homeworkTitles {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .coursePageButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      .pushNotifications div {
        display:block;
        margin:auto;
        padding:15px;
        border-radius:8px;
        font-size:19px;
        text-align:center;
        background-color:<%=colours.buttonColor%>
      }
      @media screen and (max-width:320px) {
        .infoBox {
          padding:3px;
          margin-top:8px;
          width:90%
        }
        .header {
          height:30px
        }

        .calendar,.displayClasses {
          margin-top:0
        }
        .courses,.switchTable {
          font-size:13px
        }
        .header2 {
          font-size:15px
        }
        .block {
          font-size:60px
        }
        .shownCalendar tr td {
          height:45px;
          font-size:14px
        }
        .lCroom {
          padding:8px
        }
        .soonEvent,nav a {
          padding:10px
        }
        .classHolder {
          overflow-x:auto
        }
        .classHolder ul {
          font-size:13px
        }
        .soonEvent {
          color:<%=colours.textColor%>;
          font-size:15px;
          border-radius:10px;
          background-color:<%=colours.infoColor%>;
          width:100%
        }
        .newsMore {
          font-size:20px
        }
        h1 {
          font-size:25px
        }
        .smallHref {
          font-size:14px
        }
      }
      @media screen and (min-width:768px) {
        .redirectHref,.wideScreen {
          display:block
        }
        .redirectHref {
          width:95%;
          margin:15% auto auto;
          text-align:center
        }
        .redirectHref a {
          border-radius:10px;
          display:block;
          padding:30px;
          font-size:22px;
          text-decoration:none;
          background-color:<%=colours.buttonColor%>;
          border:2px solid <%=colours.borderColor%>
        }
        .menuIcon {
          display:none
        }
        nav {
          display:block;
          width:100%;
          z-index:15;
          position:fixed;
          top:-20px;
          transition:top 0s
        }
        .holder {
          list-style-type:none;
          padding:0;
          display:flex;
          flex-wrap:nowrap
        }
        nav .item {
          background-color:#000;
          border-left:1px solid #fff;
          border-right:1px solid #fff;
          border-bottom:1px solid #fff;
          display:none
        }
        .backdrop {
          display:flex;
          flex-wrap:wrap;
          justify-content:center;
          padding:50px
        }
        .allHomework,.initDisplay {
          display:none
        }
        .box {
          width:390px;
          height:600px;
          border:5px solid #000;
          margin:15px 7%
        }
        .classHolder {
          width:380px;
          overflow:auto
        }
        .classHolder li {
          font-size:13px
        }
        .allHomework {
          width:600px;
          height:80%;
          position:fixed;
          left:50%;
          top:10%;
          transform:translateX(-50%);
          border-radius:10px;
          overflow:auto;
          min-width:500px;
          min-height:400px
        }
      }

      @media screen and (orientation:landscape) and (max-height:500px) and (max-width:768px) {
        .box {
          height:150%
        }
      }
      @media screen and (orientation:landscape) and (max-height:320px) and (max-width:768px) {
        .box {
          height:200%
        }
      }
    </style>
  </head>
  <body>
    <div class = "backdrop" id = "backdrop">
      <div class="menuIcon" onclick = "changeFunction(this)" id = "menuIcon">
        <span class="line1"></span>
        <span class="line2"></span>
        <span class="line3"></span>
      </div>
      <nav class = "menu" id = "menu">
        <ul class = "holder" id = "holder" onclick = "confineFunction()">
        <% for (var key in order) { %>
          <% if (order[key] == "Courses") { %>
            <li class = "item unselectable"><a href = "#courses">Courses</a></li>
          <% } else if (order[key] == "LC") { %>
            <!-- <li class = "item unselectable"><a href = "#LC">Open LCs</a></li> -->
          <% } else if (order[key] == "Calendar") { %>
            <li class = "item unselectable"><a href = "#news">News & Calendar</a></li>
          <% } else if (order[key] == "Schedule") { %>
            <!-- <li class = "item unselectable"><a href = "#schedule">Schedule and other</a></li> -->
          <% } else if (order[key] == "Resources") { %>
            <!-- <li class = "item unselectable"><a href = "#resources">Resources</a></li> -->
          <% } %>
        <% } %>
          <!-- <li class = "item" id = "chatroom"><a href = "/chatroom?chatroom=all">Chatroom</a></li> -->
          <li class = "item unselectable"><a href = "/schedule">My Schedule</a></li>
          <% if (!offLine) { %>
            <li class = "item unselectable" id = "accountdropDown"><a href = "/users/<%=username%>">Account</a></li>
            <li class = "item unselectable" id = "questions"><a href = "/questions?page=0">Discussion</a></li>
          <% } else { %>
            <li class = "item unselectable" id = "refresh"><a href = "/">Refresh</a></li>
          <% } %>
          <li class = "item unselectable" id = "logout"><a href = "/logout">Logout</a></li>
        </ul>
      </nav>
      <div id = "initDisplay" class = "initDisplay" style = "width: 100%; height: 100%; margin-top: 0">

        
          <div class = "block" id = "mainDayDisplay">
            <% if (!offLine) { %>
              <%=titleDisplay%>
            <% } %>
          </div>
        
        



        <div style = "flex-grow: 0.5"></div>
        <div class = "displayEvents">
          <center><h2 style = "color: <%=colours.textColor%>">Upcoming Events: </h2></center>
          <%soonEvents.forEach(function(event) { %>
            <div class = "soonEvent">
              <% if (event.longForm) { %>
                <%=(event.day).toString() + "/" + (event.month+1).toString() + "/" + (event.year).toString() + " at " + event.time %> : <%=event.longForm%>
              <% } else { %>
                <%=(event.day).toString() + "/" + (event.month+1).toString() + "/" + (event.year).toString() + " at " + event.time %> : <%=event.info%>
              <% } %>

            </div>
            <br>
          <% }) %>
          <% if (soonEvents.length == 0) { %>
            <div class = "soonEvent">
              No upcoming events!
            </div>
          <% } %>
        </div>
        <div style = "flex-grow: 0.5"></div>
        <div class = "displayClasses">
            <center><h2>Current Class: </h2></center>
            <div class = "soonEvent"><%=currentBlock[0][0]%><%=currentBlock[0][1]%></div>
        </div>
        <div style = "flex-grow: 0.5"></div>
        <div class = "displayClasses">

            <center><h2>Next Class: </h2></center>
            <div class = "soonEvent"><%=currentBlock[1][0]%><%=currentBlock[1][1]%></div>
        </div>
        <div style = "flex-grow: 2"></div>
      </div>
      <div class = "modal" onclick="removeModal()" id = "modal">
      </div>

      <% for (var key in order) { %>
        <% if (order[key] == "Courses") { %>
          <div id = "courses" class = "courses box" name = "courses">
            <div class = "courseHolder">
              <div class = "header"><h1>Courses</h1></div>
              <div class = "courseBox large" id = "todayCoursesDisplay">
                
                <div class = "header2"> My courses today &nbsp;(<span id = "secondaryDayDisplay"><%=titleDisplay%></span>)&nbsp; <a href = "courses" class = "bColor" style = "font-size: 12px;">edit</a></div>
                <% if (!offLine) { %>
                  <% for (var i = 0; i < blockOrder.length; i++) { %>
                    <div class = "todayCourseBox" onclick = "addNotes('<%=blockOrder[i][6] || 1 %>', `<%=blockOrder[i][5]%>`)"><div class = "spacer"></div><div><%=(blockOrder[i][0]-1)%12+1%>:<%=blockOrder[i][1].toString().length === 1 ? "0" + blockOrder[i][1].toString() : blockOrder[i][1].toString()%>-<%=(blockOrder[i][2]-1)%12+1%>:<%=blockOrder[i][3].toString().length === 1 ? "0" + blockOrder[i][3].toString() : blockOrder[i][3].toString()%> : <span style = "float : right"><%=blockOrder[i][5]%></span></div><div class = "spacer"></div></div>
                  <% } %>
                  <% if (blockOrder === false) { %>
                    <div style = "flex-grow: 0.2; text-align: center"><div class = "spacer"></div><div>It's the weekend!</div><div class = "spacer"></div></div>
                  <% } %>
                <% } %>
              </div>
              <div style = "flex-grow: 0.1"></div>
              <div class = 'homeworkTitles'><span style = "width: 66.66%; text-align: center"><h2>Homework:</h2></span><span style = "width: 33.333%; text-align: center"><h2>Notes:</h2></span></div>
              <div class = "coursePageButtons">
                <div class = "viewHomeworkButton unselectable" onclick  = "modalDisplay()">
                  View
                </div>
                <a href = "/submit" style = "text-decoration: none;" class = "submitAssigned unselectable">
                  Submit
                </a>
                <div class = "viewNotesButton unselectable" onclick  = "addNotes('<%=viewNotesDisplay[0]%>', '<%=viewNotesDisplay[1]%>')">
                  View
                </div>
              </div>

              <div style = "flex-grow: 0.05"></div>
            </div>
          </div>
        <% } else if (order[key] == "Calendar") { %>
          <div id = "news" class = "news box" name = "news">
            <div class = "header"><h1>News & Calendar</h1></div>
            <div class = "calendar">
              <div class = "currentMonth">
                <%=month%>
              </div>
              <table class = "shownCalendar" id = "calendar">
                <tr>
                  <th>S</th>
                  <th>M</th>
                  <th>T</th>
                  <th>W</th>
                  <th>T</th>
                  <th>F</th>
                  <th>S</th>
                </tr>
                <tr>
                  <% for (var i = 0; i < calendar.length + calendar[0][2]; i++) { %>
                      <% if (i >= calendar[0][2]) { %>
                        <td><%=calendar[i-calendar[0][2]][1]+1%>
                          <br>
                          <% if (calendar[i-calendar[0][2]][0].length != 0) { %>
                            <% if (calendar[i-calendar[0][2]][2] === 0) { %>
                              <div class = "event unselectable">event<span class = "hover left" style = "top: <%=-20-calendar[i-calendar[0][2]][0].length*55%>px; height: <%=calendar[i-calendar[0][2]][0].length*55%>px">
                              <% for (var k = 0; k < calendar[i-calendar[0][2]][0].length-1; k++) { %>
                                <%=calendar[i-calendar[0][2]][0][k]%>
                                <hr>
                              <% } %>
                              <%=calendar[i-calendar[0][2]][0][calendar[i-calendar[0][2]][0].length-1]%>
                              </span>
                              </div>
                            <% } else if (calendar[i-calendar[0][2]][2] === 6) { %>
                              <div class = "event unselectable">event<span class = "hover right" style = "top: <%=-20-calendar[i-calendar[0][2]][0].length*55%>px; height: <%=calendar[i-calendar[0][2]][0].length*55%>px">
                              <% for (var k = 0; k < calendar[i-calendar[0][2]][0].length-1; k++) { %>
                                <%=calendar[i-calendar[0][2]][0][k]%>
                                <hr>
                              <% } %>
                              <%=calendar[i-calendar[0][2]][0][calendar[i-calendar[0][2]][0].length-1]%>
                              </span>
                              </div>
                            <% } else { %>
                              <div class = "event unselectable">event<span class = "hover" style = "top: <%=-20-calendar[i-calendar[0][2]][0].length*55%>px; height: <%=calendar[i-calendar[0][2]][0].length*55%>px">
                              <% for (var k = 0; k < calendar[i-calendar[0][2]][0].length-1; k++) { %>
                                <%=calendar[i-calendar[0][2]][0][k]%>
                                <hr>
                              <% } %>
                              <%=calendar[i-calendar[0][2]][0][calendar[i-calendar[0][2]][0].length-1]%>
                              </span>
                              </div>
                            <% } %>
                          <% } %>
                        </td>
                      <% } else { %>
                        <td></td>
                      <% } %>
                      <%if((i+1) % 7 === 0) { %>
                        </tr>
                        <tr>
                      <%}%>
                  <% } %>
                </tr>
              </table>
            </div>
            <button class = "newsMore unselectable">
              <a href = "/calendar" style = "text-decoration: none; color: <%=colours.textColor%>;">Click to see more...</a>
            </button>
          </div>
        <% } else if (order[key] == "Schedule" && !offLine) { %>
          <div id = "schedule" class = "schedule box" name = "schedule">
            <div class = "scheduleHolder">
              <div class = "header"><h1>Schedule and other</h1></div>
              <div class = "spacer"></div>
              <div class = "scheduleHref unselectable"><a href = "/schedule">My Schedule</a></div>
              <div class = "spacer"></div>
              <div class = "scheduleHref unselectable"><a href = "/view-LC">LC Schedule</a></div>
              <div class = "spacer"></div>
              <div class = "scheduleHref unselectable"><a href=  "/users/<%=username%>">Account</a></div>
              <div class = "spacer"></div>
            </div>
          </div>
        <% } else if (order[key] == "Resources" && !offLine) { %>
          <div id = "resources" class = "resources box" name = "resources">
            <div class = "header" style = "margin-bottom: 15px"><h1>Resources</h1></div>
            <% if (courses.length === 5) { %>

            <% } else { %>

            <% } %>
            <div class = 'classHolder' style = "font-size: 15px">
                <ul class = "helperHolder">
                  <% courses.forEach(function(course) { %>
                    <% if (courses.length === 5) { %>
                      <li onclick = "showFunction('rsb<%=course.course.split(' ').join('')%>', this)" class = "elementBlock" style = "cursor: pointer; padding: 9px;"><%=course.course%></li>
                    <% } else { %>
                      <li onclick = "showFunction('rsb<%=course.course.split(' ').join('')%>', this)" class = "elementBlock" style = "cursor: pointer"><%=course.course%></li>
                    <% } %>
                  <% }); %>
                </ul>
              </div>
              <div class = "resourceBox" style = "display: block; background-color: <%=colours.infoColor%>" id = "baseBox"></div>
              <%for (var i = 0; i < courses.length; i++) {%>
                <div class = "resourceBox" id = "rsb<%=courses[i].course.split(' ').join('')%>">
                  Websites:
                  <br>
                  <br>
                  <% if (courses[i].resource.length != 0) { %>
                    <% for (var j = 0; j < courses[i].resource.length; j++) { %>
                      <a href = "<%=courses[i].resource[j].url%>"><%=courses[i].resource[j].description%></a>
                      <br>
                      <br>
                    <% } %>
                  <% }%>
                  <br>
                  Videos:
                  <br>
                  <br>
                  <br>
                  textbooks:
                </div>
              <%}%>
              <div class = "addMore">
                <i><a href = "/suggestions" class = "aColor" style = "text-decoration: none; margin-top: 20px;">Think we're missing something? submit it here</a>...</i>
              </div>
          </div>
        <% } %>
      <% } %>

    <div id = "allHomework" class = "allHomework">
      <div class = "modalHolder">
        <ul class = "courseModalHolder">
          <% homework.forEach(function(homeworkGiven) { %>
            <li onclick = "displayHomework('<%=homeworkGiven[0].split(' ').join('_')%>')" class = "modalBlock unselectable" id = "<%=homeworkGiven[0].split(' ').join('_')%>CourseBox"><%=homeworkGiven[0]%></li>
          <% }); %>
        </ul>
      </div>
      <% homework.forEach(function(theHomeworkGiven) { %>
        <div class = "modalBox" id = "<%=theHomeworkGiven[0].split(' ').join('_')%>">
          <% for (var i = theHomeworkGiven[1].length-1; i >= 0; i--) { %>
            <br>
            <br>
            <% if (theHomeworkGiven[1][i].assignment != "") { %>
                <%=theHomeworkGiven[1][i].date.toDateString()%>
                <br>
                <%=theHomeworkGiven[1][i].assignment%>
                <br>
                notes: <%=theHomeworkGiven[1][i].notes%>
                <br>
                due by: <%=theHomeworkGiven[1][i].due%>
                <br>
                <%if (theHomeworkGiven[1][i].confirmed == "T") { %>
                  <span style = "color: #21ce4c">confirmed: &#10003;</span>
                <% } else { %>
                  <span style = "color: #f41616">confirmed: &#10006;</span>
                <% } %>
                <% if (permissions === "admin" || theHomeworkGiven[1][i].submittedBy == username) { %>
                  <div class = "remove" onclick = "removeFunction('<%=theHomeworkGiven[4]%>', '<%=i%>')">
                    remove
                  </div>
                <% } %>
                <br>
            <% } else { %>
                <%=theHomeworkGiven[1][i].date.toDateString()%>
                <br>
                Q#<%=theHomeworkGiven[1][i].questions%>, pg.<%=theHomeworkGiven[1][i].page%>
                <br>
                notes: <%=theHomeworkGiven[1][i].notes%>
                <br>
                due by: <%=theHomeworkGiven[1][i].due%>
                <br>
                <%if (theHomeworkGiven[1][i].confirmed == "T") { %>
                  <span style = "color: #21ce4c">confirmed: &#10003;</span>
                <% } else { %>
                  <span style = "color: #f41616">confirmed: &#10006;</span>
                <% } %>
                <% if (permissions === "admin") { %>
                  <div class = "remove" onclick = "removeFunction('<%=theHomeworkGiven[4]%>', '<%=i%>')">
                    remove
                  </div>
                <% } %>
                <br>
            <% } %>
          <% } %>
        </div>
      <% }); %>
    </div>
    <% notesKeys = Object.keys(allNotes)%>
    <% for (var i = 0; i < notesKeys.length; i++) { %>
      <div class="addNote" id="addNote_<%=notesKeys[i]%>">
        <div class = "notesNext"><div class = "arrowLeft" onclick='addNotes("<%=notesKeys[(i-1+notesKeys.length)%notesKeys.length]%>", "<%=allNotes[notesKeys[(i-1+notesKeys.length)%notesKeys.length]].course%>")'>&larr;</div><div class = "arrowRight" onclick='addNotes("<%=notesKeys[(i+1)%notesKeys.length]%>", "<%=allNotes[notesKeys[(i+1)%notesKeys.length]].course%>")'>&rarr;</div></div>
        <div class = "notesHeader" id = "notesHeader_<%=notesKeys[i]%>"></div>
        <% for (var j = 0; j < allNotes[notesKeys[i]].notes.length; j++) { %>
          <div class = "dayBox">
            <div class = "dayHeader"><%=allNotes[notesKeys[i]].notes[j][0]%></div>
            <% for (var k = 1; k < allNotes[notesKeys[i]].notes[j].length; k++) { %>
              <div class = "dayNote"> - <%=allNotes[notesKeys[i]].notes[j][k].text%></div>
            <% } %>
          </div>
        <% } %>
      </div>
    <% } %>
    <% for (var key in notes) { %>
        <div class = "addNoteEnter" id = "addNoteEnter_<%=key%>">
          <div class = "notesHeader" id = "addNotesHeader_<%=key%>">Add Note: </div>
          <% for (var i = 0; i < notes[key].length; i++) { %>
            <div class="noteLineFilled">
              <span class = "editableNoteLine"><%=notes[key][i].text%></span>
            </div>
          <% } %>
        </div>
    <% } %>
    
    <div class = "box wideScreen" id = "wideScreen">
      <div class = "header"><h1>Redirects</h1></div>
      <!-- <div class = "redirectHref"><a href = "/chatroom">Chatroom</a></div> -->
      <div class = "redirectHref"><a href = "/questions">Discussion</a></div>
      <div class = "redirectHref"><a href = "/logout">Logout</a></div>
    </div>
    <div class = "pushNotifications" id = "pushNotifications" onclick = "subscribeUser()">
      <div class = "pushText">
        Enable push notifications
      </div>
    </div>

  </div>
  </body>
  <script src = "/public/js/home.js"></script>
  <% if (offLine) { %>
    <script>
      if (typeof Storage != "undefined") {
        if (localStorage.getItem("userData")) {
          let userData = JSON.parse(localStorage.getItem("userData"));
          let blockDisplays = document.getElementsByClassName("todayCourseBox");
          while (blockDisplays.length) {
            blockDisplays[0].parentElement.removeChild(blockDisplays[0]);
          }
          let currentDate = new Date();
          let offSetDays = userData.dayOffSet;
          let offSet = 0;
          for (var i = 0; i < offSetDays.length; i++) {
            if (currentDate.getTime() > new Date(offSetDays[i]).getTime()) {
              offSet++;
            }
          }
          let dayNumber = (((currentDate.getDay()-1)-offSet%5+5)%5+1).toString();
          let weekNumber =  Math.floor((currentDate.getTime() - (new Date(2018, 8, 2)).getTime())/1000/60/60/24/7)%userData.blockSchedule.blockSchedule.length;
          document.getElementById("mainDayDisplay").innerHTML = "Day " + dayNumber;
          document.getElementById("secondaryDayDisplay").innerHTML = "Day " + dayNumber;
          let day = userData.blockSchedule.blockSchedule[weekNumber]["day" + dayNumber];
          let blockNames = userData.courses.blockNames;
          for (var i = 0; i < day.length; i++) {
            let div = document.createElement("div");
            let spacer1 = document.createElement("div");
            let spacer2 = document.createElement("div");
            let content = document.createElement("div");
            div.className = "todayCourseBox";
            spacer1.className = "spacer";
            spacer2.className = "spacer";
            content.innerHTML = `${(day[i][1]-1)%12+1}:${day[i][2].toString().length === 1 ? "0" + day[i][2].toString() : day[i][2].toString()}-${(day[i][3]-1)%12+1}:${day[i][4].toString().length === 1 ? "0" + day[i][4].toString() : day[i][4].toString()} <span style = 'float: right'>${day[i][5] === "constant" ? day[i][0] : blockNames[day[i][0]]}</span>`;
            div.appendChild(spacer1);
            div.appendChild(content);
            div.appendChild(spacer2);
            document.getElementById("todayCoursesDisplay").appendChild(div);
          }
        }
      }  
    </script>
  <% } %>
  <!-- the script for getting alerts -->

  <% if (!offLine) { %>
    <script>
      function postAlerts(deleteMessage) {
        let xmlhttp;
        if (window.XMLHttpRequest) {
          // code for modern browsers
          xmlhttp = new XMLHttpRequest();
        } else {
          // code for old IE browsers
          xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("POST", "/alerts");
        xmlhttp.setRequestHeader('Content-Type', "application/x-www-form-urlencoded");
        // xmlhttp.onreadystatechange = function() {
        //   if (this.readyState == 4 && this.status == 200) {
        //
        //   }
        // }
        xmlhttp.send(encodeURI("delete=" + deleteMessage));
      }
      function loadAlerts() {
        let xmlhttp;
        if (window.XMLHttpRequest) {
          // code for modern browsers
          xmlhttp = new XMLHttpRequest();
        } else {
          // code for old IE browsers
          xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            let alerts = this.responseText.split('"').join("").split("[").join("").split("]").join("");
            alerts = alerts.split(",");
            if (alerts != "") {
              if (alerts[0] === "postComment") {
                if (confirm(alerts[1] + " Click okay to go view the comment.")) {
                  window.location.href = alerts[2];
                }
              } else {
                confirm(alerts);
              }
              postAlerts(true);
            }
          }
        }
        xmlhttp.open("GET", "/alerts", true);
        xmlhttp.send();
      }
      loadAlerts();
    </script>      
  <% } %>
  
  <!-- the script for adding to local storage -->
  <% if (!offLine) { %>
    <script>
        if (typeof Storage != "undefined") {
          let loadRequest;
          if (window.XMLHttpRequest) {
            // code for modern browsers
            loadRequest = new XMLHttpRequest();
          } else {
            // code for old IE browsers
            loadRequest = new ActiveXObject("Microsoft.XMLHTTP");
          }
          loadRequest.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              let parsedText = JSON.parse(this.responseText);
              let userObject = parsedText[0];
              let timeOffset = parsedText[1];
              let blockSchedule = parsedText[2];
              let blockNames = parsedText[3];
              let newObject = {
                colors: userObject.colors,
                order: userObject.order,
                courses: blockNames,
                dayOffSet: timeOffset.timeOffset.map(x => new Date(x)),
                blockSchedule: blockSchedule
              }
              localStorage.setItem("userData", JSON.stringify(newObject));
            }
          }
          loadRequest.open("GET", "/offLineInfo", true);
          loadRequest.send();
    
        } else {
    
        }
    
      </script>
  <% } %>
  

  <!-- This shit is SUPER fucky. leave it for the time being -->
  <% if (!offLine) { %>
    <script>
        var isSafari = navigator.vendor && navigator.vendor.indexOf('Apple') > -1 &&
                navigator.userAgent &&
                navigator.userAgent.indexOf('CriOS') == -1 &&
                navigator.userAgent.indexOf('FxiOS') == -1;

        if ("Notification" in window && 'serviceWorker' in navigator && !isSafari) {
          navigator.serviceWorker.register('sw.js').then(function(reg) {
            console.log('Registration succeeded. Scope is ' + reg.scope);
            reg.pushManager.getSubscription().then(function(sub) {
              if (sub === null) {
                document.getElementById("pushNotifications").style.display = "block";
                console.log("not subscribed to push service!");
              } else {
                console.log("subscription object: " + sub);
              }
            })
          }).catch(function(error) {
            console.log('Registration failed with ' + error);
          });
        } else if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('sw.js').then(function(reg) {
            console.log('Registration succeeded. Scope is ' + reg.scope);
          }).catch(function(error) {
            console.log('Registration failed with ' + error);
          });
        } else {
          console.log("notifications are not supported in this browser. please consider switching to a browser that supports notifications");
        }
    
        function subscribeUser() {
          document.getElementById("pushNotifications").setAttribute("onclick", "''");
          const publicVapidKey = 'BJOheX5G-E8hh06N7PPi2i1_gCVvUWxwjOUTVaqRBifRpGyi7e7-FYU-WcdmXenmWh-kLZWMFjxjhK37_LvK52M';
          if ("serviceWorker" in navigator) {
            navigator.serviceWorker.ready.then(function(reg) {
              reg.pushManager.subscribe({
                userVisibleOnly: true,
                applicationServerKey: urlBase64ToUint8Array(publicVapidKey)
              }).then(function(sub) {
                let xmlhttp;
                if (window.XMLHttpRequest) {
                  // code for modern browsers
                  xmlhttp = new XMLHttpRequest();
                } else {
                  // code for old IE browsers
                  xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                xmlhttp.open("POST", "/subscribe");
                xmlhttp.setRequestHeader('Content-Type', "application/x-www-form-urlencoded");
                xmlhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
    
                  }
                }
                xmlhttp.send(encodeURI("post=" + JSON.stringify(sub)));
                location.reload();
              }).catch(function(e) {
                if (Notification.permission === "denied") {
                  console.log("permissions for notifications denied.");
                } else {
                  console.log("unable to subscribe to push: " + e);
                }
              });
            })
          }
        }
    
    
        function urlBase64ToUint8Array(base64String) {
          const padding = '='.repeat((4 - base64String.length % 4) % 4);
          const base64 = (base64String + padding)
            .replace(/\-/g, '+')
            .replace(/_/g, '/');
    
          const rawData = window.atob(base64);
          const outputArray = new Uint8Array(rawData.length);
    
          for (let i = 0; i < rawData.length; ++i) {
            outputArray[i] = rawData.charCodeAt(i);
          }
          return outputArray;
        }
    
    
        async function displayNotification() {
          if (Notification.permission == 'granted') {
            navigator.serviceWorker.getRegistration().then(function(reg) {
              var options = {
                body: 'Here is a notification body!',
                icon: 'images/example.png',
                vibrate: [100, 50, 100],
                data: {
                  dateOfArrival: Date.now(),
                  primaryKey: 1
                },
                actions: [
                  {action: 'explore', title: 'Explore this new world',
                    icon: 'images/checkmark.png'},
                  {action: 'close', title: 'Close notification',
                    icon: 'images/xmark.png'},
                ]
              };
              reg.showNotification('Hello world!', options);
            });
          }
        }
      </script>
  <% } %>
</html>
