<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "The PVSS student home page. View your courses, schedule, resources, and more here. Made by a PVSS student for PVSS students." />
    <meta name = "theme-color" content = "#f77d13" />
    <link rel = "shortcut icon" type = "image/x-icon" href = "images/favicon.ico" />
    <link rel = "shortcut icon" type = "image/ico" href = "images/favicon.ico" />
    <link rel = "manifest" href = "manifests/home.json  " />
    <title>PVSS student website | Home</title>
    <script>
      window.onload = function() {
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector(this.getAttribute('href')).scrollIntoView({
              behavior: 'smooth'
            });
          });
        });
        document.getElementById("holder").addEventListener("transitionend", function() {

        });




      }





    </script>
    <style>



      .modal {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: black;
        opacity: 0.7;
        visibility: hidden;
      }
      .remove {
        width: 50px;
        height: 20px;
        background-color: red;
        font-size: 12px;
        text-align: center;
      }
      .scheduleHref {
        width: 95%;
        height: 90px;
        display: block;
        margin: auto;
        background-color: #165dce;
        border-radius: 10px;
        position: relative;
        border: 1px solid white;
      }
      .scheduleHref a {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 18px;
        transform: translate(-50%, -50%);

      }
      * {
        font-family: sans-serif;
        box-sizing: border-box;
      }

      body {
        padding: 0;
        margin: 0;
      }
      .backdrop {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;

        padding: 0px;
        margin: 0px;
        overflow: scroll;
      }
      .initDisplay {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        flex-wrap: wrap;
        /* background: linear-gradient(#f9604f, #db311e, #f28e37); */
      }
      .menu {
        /* background-color: #333; */
        margin: 0;
        padding: 0;
      }



      nav a:hover {
        /* background-color: #555; */
      }
      .box {

        display: block;
        margin-top: 0px;
        width: 100%;
        height: 100%;
        /* border: 5px solid black; */


      }
      .header {
        width: 100%;
        height: 50px;
        /* background-color: blue; */
        text-align: center;
        font-size: 28px;
        color: white;
        display: block;

        vertical-align: middle;
      }

      /* .courses {
        background: linear-gradient(#f28e37, #f77d13, #f9e66b);
      }
      .LC {
        background: linear-gradient(#f9e66b, #efd945, #549b4c);
      }
      .news {
        background: linear-gradient(#549b4c, #31a024, #4971b7);
      }
      .money {
        background: linear-gradient(#4971b7, #315491, #6d4bbc);
      }
      .resources {
        background: linear-gradient(#6d4bbc, #3b1f7c, #a635b7);
      } */

      .infoBox {
        width: 85%;
        /* height: 20%; */
        background-color: #353538;
        display: block;
        margin: auto;
        border-radius: 8px;
        margin-top: 5px;
        padding: 1px;
        color : white;
      }
      .header2 {
        width: 90%;
        height: 25px;
        /* background-color: orange; */
        font-size: 100%;
        color: white;
        display: block;
        margin: auto;
        vertical-align: middle;
        text-align: center;
      }
      .large {
        /* height: 25%; */
      }
      .switchTable {
        width: 100%;

        text-align: center;
        border-collapse: collapse;
        padding: 5px;
        font-size: 15px;
        }
        .switchTable tr td {
          border: 1px solid #656c77;
          max-width: 0px;
        }

        .openRooms {
          /* background-color: red; */
          width: 100%;
          display:block;
          margin-top: 25px;
        }
        .LCRoom {
          text-align: center;
          padding: 12px;
          border: 1px solid black;
          background-color: #353538;
          border-radius: 8px;
          color: white;

        }
        .newsBox {
          width: 90%;
          height: 60%;
          background-color: grey;
          display: block;
          margin: auto;
          border-radius: 5px;
          margin-top: 10px;
          padding: 3px;
        }
        .imgHolder {
          width: 95%;
          height: 60%;
          background-color: black;
          display: block;
          margin: auto;
        }
        .textHolder {
          width: 95%;
          display: block;
          margin: auto;
          font-size: 12px;
        }
        .newsMore {
          width: 90%;
          height: 10%;
          background-color: #165dce;
          display: block;
          margin: auto;
          font-size: 25px;
          color: white;
          text-align: center;
          border-radius: 20px;
          margin-top: 25px;
          outline: none;
        }
        .newsMore:active {
          background-color: #0c4299;
        }

        .classHolder {
          width: 100%;
          position: absolute;
          height: 40px;
          display: block;

        }
        .classHolder ul {
          list-style-type: none;
          margin: 0px;
          height: 100%;
          display: flex;
          font-size: 9.5px;
          padding: 0;
        }
        .classHolder li {
          flex: 1 1 0;
          text-align: center;
          /* height: 100px; */
          background-color  : #353538;

          border-bottom: 2px solid black;
          padding: 12px;
          color: white;
        }
        .classHolder .liHover {

          border-bottom:0px;
          border-left: 2px solid black;
          border-top: 2px solid black;
          border-right: 2px solid black;
          color: #ddd;
        }
        .resourceBox {
          width: 100%;
          height: 60%;

          background-color: white;
          border-radius: 5px;
          position: relative;
          top: 40px;
          display: none;
          opacity: 0.5;
        }
        .submitAssigned {
          width: 80%;
          height: 7%;
          background-color: #165dce;
          cursor: pointer;
          display: block;
          margin: auto;
          font-size: 15px;
          color: white;
          text-align: center;
          border-radius: 20px;
          margin-top: 15px;
          outline: none;
        }
        .submitAssigned:active {
          background-color: #0c4299;
        }
        .addMore {
          margin-top: 50px;
        }
        .allHomework {
          width: 82%;
          height: 80%;
          position: fixed;
          left: 9%;
          top: 10%;
          background-color: white;
          border-radius: 10px;
          display: none;
          overflow: auto;
        }
        #x {
          position: absolute;
          right : 15px;
          top: 15px;
        }
        .modalHolder {
          width: 100%;
          position: absolute;
          top: 35px;
          height: 40px;
          display: block;
        }
        .modalHolder ul {
          list-style-type: none;
          margin: 0px;
          height: 100%;
          display: flex;
          font-size: 9.5px;
          padding: 0;
        }
        .modalHolder li {
          flex: 1 1 0;
          text-align: center;
          /* height: 100px; */
          background: linear-gradient(#bbb, #555);

          border-bottom: 2px solid black;
          padding: 12px;
          color: white;
        }
        .modalHolder .liHover {
          background: linear-gradient(#555, #bbb);
          border-bottom:0px;
          border-left: 2px solid black;
          border-top: 2px solid black;
          border-right: 2px solid black;
          color: #ddd;
        }
        .modalBox {
          width: 100%;
          display: none;

          position: absolute;

          top: 75px;
        }
        .display {
          display: block;
        }
        .block {
          color: black;
          font-size: 90px;
          width: 100%;
          text-align: center;
          margin-top: 50px;
        }
        .colors {
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background: linear-gradient(#f28e37, #f77d13, #f9e66b);
          z-index: -1;
        }

        .calendar {
          width: 95%;

          height: auto;

          display: block;
          margin: auto;
          margin-top: 30px;
        }
        .shownCalendar {


          width: 100%;
          table-layout: fixed;
          text-align: center;
          border-collapse: collapse;
        }
        .shownCalendar tr td {
          border: 2px solid black;
          width: 14.2857%;
          height: 60px;
        }
        .shownCalendar tr th {
          background-color: #353538;
          height: 40px;
          border: 2px solid black;
          color: white;
        }
        .currentMonth {
          width: 100%;
          text-align: center;
          font-size: 35px;
          margin-bottom: 5px;
        }
        .event {
          position: absolute;
          color: blue;
        }

        .hover {
          background:#F8F8F8;
          border: 5px solid #DFDFDF;
          color: #717171;
          font-size: 13px;
          height: 60px;
          letter-spacing: 1px;
          line-height: 20px;
          position: absolute;
          text-align: center;
          text-transform: uppercase;
          left:-60px;
          display:none;
          width: 150px;

        }
        .hover::before{
            content:'';
            position:absolute;
            bottom:-10px;
            width:10px;
            height:10px;
            border-bottom:5px solid #dfdfdf;
            border-right:5px solid #dfdfdf;
            background:#f8f8f8;
            left:50%;
            margin-left:-10px;
            -moz-transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
            transform:rotate(45deg);
            z-index:0;
        }
        .left {
          left: -10px;
        }
        .left::before {
          left : 10%;
        }
        .right {
          left: -110px;
        }
        .right::before {
          left: 90%;
        }
        .event{

            float:left;
            position:relative;
            cursor:pointer;
        }

        .event:hover .hover{
            display:block;
        }
        .menuIcon {
          width: 35px;
          height: 40px;
          position: fixed;
          top: 10px;
          right: 15px;
          /* background-color: black; */

          border-radius: 3px;
          z-index: 16;
        }
        .line1, .line2, .line3 {
          width: 28px;
          height: 2px;
          background-color: white;
          display: block;
          margin: auto;
          margin-top: 5px;
          border-radius: 2px;
          transition: 0.4s;
        }
        .change .line1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 0px);
          transform: rotate(-45deg) translate(-9px, 0px);
        }
        .change .line2 {
          opacity: 0;
        }
        .change .line3 {
          -webkit-transform: rotate(45deg) translate(-10px, 0px);
          transform: rotate(45deg) translate(-10px, 0px);
        }


        nav {
          position: fixed;
          top:-400px;
          width: 100%;
          z-index: 15;
          transition: top 0.8s;
        }
        .holder {
          list-style-type: none;
          padding: 0;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
        nav a {
          text-decoration: none;
          text-align: center;
          color: #fff;
          display: block;
          padding: 10px;
          font-size: 20px;
        }
        nav a:active {
          background: linear-gradient(#444, #333);
        }
        nav .item {
          width: 100%;
          background: linear-gradient(#333, #444);
        }
        .expand {
          top: -20px;
        }


        @media screen and (max-width: 320px) {
          .infoBox {
            padding: 3px;
            margin-top: 8px;
            width: 90%;
          }
          .header {
            height: 30px;
            font-size: 23px;
          }
          .submitAssigned {
            height: 8%;
            margin-top: 5px;
          }

          .courses {
            font-size: 13px;
          }
          .switchTable {
              font-size: 13px;
          }
          .header2 {
            font-size: 15px;
          }

          .block {
            font-size: 70px;
          }
          .shownCalendar tr td {
            height: 50px;
            font-size: 14px;
          }
          .calendar {
            margin-top: 10px;
          }
          .lCroom {
            padding: 8px;
          }

        }


      /* for computers */
      @media screen and (min-width: 768px) {
        .backdrop {

          display: flex;

          flex-wrap: wrap;
          justify-content:center;
        }
        .box {

          width: 350px;
          height: 600px;
          border: 5px solid black;
          margin: 15px;
          margin-right: 7%;
          margin-left: 7%;
        }
        .initDisplay {
          display: none;
        }
        .classHolder {
          width: 340px;
        }
        .allHomework {
          width: 30%;
          height: 70%;
          left: 35%;
          min-width: 500px;
          top: 15%;
          z-index: 50;
          position: absolute;
        }
        .featured {
          width: 50%;
          height: 1000px;
          position: fixed;
          left: 25%;
          z-index: 5000;
          top: 0;
          border: 5px solid black;
          background-color: red;
        }
        .allHomework {
          width: 600px;
          height: 700px;
          position: fixed;
          left: 50%;
          top: 10%;
          transform: translateX(-50%);
          background-color: white;
          border-radius: 10px;
          display: none;
          overflow: auto;
        }
      }


    </style>
  </head>
  <body>



    <div class = "backdrop" id = "backdrop">
      <div class="menuIcon" onclick = "changeFunction(this)" id = "menuIcon">
        <span class="line1"></span>
        <span class="line2"></span>
        <span class="line3"></span>
      </div>
      <nav class = "menu" id = "menu">
        <ul class = "holder" id = "holder" onclick = "confineFunction()">
          <li class = "item"><a href = "#courses">Courses</a></li>
          <li class = "item"><a href = "#LC">LC's that are open</a></li>
          <li class = "item"><a href = "#news">News & Calendar</a></li>
          <!-- <li class = "item"><a href = "#money">Ways to get money</a></li> -->
          <li class = "item"><a href = "#schedule">Schedule and other</a></li>
          <li class = "item"><a href = "#resources">Resources</a></li>
          <li class = "item"><a href = "/logout">Logout</a></li>
          <li class = "item" id = "chatroom"><a href = "/chatroom">Chatroom</a></li>
          <li class = "item" id = "questions"><a href = "/questions?page=0">Questions</a></li>


        </ul>
      </nav>

      <div id = "initDisplay" class = "box initDisplay">
        <div class = "block">P V S S</div>

      </div>

      <div class = "modal" onclick="removeModal()" id = "modal">

      </div>
      <div id = "allHomework" class = "allHomework">

        <div class = "modalHolder">
          <ul class = "courseModalHolder">

            <% homework.forEach(function(homeworkGiven) { %>
              <li onclick = "displayHomework('<%=homeworkGiven[0].split(' ').join('_')%>')" class = "modalBlock"><%=homeworkGiven[0]%></li>
            <% }); %>

          </ul>
        </div>
        <% homework.forEach(function(theHomeworkGiven) { %>
          <div class = "modalBox" id = "<%=theHomeworkGiven[0].split(' ').join('_')%>">
            <% for (var i = theHomeworkGiven[1].length-1; i >= 0; i--) { %>
              <br>
              <% if (theHomeworkGiven[1][i].assignment != "") { %>
                  <%=theHomeworkGiven[1][i].date%>
                  <br>
                  <%=theHomeworkGiven[1][i].assignment%>
                  <br>
                  notes: <%=theHomeworkGiven[1][i].notes%>
                  <br>
                  <% if (permissions === "admin") { %>
                    <div class = "remove" id = "<%=theHomeworkGiven[0].split(' ').join('_')%>_<%=theHomeworkGiven[2]%>_<%=i%>" onclick = "removeFunction(this)">
                      remove
                    </div>
                  <% } %>
                  <br>
              <% } else { %>
                  <%=theHomeworkGiven[1][i].date%>
                  <br>
                  Q#<%=theHomeworkGiven[1][i].questions%>, pg.<%=theHomeworkGiven[1][i].page%>
                  <br>
                  notes: <%=theHomeworkGiven[1][i].notes%>
                  <br>
                  <% if (permissions === "admin") { %>
                    <div class = "remove" id = "<%=theHomeworkGiven[0].split(' ').join('_')%>_<%=theHomeworkGiven[2]%>_<%=i%>" onclick = "removeFunction(this)">
                      remove
                    </div>
                  <% } %>
                  <br>
              <% } %>

            <% } %>
          </div>
        <% }); %>


      </div>
      <div id = "courses" class = "courses box" name = "courses">
        <div class = "header">Courses</div>


        <div class = "infoBox large">
          <div class = "header2">Your courses today&nbsp; <a href = "courses" style = "font-size: 12px; color: #38c450">edit</a></div>
          <div id = "todayCourses" class = "todayCourses">
            <ul style = "list-style-type: none">



              <% for (var i = 0; i < todaysCourses.length; i++) { %>
                <% if (i == 0 ) { %>
                  <li>9:10-10:12 : <%=blockOrder[i]%></li>
                <% }  else if (i == 1) { %>
                  <li>10:15-11:17 : <%=blockOrder[i]%></li>
                  <li>11:19-11:29 : TA</li>
                <% } else if (i == 2) { %>
                  <li>11:29-12:31 : <%=blockOrder[i]%></li>
                  <li>12:32-1:15 : Lunch</li>
                <% } else if (i == 3) { %>
                  <li>1:16-2:18 : <%=blockOrder[i]%></li>

                <% } else if (i == 4) { %>
                  <li>2:21-3:23 : <%=blockOrder[i]%></li>
                <% }%>
              <% } %>
            </ul>
          </div>
        </div>
        <div class = "infoBox">
          <div class = "header2">Today's homework</div>
          <div id = "possibleCourses" class = "possibleCourses">
            <table class = "switchTable">


              <% homework.forEach(function(theHomeworkCourse) { %>
                <tr>
                  <td>
                    <!-- <a href = "/" style = "text-decoration: none; color: blue; font-size: 15px">+</a> -->
                    &nbsp;&nbsp;<%=theHomeworkCourse[0]%></td>
                  <td>

                    <% if (theHomeworkCourse[1].length != 0) { %>
                      <% if (theHomeworkCourse[1][theHomeworkCourse[1].length-1].questions != "") { %>
                            Q#<%=theHomeworkCourse[1][theHomeworkCourse[1].length-1].questions%>, pg.<%=theHomeworkCourse[1][theHomeworkCourse[1].length-1].page%><br>
                      <% } else { %>
                            <a style = "text-decoration: underline; color: #38c450" onclick = "modalDisplay('<%=theHomeworkCourse[0].split(' ').join('')%>')">view assignment</a><br>
                      <% } %>
                    <% } %>




                  </td>
                </tr>
              <% }); %>

            </table>
          </div>
          <i style = "font-size: 10px">There's more... <a onclick = "modalDisplay(0)" style = "text-decoration: underline; color: #38c450; cursor: pointer;"> view all</a></i>
        </div>
        <a href = "/submit" style = "text-decoration: none;"><button class = "submitAssigned">
          Click to submit assigned homework
        </button></a>
      </div>


      <div id = "LC" class = "LC box" name = "LC">
        <div class = "header">LC's that are open</div>
        <div class = "openRooms">
          <% lcSchedule.forEach(function(LC) { %>
            <div class = "LCRoom"><%=LC%></div>
            <br>
          <% }); %>

        </div>
      </div>


      <div id = "news" class = "news box" name = "news">
        <div class = "header">News & Calendar</div>
        <div class = "calendar">
          <div class = "currentMonth">
            <%=month%>
          </div>
          <table class = "shownCalendar" id = "calendar">

            <tr>
              <th>S</th>
              <th>M</th>
              <th>T</th>
              <th>W</th>
              <th>T</th>
              <th>F</th>
              <th>S</th>
            </tr>
            <tr>
              <% for (var i = 0; i < calendar.length; i++) { %>
                  <% if (i >= calendar[0][2]) { %>


                    <td><%=calendar[i-calendar[0][2]][1]+1%>

                      <br>



                      <% if (calendar[i-calendar[0][2]][0].length != 0) { %>
                        <% if (calendar[i-calendar[0][2]][2] === 0) { %>
                          <div class = "event">event<span class = "hover left" style = "top: <%=-20-calendar[i-calendar[0][2]][0].length*55%>px; height: <%=calendar[i-calendar[0][2]][0].length*55%>px">
                        <% } else if (calendar[i-calendar[0][2]][2] === 6) { %>
                          <div class = "event">event<span class = "hover right" style = "top: <%=-20-calendar[i-calendar[0][2]][0].length*55%>px; height: <%=calendar[i-calendar[0][2]][0].length*55%>px">
                        <% } else { %>
                          <div class = "event">event<span class = "hover" style = "top: <%=-20-calendar[i-calendar[0][2]][0].length*55%>px; height: <%=calendar[i-calendar[0][2]][0].length*55%>px">
                        <% } %>

                        <% for (var k = 0; k < calendar[i-calendar[0][2]][0].length-1; k++) { %>
                          <%=calendar[i-calendar[0][2]][0][k]%>
                          <hr>
                        <% } %>
                        <%=calendar[i-calendar[0][2]][0][calendar[i-calendar[0][2]][0].length-1]%>
                        </span>
                        </div>



                      <% } %>
                    </td>
                  <% } else { %>
                    <td></td>
                  <% } %>
                  <%if((i+1) % 7 === 0) { %>
                    </tr>
                    <tr>
                  <%}%>
              <% } %>
            </tr>

          </table>
        </div>

        <button class = "newsMore">
          <a href = "/calendar" style = "text-decoration: none; color: white;">Click to see more...</a>
        </button>

      </div>

      <!-- will be added back in later -->
      <!-- <div id = "money" class = "money box" name = "money">
        <div class = "header">Ways to get money</div>
      </div> -->
      <div id = "schedule" class = "schedule box" name = "schedule">
        <div class = "header">Schedule and other</div>
        <div class = "scheduleHref" style = "margin-top: 50px"><a href = "/schedule">View Schedule</a></div>

        <div class = "scheduleHref" style = "margin-top: 50px"><a href = "/view-courses">View other courses you could take</a></div>
      </div>


      <div id = "resources" class = "resources box" name = "resources">
        <div class = "header" style = "margin-bottom: 15px;">Resources</div>
        <div class = "classHolder">
          <ul class = "helperHolder">

            <% courses.forEach(function(course) { %>
              <li onclick = "showFunction('rsb<%=course.course.split(' ').join('')%>', this)" class = "elementBlock" style = "cursor: pointer"><%=course.course%></li>
            <% }); %>

          </ul>
        </div>
        <div class = "resourceBox" style = "display: block; background-color: white" id = "baseBox"></div>


        <%for (var i = 0; i < courses.length; i++) {%>
          <div class = "resourceBox" id = "rsb<%=courses[i].course.split(' ').join('')%>">
            Videos:
            <br>

            <br>
            <% if (courses[i].resource.length != 0) { %>
              <% for (var j = 0; j < courses[i].resource.length; j++) { %>
                <a href = "<%=courses[i].resource[j].url%>"><%=courses[i].resource[j].description%></a>
                <br>
                <br>
              <% } %>

            <% }%>
            <br>
            websites:
            <br>
            <br>
            <br>
            textbooks:
          </div>
        <%}%>

        <div class = "addMore">
          <i><a href = "/suggestions" style = "text-decoration: none; color: blue">Think we're missing something? submit it here</a>...</i>
        </div>

      </div>

    </div>
    <div class = "colors" id = 'colors'>

    </div>



  </body>
  <script>
    var currentShown = "none"
    function showFunction(id, element) {
      var rsBlocks = document.getElementsByClassName("resourceBox");
      var elementTab = document.getElementsByClassName("elementBlock")
      for (var i  = 0; i < rsBlocks.length; i++) {
        rsBlocks[i].style.display = "none";
      }
      for (var i = 0; i < elementTab.length; i++) {
        elementTab[i].className = "elementBlock";
      }
      if (currentShown != id) {
        document.getElementById(id).style.display = "block";
        element.className = "elementBlock liHover";
        currentShown = id;

      } else {
        document.getElementById("baseBox").style.display = "block";
        element.className = "elementBlock";
        currentShown = "none";
      }
    }
    function modalDisplay(course) {
      var modal = document.getElementById("allHomework");
      var backModal = document.getElementById("modal");
      backModal.style.visibility = "visible";
      modal.style.display = "block";
    }
    function removeModal() {
      document.getElementById("allHomework").style.display = "none";
      document.getElementById("modal").style.visibility = "hidden";
    }
    function displayHomework(course) {
      var boxes = document.getElementsByClassName("modalBox");
      for (var i = 0; i < boxes.length; i++) {
        boxes[i].className = "modalBox";
      }
      document.getElementById(course).className = "modalBox display";
    }

    function minutesToTime(min) {
      let hour = min/60;
      let minute = min%60;
      return [hour, minute];
    }
    function changeFunction(x) {
      x.classList.toggle("change");
      document.getElementById("holder").classList.toggle("expanded");
      document.getElementById("menu").classList.toggle("expand");
    }
    function confineFunction() {
      menuIcon.classList.toggle("change");
      document.getElementById("holder").classList.toggle("expanded");
      document.getElementById("menu").classList.toggle("expand");
    }

    function removeFunction(element) {
      if (confirm("Are you sure you would like to remove this homework?")) {
        element = element.id.split("_");
        let length = element.length-4;
        let finalString = [];
        for (var i = 0; i < element.length; i++) {

          finalString.push(element[i]);
          if (length != 0) {
            finalString.push(" ");
            length--;
          } else if (i != element.length-1) {
            finalString.push("_");
          }
        }
        finalString = finalString.join("");
        let form = document.createElement("form");
        let input = document.createElement("input");
        input.type = "hidden";
        input.value = finalString;
        input.name = "removedHomework";
        form.action = "/";
        form.method = "POST";
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
      } else {

      }
    }
  </script>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('../sw.js').then(function(reg) {
        console.log('Registration succeeded. Scope is ' + reg.scope);
      }).catch(function(error) {
        console.log('Registration failed with ' + error);
      });
    }
  </script>
</html>
