<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "View your classmates questions, and comment on their posts!" />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Questions</title>

    <script>
      window.onload  = function() {



        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
          let currentElement;
          let startValue;
          let finished = false;
          let currentVertical = [0, 0];
          let allowed = false;
          let pastAllowed = false;
          document.addEventListener("touchstart", function(event) {
            let xVal = (event.touches["0"].clientX);
            startValue = xVal;
            currentVertical = [event.touches["0"].clientX, event.touches["0"].clientY];

            let selectedElement = (event.target.parentNode.classList.contains("question") ? event.target.parentNode : event.target);
            if (selectedElement.classList.contains("question")) {
              currentElement = selectedElement;
            } else {
              currentElement = false;
            }
          });
          document.addEventListener("touchmove", function(event) {
            currentV = currentVertical[1] - event.touches["0"].clientY;
            currentH = currentVertical[0] - event.touches["0"].clientX;
            if (Math.abs(currentV/currentH) < 0.6 && (Math.abs(currentH) > 20 || Math.abs(currentV) > 20) && !pastAllowed) {
              allowed = true;
            } else if (Math.abs(currentV/currentH) > 0.6 && (Math.abs(currentH) > 20 || Math.abs(currentV) > 20)) {
              pastAllowed = true;
            }
            if (!currentElement) {

            } else if (allowed) {
              let xVal = event.touches["0"].clientX;
              currentElement.style.right = (startValue - xVal).toString() + "px";

              if (startValue - xVal > 100 && !finished) {
                finished = true;

                for (var i = 0; i < currentElement.children.length; i++) {
                  if (currentElement.children[i].classList.contains("replyBox")) {
                    currentElement.classList.add("expanding");
                    window.navigator.vibrate(200);
                    currentElement.children[i].classList.add("boxFull");
                  }
                }
              }
              if (finished && (startValue - xVal < 100)) {
                finished = false;

                for (var i = 0; i < currentElement.children.length; i++) {
                  if (currentElement.children[i].classList.contains("replyBox")) {
                    currentElement.children[i].classList.remove("boxFull");
                    currentElement.classList.remove("expanding");
                  }
                }

              }
            }
          });
          document.addEventListener("touchend", function(event) {
            pastAllowed = false;
            if (!currentElement || !allowed || currentElement === undefined) {

            } else {
              let acceleration = 100;
              let preVelocity = 0;
              let velocity = 0;
              var ourInterval = setInterval(function() {
                preVelocity += acceleration;
                velocity = (Math.sqrt(preVelocity));
                if (velocity > 10) {
                  velocity = 10;
                }
                var interval = (parseInt(currentElement.style.right) > 0 ? 1 : -1);
                currentElement.style.right = (parseInt(currentElement.style.right) - interval*velocity*2).toString() + "px";
                if ((parseInt(currentElement.style.right) > 0 && parseInt(currentElement.style.right) < 21) || (parseInt(currentElement.style.right) < 0 && parseInt(currentElement.style.right) > -21)) {
                  var replyBoxes = document.getElementsByClassName("replyBox");
                  for (var i = 0; i < replyBoxes.length; i++) {
                    replyBoxes[i].classList.remove("boxFull");
                  }
                  currentElement.style.right = "0px";
                  clearInterval(ourInterval);
                  if (finished) {
                    window.location.replace("https://www.pvstudents.ca/questions/" + currentElement.id);
                  }
                  currentElement = "";
                  startValue = 0;
                  finished = false;
                  allowed = false;
                }

              }, 1);
            }
          });
        } else {
          document.addEventListener("click", function(event) {
            let target = event.target.parentNode;

            if (target.classList.contains("question")) {
              window.location.replace("https://www.pvstudents.ca/questions/" + target.id);
            }
          });
        }
      }
      function submitPost() {
        var submitPost = document.getElementById("submitPost");
        submitPost.classList.toggle("submitPostSee");
      }
      function deleteFunction(id) {
        if (confirm("Are you sure you would like to delete this post?")) {

          var form = document.createElement("form");
          form.method = "POST";
          form.action = "/questions";
          var input = document.createElement("input");
          input.type = "hidden";
          input.value = id;
          input.name = "deleteElement";
          form.appendChild(input);
          document.body.appendChild(form);
          form.submit();
        } else {

        }
      }
    </script>
    <style>
      :root {
        --bg-color: <%=colours.bgColor%>;
        --info-color: <%=colours.infoColor%>;
        --button-color: <%=colours.buttonColor%>;
        --border-color: <%=colours.borderColor%>;
        --text-color: <%=colours.textColor%>;
      }
      @font-face {
        font-family: sansFont;
        src: url("<%=font%>")
      }
      * {
        font-family: sansFont, sans-serif;
        box-sizing: border-box;
        color: <%=colours.textColor%>;
      }
      html {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        -webkit-text-size-adjust: 100%
      }
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        position: fixed;
        top: 0;
        left: 0;
        overflow: scroll;
        background-color: <%=colours.bgColor%>;
      }
      .questionHolder {
        width: 100%;
        height: 100%;
        max-width: 700px;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        margin: auto;

        background: <%=colours.bgColor%>;
        margin-top: 0px;
        padding-bottom: 50px;
        margin-bottom: 70px;
      }
      .question {
        color: <%=colours.textColor%>;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid <%=colours.borderColor%>;
        border-top: 1px solid <%=colours.borderColor%>;
        margin-top: 10px;
        margin-bottom: 20px;
        position: relative;

        right: 0px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        background-color: <%=colours.infoColor%>;
        z-index: 4;
      }
      .questionTitle {
        margin-left: 10px;
      }
      .replyBox {

        width: 100%;
        height: 100%;
        position: absolute;
        right: -100%;
        top: 0px;
        background-color: #004720;
        z-index: 1;

      }
      .boxFull {
        background-color: #28bf41;
      }
      .submittedBy {
        font-size: 10px;
        margin-left: 10px;
      }
      .reply {
        font-size: 15px;
        height: 15px;
        position: absolute;
        top: 30%;
        margin-left: 25px;
      }
      .bar {
        width: 100%;
        height: 60px;
        max-width: 700px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        z-index: 5;
        transform: translateX(-50%);
        background-color: <%=colours.infoColor%>;
        text-align: center;
        font-size: 40px;
        color: <%=colours.textColor%>;
        border-top: 2px solid <%=colours.borderColor%>;

      }
      .submitPost {
        width: 100%;
        height: 100%;
        max-width: 700px;
        min-height: 460px;
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        background: <%=colours.bgColor%>;
        transition: top 1.2s;
        z-index: 10;
        overflow: auto;

      }
      .submitPost form {
        height: 100%;
        display: flex;
        flex-direction: column;

      }
      .spacer {
        flex-grow: 1;
      }
      .submitPostSee {
        top: 0%;
      }
      #title {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 15px;
        outline: none;
      }
      #backUp {
        color: <%=colours.textColor%>;
      }
      .textColour {
        color: <%=colours.textColor%>;
      }
      .radio {
          width: 25px;
          height: 25px;

      }
      .submit {
        width: 150px;
        height: 50px;
        background-color: <%=colours.buttonColor%>;
        margin-top: 5px;
        font-size: 18px;
        border-radius: 10px;
        -webkit-appearance: none;
      }
      .header {
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-top: 10px;
      }
      #textarea {
        height: 200px;
        width: 80%;
        display: block;
        margin: auto;
        outline: none;
        background-color: <%=colours.infoColor%>;
        color: <%=colours.textColor%>;
      }
      #title {
        background-color: <%=colours.infoColor%>;
        color: <%=colours.textColor%>;
      }
      .delete {
        width: 75px;
        height: 30px;
        background-color: red;
        text-align: center;
      }
      .expanding {
        -webkit-animation: expanding 1s; /* Safari 4.0 - 8.0 */
        animation: expanding 1s;
      }
      @keyframes expanding {
        0% {
          padding-top: 15px;
          padding-bottom: 15px;
          margin-top: 0px;
          margin-bottom: 10px;
        }
        40% {
          padding-top: 5px;
          padding-bottom: 5px;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
      @media screen and (max-width: 320px) {
        #textarea {
          height: 100px;
        }
        #title {
          height: 30px;
          font-size: 14px;
        }
        .header {
          margin-top: 5px;
        }
      }
      @media screen and (max-height: 350px) {
        body {
          height: 200%;
          overflow: auto;
        }

        .submitPost form {
          height: initial;
        }
      }



    </style>
  </head>
  <body>

    <div class = "questionHolder">
      <% posts.forEach(function(post) { %>
        <div class = "question" id = "<%=post._id%>">
          <div class = "questionTitle"><%=post.title%></div>
          <div class = "submittedBy">
            <% if (post.anonymous) { %>
              anon
            <% } else { %>
              <%=post.submittedBy%>
            <% } %>
          </div>
          <% if (user.permissions === "admin") { %>

            <div class = "delete" onclick = "deleteFunction('<%=post._id%>')">
              delete
            </div>
          <% }%>
          <div class = "replyBox">
            <div class = "reply">OPEN</div>
          </div>
        </div>
      <% }) %>

    </div>


    <div class = "bar" style = "">
      <div class = "back" style = "font-size: 40px; position: absolute; top: 5px; left: 10px;">
        <a id = "back" href = "/" style = "text-decoration:none;">&#8592;</a>
      </div>
      <%if (page > 0) { %>
        <a href = "/questions?page=<%=page-1%>" className = "textColour" style = "text-decoration: none;">&larr;</a>
      <% } %>
       &nbsp;&nbsp;&nbsp; <div id = "submit" style = "display: inline;" className = "textColour" onclick = "submitPost()">&#9998;</div> &nbsp;&nbsp;&nbsp;
      <%if (page < max-1) { %>
        <a href = "/questions?page=<%=page+1%>" className = "textColour" style = "text-decoration: none;">&rarr;</a>
      <% } %>

    </div>
    <div class = "submitPost" id = "submitPost">
      <form method = "POST" action = "/questions">
        <label for "title"><div class = "header">Title: </div></label><input type = "text" name = "title" id = "title" placeholder = "Input here... if homework, please specify" maxlength="128" required style = "font-size: 18px;"/>
        <div class = "spacer"></div>
        <div class = "header">Submit As: </div>
        <div><label for "anon">Anonymous: </label><input type = "radio" name = "anon" id = "anon" class = "radio" style = "position: relative; top: 5px" value = "true" required/></div>


        <div><label for "user">User: </label><input type = "radio" value = "false" name = "anon" id = "user" class = "radio" style = "position: relative; top: 5px" required/></div>
        <div class = "spacer"></div>
        <h3 style = "width: 80%; margin: auto">Body: </h3>
        <textarea placeholder="Enter your body here" name = "body" id = "textarea" maxlength="512" style = "font-size: 18px; "></textarea>
        <center><input type = "submit" class = "submit"/></center>
        <div class = "spacer"></div>
        <div id = "backUp" style = "font-size: 40px; text-align: center;" onclick = "submitPost()">&#x21e7;</div>
      </form>
    </div>

  </body>
</html>
