<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title></title>
    <script>
      window.onload  = function() {



        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
          let currentElement;
          let startValue;
          let finished = false;
          document.addEventListener("touchstart", function(event) {
            let xVal = (event.touches["0"].clientX);
            startValue = xVal;

            let selectedElement = event.target.parentNode;
            if (selectedElement.classList.contains("question")) {
              currentElement = selectedElement;
            } else {
              currentElement = false;
            }
          });
          document.addEventListener("touchmove", function(event) {
            if (!currentElement) {
            } else {
              let xVal = event.touches["0"].clientX;
              currentElement.style.right = (startValue - xVal).toString() + "px";

              if (startValue - xVal > 100 && !finished) {
                finished = true;
                currentElement.childNodes[5].classList.add("boxFull");
              }
              if (finished && (startValue - xVal < 100)) {
                finished = false;
                currentElement.childNodes[5].classList.remove("boxFull");
              }
            }
          });
          document.addEventListener("touchend", function(event) {
            if (!currentElement) {

            } else {
              let acceleration = 100;
              let preVelocity = 0;
              let velocity = 0;
              var ourInterval = setInterval(function() {
                preVelocity += acceleration;
                velocity = (Math.sqrt(preVelocity));
                if (velocity > 10) {
                  velocity = 10;
                }
                var interval = (parseInt(currentElement.style.right) > 0 ? 1 : -1);
                currentElement.style.right = (parseInt(currentElement.style.right) - interval*velocity*2).toString() + "px";
                if ((parseInt(currentElement.style.right) > 0 && parseInt(currentElement.style.right) < 21) || (parseInt(currentElement.style.right) < 0 && parseInt(currentElement.style.right) > -21)) {
                  var replyBoxes = document.getElementsByClassName("replyBox");
                  for (var i = 0; i < replyBoxes.length; i++) {
                    replyBoxes[i].classList.remove("boxFull");
                  }
                  currentElement.style.right = "0px";
                  clearInterval(ourInterval);
                  if (finished) {
                    window.location.replace("https://www.pvstudents.ca/questions/" + currentElement.id);
                  }
                  currentElement = "";
                  startValue = 0;
                  finished = false;
                }

              }, 1);
            }
          });
        } else {
          document.addEventListener("click", function(event) {
            let target = event.target.parentNode;
            console.log(target);
            if (target.classList.contains("question")) {
              window.location.replace("https://www.pvstudents.ca/questions/" + target.id);
            }
          });
        }
      }
      function submitPost() {
        var submitPost = document.getElementById("submitPost");
        submitPost.classList.toggle("submitPostSee");
      }
    </script>
    <style>
      * {
        font-family: sans-serif;
        box-sizing: border-box;
      }
      html {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
      .questionHolder {
        width: 100%;
        max-width: 700px;
        overflow-y: auto;
        overflow-x: hidden;
        position: fixed;
        top: 40px;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;

      }
      .question {
        color: #eee;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        right: 0px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

      }
      .replyBox {
        width: 100%;
        height: 100%;
        position: absolute;
        right: -100%;
        top: 0px;
        background-color: #004720;
      }
      .boxFull {
        background-color: #28bf41;
      }
      .submittedBy {
        font-size: 10px;
      }
      .reply {
        font-size: 15px;
        height: 15px;
        position: absolute;
        top: 30%;
      }
      .bar {
        width: 100%;
        height: 40px;
        max-width: 700px;
        border: 1px solid grey;
        position: fixed;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #26a4ff;
        text-align: center;
        font-size: 30px;
      }
      .submitPost {
        width: 100%;
        height: 100%;
        max-width: 700px;
        position: fixed;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: orange;
        transition: top 1.2s;
      }
      .submitPostSee {
        top: 0%;
      }
      #title {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 15px;
        outline: none;
      }
      .radio {
          width: 25px;
          height: 25px;

      }
      .submit {
        width: 100px;
        height: 30px;
        background-color: white;
        margin-top: 10px;
      }
      .header {
        font-size: 15px;
        font-weight: bold;
        display: block;
        margin-top: 10px;
      }
      #textarea {
        height: 200px;
        width: 80%;
        display: block;
        margin: auto;
        outline: none;
      }
      @media screen and (max-width: 320px) {
        #textarea {
          height: 100px;
        }
        #title {
          height: 30px;
          font-size: 14px;
        }
        .header {
          margin-top: 5px;
        }
      }



    </style>
  </head>
  <body>

    <div class = "questionHolder">
      <% posts.forEach(function(post) { %>
        <div class = "question" id = "<%=post._id%>">
          <div class = "questionTitle"><%=post.title%></div>
          <div class = "submittedBy"><%=post.submittedBy%></div>
          <div class = "replyBox">
            <div class = "reply">OPEN</div>
          </div>
        </div>
      <% }) %>

    </div>

    <div class = "bar" style = "top: 0px">
      Questions
      <div class = "back" style = "font-size: 20px;color: white; position: absolute; top: 5px; left: 10px;">
        <a id = "back" href = "/" style = "text-decoration:none;">&#8592;</a>
      </div>
    </div>
    <div class = "bar">
      <%if (page > 0) { %>
        <a href = "/questions?page=<%=page-1%>">&larr;</a>
      <% } %>
       &nbsp;&nbsp;&nbsp; <div id = "submit" style = "display: inline;" onclick = "submitPost()">&#9998;</div> &nbsp;&nbsp;&nbsp;
      <%if (page < max) { %>
        <a href = "/questions?page=<%=page+1%>">&rarr;</a>
      <% } %>

    </div>
    <div class = "submitPost" id = "submitPost">
      <form method = "POST" action = "/questions">
        <label for "title"><div class = "header">Title: </div></label><input type = "text" name = "title" id = "title" placeholder = "Input here... if homework, please specify" maxlength="128" required />
        <div class = "header">Submit As: </div>
        <label for "anon">Anonymous: </label><input type = "radio" name = "anon" id = "anon" class = "radio" value = "anon" required/>
        <br>

        <label for "user">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User: </label><input type = "radio" value = "<%=user.username%>" name = "anon" id = "user" class = "radio" required/>
        <br>
        <hr>
        <h3 style = "display: inline">Body: </h3><br>
        <textarea placeholder="Enter your body here" name = "body" id = "textarea" maxlength="512"></textarea>
        <center><input type = "submit" class = "submit"/></center>
        <br>
        <center><div id = "backUp" style = "font-size: 40px; position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%); text-align: center;" onclick = "submitPost()">&#x21e7;</div>
      </form>
    </div>

  </body>
</html>
