<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "Chat with your classmates." />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Chatroom</title>


    <style>
      :root {
        --bg-color: <%=colours.bgColor%>;
        --info-color: <%=colours.infoColor%>;
        --button-color: <%=colours.buttonColor%>;
        --border-color: <%=colours.borderColor%>;
        --text-color: <%=colours.textColor%>;
      }
      @font-face {
        font-family: sansFont;
        src: url("<%=font%>")
      }
    * {
      font-family: sansFont, sans-serif;
      box-sizing: border-box;
      color: <%=colours.textColor%>;
    }
    html {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      -webkit-text-size-adjust: 100%;
    }
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;



      background-color: <%=colours.bgColor%>;
    }
    .bodyHolder {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: fixed;
      top: 0;
      left: 0;
    }
    .schoolChat {
      width: 100%;
      height: 50%;
      /* border: 2px solid black; */
    }
    .chatWindow {
      width:100%;
      display: block;
      border-radius: 5px;
      margin:auto;
      overflow: auto;
      height: 100%;
    }
    #message {
      width: 100%;
      height: 40px;
      border: 1px solid black;
      outline: none;
      background-color: <%=colours.buttonColor%>;
      margin-top: 15px;
      font-size: 18px;
    }
    #back {
      color: <%=colours.infoColor%>;
    }
    #send {
      width: 100%;
      height: 60px;
      margin-top: 15px;
      border: 1px solid black;
      background-color: <%=colours.buttonColor%>;
      border-radius: 5px;
      font-size: 20px;
    }
    .name {
      font-size: 11px;
      position: relative;
      top: -15px;
      font-style: italic;
      color: red;
      margin: 0px;
    }

    .messageHolder {
      width: 95%;
      box-sizing: border-box;
      border-bottom: 1px solid black;
      display: block;
      margin: auto;
      padding: 5px;
      border-radius: 5px;
      background-color: <%=colours.infoColor%>;
      margin-top: 10px;
      margin-bottom: 15px;
      box-shadow: 5px 5px 10px 2px black;
    }
    .feeback {
      width: 100%;
      background-color: grey;
    }
    .otherRooms {

      width: 50%;
      margin-left: 25%;
      background-color: <%=colours.buttonColor%>;
    }
    .room {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 2px solid <%=colours.borderColor%>;
    }
    .current {
      background-color: <%=colours.infoColor%>;
    }
    .spacer {
      flex-grow: 1;
    }
    @media screen and (min-width: 768px) {
      .schoolChat {
        width : 50%;
        height: 50%;
      }
      .chatWindow {
        width: 50%;
        border-radius: 5px;
        height: 50%;

        /* margin-top: 15%; */
        position: absolute;
        top: 15%;
        left: 25%;
        min-width: 600px;
        overflow: scroll;
      }
      #message {
        width: 50%;
        height: 40px;
        border: 1px solid black;
        display: block;
        margin: auto;
        position: absolute;
        bottom: 100px;
        left: 25%;
        min-width: 600px;
        outline: none;
        font-size: 18px;
      }
      #send {
        width: 50%;
        height: 40px;

        display: block;
        margin: auto;
        position: absolute;
        bottom: 50px;
        left: 25%;
        margin-top: 20px;
        min-width: 600px;
        outline: none;
        font-size: 18px;
      }
      .name {
        font-size: 11px;
        position: relative;
        top: -15px;
        font-style: italic;
        color: red;
        margin: 0px;
      }

      .messageHolder {
        width: 95%;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        padding: 5px;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 15px;
      }
      .otherRooms {
        width: 50%;
        min-width: 600px;
        left: 25%;
        height: 50px;
        display: flex;
      }
      .room {

        width: 50%;
      }
    }
    .mute {
      display: block;

      right: 0px;
      height: 100%;
      width: 40px;
      background-color: red;
    }
    .tagForm {
      position: absolute;
      height: 100px;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
    }
    .tagForm * {
      display: block;
      margin: auto;
    }
    .schoolTag {
      font-size: 18px;
      outline: none;
      margin-top: 15px;
    }
    .submitTag {
      width: 100px;
      height: 40px;
      -webkit-appearance: none;
      background-color: <%=colours.buttonColor%>;
      font-size: 20px;
      outline: none;
    }
    </style>
  </head>
  <body>
    <div class = "bodyHolder">
      <% if (confirmed) { %>
        <div class = "schoolChat" id = "schoolChat">
          <div class = "chatWindow" id = "chatWindow">
            <div class = "<%=permissions%>" id = "outPut">
              <% if (texts.length === 0) { %>
                <div class = "messageHolder">
                  <p><strong>Computer: </strong>It's very empty here!</p>
                </div>
              <% } else { %>
                <% texts.forEach(function(text) { %>
                  <div class = "messageHolder">
                    <p><strong><%=text.submittedBy%></strong>: <%=text.body%></p><div class = "name"><%=text.firstName%> <%=text.lastName%></div>
                  </div>
                <% }); %>
              <% } %>
            </div>
            <div class = "feedback" id = "feedback">

            </div>
          </div>
        </div>
        <input type = "text" id = "message" name = "message" placeholder="message..."maxlength="128" onfocus = "focusFunction()" onblur = "lostFunction()"/>
        <button id  = "send" name = "send">Send</button>

        <div class = "spacer"></div>
        <div class = "otherRooms" id = "otherRooms">
          <% if (room == "all") { %>
            <div class = "room current" onclick = "changeRoom('all', this)">
              Current room: all
            </div>
            <div class = "room" onclick = "changeRoom('grade<%=grade%>', this)">
              Grade <%=grade%>
            </div>
          <% } else { %>
            <div class = "room" onclick = "changeRoom('all', this)">
              all
            </div>
            <div class = "room current" onclick = "changeRoom('grade<%=grade%>', this)">
              Current room: Grade <%=grade%>
            </div>
          <% } %>

        </div>
        <div class = "back" id = "back" style = "font-size: 40px; position: fixed; bottom: 15px; left: 10px;">
          <a href = "/" style = "text-decoration:none; color: <%=colours.buttonColor%>">&#8592;</a>
        </div>
      <% } else { %>
        <form action = "/chatroom" method = "POST" class = "tagForm">
          Please enter your school username (ex. eglia02)
          <br>
          <input name = "userSchoolTag" class = "schoolTag" id = "schoolTag" required/>
          <br>
          <input type = "submit" class = "submitTag">
        </form>
      <% } %>

    </div>


  </body>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
  <script>
    var currentChatRoom = '<%=room%>';
    function changeRoom(room, element) {
      window.location.href = "https://www.pvstudents.ca/chatroom?chatroom=" + room;
    }
    function focusFunction() {
      document.getElementById("otherRooms").style.display = "none";
      document.getElementById("back").style.display = "none";
    }
    function lostFunction() {
      document.getElementById("otherRooms").style.display = "initial";
      document.getElementById("back").style.display = "initial";
    }
  </script>
  <script src = "public/js/chatroom.js"></script>
</html>
