<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel = "shortcut icon" type = "image/x-icon" href = "public/images/favicon.ico" />
    <link rel = "shortcut icon" type = "image/ico" href = "public/images/favicon.ico" />
    <title>PVSS student website | Chatroom</title>
    <meta charset="utf-8" name = "viewport" content = "width=device-width, initial-scale=1.0">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>

    <style>
    * {
      font-family: sans-serif;
      box-sizing: border-box;
    }
    html {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#f28e37, #f77d13, #f9e66b);
    }
    .schoolChat {
      width: 100%;
      height: 50%;
      /* border: 2px solid black; */
    }
    .chatWindow {
      width:100%;
      display: block;
      border-radius: 5px;
      margin:auto;
      overflow: auto;
      height: 100%;
    }
    #message {
      width: 100%;
      height: 40px;
      border: 1px solid black;
      outline: none;
      background-color: white;
      margin-top: 15px;
      font-size: 18px;
    }
    #send {
      width: 100%;
      height: 30px;
      margin-top: 15px;
      border: 1px solid black;
      background-color: #165dce;
      border-radius: 5px;
      font-size: 18px;
    }
    .name {
      font-size: 11px;
      position: relative;
      top: -15px;
      font-style: italic;
      color: red;
      margin: 0px;
    }

    .messageHolder {
      width: 95%;
      box-sizing: border-box;
      border-bottom: 1px solid black;
      display: block;
      margin: auto;
      padding: 5px;
      color: white;
      border-radius: 5px;
      background-color: #353538;
      margin-top: 5px;
    }
    .feeback {
      width: 100%;
      background-color: grey;
    }
    @media screen and (min-width: 768px) {
      .schoolChat {
        width : 50%;
        height: 50%;
      }
      .chatWindow {
        width: 50%;
        display: block;
        margin: auto;
        border-radius: 5px;
        height: 50%;
        border: 1px solid black;
        /* margin-top: 15%; */
        background-color: white;
        position: absolute;
        top: 15%;
        left: 25%;
        min-width: 600px;
        overflow: auto;
      }
      #message {
        width: 50%;
        height: 40px;
        border: 1px solid black;
        display: block;
        margin: auto;
        position: absolute;
        bottom: 100px;
        left: 25%;
        min-width: 600px;
        outline: none;
        font-size: 23px;
      }
      #send {
        width: 50%;
        height: 30px;
        border:1px solid black;
        display: block;
        margin: auto;
        position: absolute;
        bottom: 50px;
        left: 25%;
        margin-top: 10px;
        min-width: 600px;
        outline: none;
        font-size: 18px;
      }
      .name {
        font-size: 11px;
        position: relative;
        top: -15px;
        font-style: italic;
        color: red;
        margin: 0px;
      }

      .messageHolder {
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        padding: 5px;
      }
    }
    .mute {
      display: block;

      right: 0px;
      height: 100%;
      width: 40px;
      background-color: red;
    }
    </style>
  </head>
  <body>

    <div class = "schoolChat" id = "schoolChat">
      <div class = "chatWindow" id = "chatWindow">
        <div class = "<%=permissions%>" id = "outPut">
          <% texts.forEach(function(text) { %>
            <div class = "messageHolder">
              <p><strong><%=text.submittedBy%></strong>: <%=text.body%></p><div class = "name"><%=text.firstName%> <%=text.lastName%></div>
            </div>
          <% }); %>
        </div>
        <div class = "feedback" id = "feedback">

        </div>
      </div>
      <input type = "text" id = "message" name = "message" placeholder="message..."maxlength="128"/>
      <button id  = "send" name = "send">Send</button>
      <br>
      <br>

    </div>
    <div class = "back" style = "font-size: 40px; position: fixed; bottom: 15px; left: 10px;">
      <a id = "back" href = "/" style = "text-decoration:none; color:black">&#8592;</a>
    </div>

    <script>

      function muteFunction(text) {
        console.log(text.parentNode.childNodes[0].childNodes[0].innerHTML);
        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/chatroom";
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "mutedUser";
        input.value = text.parentNode.childNodes[0].childNodes[0].innerHTML;
        form.appendChild(input);
        document.body.appendChild(form);

        form.submit();
      }
      let socket = io.connect("https://pvstudents.ca", {secure: true, rejectUnauthorized: false});
      var message = document.getElementById("message");
      var btn = document.getElementById("send");
      var output = document.getElementById("outPut");
      // let back = document.getElementById("back");
      var feedbackTest = document.getElementById("feedback");
      // output.lastChild.scrollIntoView();
      let permissions = output.className;
      console.log(permissions);





      btn.addEventListener("click", function() {

        let info = {message:message.value, id:document.cookie.match(/sessionID=j%3A%22(.+?)%22/)[1]};
        if (message.value != "" && message.value != " " && permissions != "muted") {
          message.value  = "";
          socket.emit("chat", info);
        }
        message.focus();
        message.select();
      });

      message.addEventListener("keypress", function() {

        const key = event.keyCode;

        if (key === 13) {
          console.log("entered");
          let info = {message:message.value, id:document.cookie.match(/sessionID=j%3A%22(.+?)%22/)[1]};
          message.value  = "";
          if (permissions != "muted") {
            console.log("not muted 1");
            socket.emit("chat", info);
            socket.emit("typing", {id: document.cookie.match(/sessionID=j%3A%22(.+?)%22/)[1], typing: false});
          }
        }



        if (message.value != "" && message.value != " " && permissions != "muted") {
          console.log("not muted 2")
          socket.emit("typing", {id: document.cookie.match(/sessionID=j%3A%22(.+?)%22/)[1], typing: true});
        } else if (permissions != "muted"){
          socket.emit("typing", {id: document.cookie.match(/sessionID=j%3A%22(.+?)%22/)[1], typing: false});
        }
      });

      let currentTypers = [];
      socket.on("typing", function(data) {
        if (currentTypers.indexOf(data.username) > -1) {
          if (!data.typing) {

            currentTypers.splice(currentTypers.indexOf(data.username), 1);
            addTypeFunction();
          } else {

          }
        } else {
          currentTypers.push(data.username);

          addTypeFunction();
        }
      });

      function addTypeFunction() {
        feedbackTest.innerHTML = "";
        currentTypers.forEach(function(data) {
          feedbackTest.innerHTML += "<div class = 'typing' id  = '" + data + "'><i>" + data + " is typing a message...</i></div>";
        });

        if (currentTypers.length != 0) {
          feedbackTest.lastChild.scrollIntoView();
        }
      }



      socket.on("chat", function(data) {
        console.log(data);
        if (currentTypers.indexOf(data.username) > -1) {
          currentTypers.splice(currentTypers.indexOf(data.username), 1);
          addTypeFunction();
        } else {

        }
        if (permissions === "admin") {
          output.innerHTML += '<div class = "messageHolder"><p><strong>' + data.username + "</strong>: " + data.message + "</p><div class = 'name'>" + data.firstName + " " + data.lastName + "</div><div class = 'mute' onclick = 'muteFunction(this)'>mute</div></div>";
          output.lastChild.scrollIntoView();
        } else if (permissions === "user"){
          output.innerHTML += '<div class = "messageHolder"><p><strong>' + data.username + "</strong>: " + data.message + "</p><div class = 'name'>" + data.firstName + " " + data.lastName + "</div></div>";
          output.lastChild.scrollIntoView();
        } else if (permissions === "muted") {

        }

      });
    </script>
  </body>
</html>
