<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel = "shortcut icon" type = "image/x-icon" href = "public/images/favicon.ico" />
    <link rel = "shortcut icon" type = "image/ico" href = "public/images/favicon.ico" />
    <title>PVSS student website | Chatroom</title>
    <meta charset="utf-8" name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "manifest" href = "public/manifests/chatroom.json  " />

    <style>
    * {
      font-family: sans-serif;
      box-sizing: border-box;
    }
    html {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#f28e37, #f77d13, #f9e66b);
    }
    .schoolChat {
      width: 100%;
      height: 50%;
      /* border: 2px solid black; */
    }
    .chatWindow {
      width:100%;
      display: block;
      border-radius: 5px;
      margin:auto;
      overflow: auto;
      height: 100%;
    }
    #message {
      width: 100%;
      height: 40px;
      border: 1px solid black;
      outline: none;
      background-color: white;
      margin-top: 15px;
      font-size: 18px;
    }
    #send {
      width: 100%;
      height: 60px;
      margin-top: 15px;
      border: 1px solid black;
      background-color: #165dce;
      border-radius: 5px;
      font-size: 20px;
      color: white;
    }
    .name {
      font-size: 11px;
      position: relative;
      top: -15px;
      font-style: italic;
      color: red;
      margin: 0px;
    }

    .messageHolder {
      width: 95%;
      box-sizing: border-box;
      border-bottom: 1px solid black;
      display: block;
      margin: auto;
      padding: 5px;
      color: white;
      border-radius: 5px;
      background-color: #353538;
      margin-top: 5px;
    }
    .feeback {
      width: 100%;
      background-color: grey;
    }
    @media screen and (min-width: 768px) {
      .schoolChat {
        width : 50%;
        height: 50%;
      }
      .chatWindow {
        width: 50%;
        display: block;
        margin: auto;
        border-radius: 5px;
        height: 50%;
        border: 1px solid black;
        /* margin-top: 15%; */
        background-color: white;
        position: absolute;
        top: 15%;
        left: 25%;
        min-width: 600px;
        overflow: auto;
      }
      #message {
        width: 50%;
        height: 40px;
        border: 1px solid black;
        display: block;
        margin: auto;
        position: absolute;
        bottom: 100px;
        left: 25%;
        min-width: 600px;
        outline: none;
        font-size: 18px;
      }
      #send {
        width: 50%;
        height: 30px;
        border:1px solid black;
        display: block;
        margin: auto;
        position: absolute;
        bottom: 50px;
        left: 25%;
        margin-top: 10px;
        min-width: 600px;
        outline: none;
        font-size: 18px;
      }
      .name {
        font-size: 11px;
        position: relative;
        top: -15px;
        font-style: italic;
        color: red;
        margin: 0px;
      }

      .messageHolder {
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        padding: 5px;
      }
    }
    .mute {
      display: block;

      right: 0px;
      height: 100%;
      width: 40px;
      background-color: red;
    }
    </style>
  </head>
  <body>
    <div class = "schoolChat" id = "schoolChat">
      <div class = "chatWindow" id = "chatWindow">
        <div class = "<%=permissions%>" id = "outPut">
          <% if (texts.length === 0) { %>
            <div class = "messageHolder">
              <p><strong>Computer: </strong>It's very empty here!</p>
            </div>
          <% } else { %>
            <% texts.forEach(function(text) { %>
              <div class = "messageHolder">
                <p><strong><%=text.submittedBy%></strong>: <%=text.body%></p><div class = "name"><%=text.firstName%> <%=text.lastName%></div>
              </div>
            <% }); %>
          <% } %>
        </div>
        <div class = "feedback" id = "feedback">

        </div>
      </div>
      <input type = "text" id = "message" name = "message" placeholder="message..."maxlength="128"/>
      <button id  = "send" name = "send">Send</button>
      <br>
      <br>
    </div>
    <div class = "back" style = "font-size: 40px; position: fixed; bottom: 15px; left: 10px;">
      <a id = "back" href = "/" style = "text-decoration:none; color:black">&#8592;</a>
    </div>
  </body>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
  <script src = "public/js/chatroom.js"></script>
</html>
