<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "View your years schedule." />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Schedule</title>
    <script>

    </script>
    <style>
      * {
        font-family: sans-serif;
      }
      html {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        -webkit-text-size-adjust: 100%
      }
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
      .header {
        font-size: 35px;
        font-weight: bold;
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;

      }

      .time {
        width: 50px;
        font-size: 15px;
      }
      .Advisory {

      }
      .Lunch {

      }
      .Recess {

      }
      .A {

        background-color: #44AF69;
      }
      .B {

        background-color: #F8333C;
      }
      .C {

        background-color: #FCAB10;
      }
      .D {

        background-color: #2B9EB3;
      }
      .E {

        background-color: #DBD5B5;
      }
      .schedule {
        width: 700px;
        border: 2px solid black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: auto;
        margin-top: 25px;
      }
      .day {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
      .dayBlock {
        width: 100%;

        height: 100px;
        border: 1px solid black;
        text-align: center;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
      .class {
        font-size: 13px;
      }
      .spacer {
        flex-grow: 1;
      }
      .header2 {
        width: 100%;
        height: 30px;
        text-align: center;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
      @media screen and (max-width: 700px) {
        body {
          width: 700px;
        }
      }


    </style>
  </head>
  <body>
    <div style = "position: fixed; top: 3px; left: 15px; font-size: 40px; color: black; display: inline; z-index: 5000">
      <a id = "back" href = "/" style = "text-decoration:none;">&#8592;</a>
    </div>
    <div class = "header">Schedule</div>
    <% for (var j = 0; j < courses.length; j++) { %>
      <div class = "schedule">
        <div class = "day day1">
          <div class = "header2"><div class = "spacer"></div>Day 1<div class = "spacer"></div></div>
          <% for (var i = 0; i < courses[j]["day1"].length; i++) { %>
            <div class = "<%=courses[j]['day1'][i][0]%> dayBlock">
              <div class = "spacer"></div>
              <div class = "class"><%=courses[j]['day1'][i][1]%></div>
              <div class = "spacer"></div>
              <%=courses[j]['day1'][i][2]%>
              <div class = "spacer"></div>


              <%=(courses[j]['day1'][i][3]-1)%12+1%>:<%=courses[j]['day1'][i][4].toString().length === 1 ? "0" + courses[j]['day1'][i][4].toString() : courses[j]['day1'][i][4]%> - <%=(courses[j]['day1'][i][5]-1)%12+1%>:<%=courses[j]['day1'][i][6].toString().length === 1 ? "0" + courses[j]['day1'][i][6].toString() : courses[j]['day1'][i][6]%>
              <div class = "spacer"></div>
            </div>
          <% } %>
        </div>
        <div class = "day day2">
          <div class = "header2"><div class = "spacer"></div>Day 2<div class = "spacer"></div></div>
          <% for (var i = 0; i < courses[j]["day2"].length; i++) { %>
            <div class = "<%=courses[j]['day2'][i][0]%> dayBlock">
              <div class = "spacer"></div>
              <div class = "class"><%=courses[j]['day2'][i][1]%></div>
              <div class = "spacer"></div>
              <%=courses[j]['day2'][i][2]%>
              <div class = "spacer"></div>
              <%=(courses[j]['day2'][i][3]-1)%12+1%>:<%=courses[j]['day2'][i][4].toString().length === 1 ? "0" + courses[j]['day2'][i][4].toString() : courses[j]['day2'][i][4]%> - <%=(courses[j]['day2'][i][5]-1)%12+1%>:<%=courses[j]['day2'][i][6].toString().length === 1 ? "0" + courses[j]['day2'][i][6].toString() : courses[j]['day2'][i][6]%>
              <div class = "spacer"></div>
            </div>
          <% } %>
        </div>
        <div class = "day day3">
          <div class = "header2"><div class = "spacer"></div>Day 3<div class = "spacer"></div></div>
          <% for (var i = 0; i < courses[j]["day3"].length; i++) { %>
            <div class = "<%=courses[j]['day3'][i][0]%> dayBlock">
              <div class = "spacer"></div>
              <div class = "class"><%=courses[j]['day3'][i][1]%></div>
              <div class = "spacer"></div>
              <%=courses[j]['day3'][i][2]%>
              <div class = "spacer"></div>
              <%=(courses[j]['day3'][i][3]-1)%12+1%>:<%=courses[j]['day3'][i][4].toString().length === 1 ? "0" + courses[j]['day3'][i][4].toString() : courses[j]['day3'][i][4]%> - <%=(courses[j]['day3'][i][5]-1)%12+1%>:<%=courses[j]['day3'][i][6].toString().length === 1 ? "0" + courses[j]['day3'][i][6].toString() : courses[j]['day3'][i][6]%>
              <div class = "spacer"></div>
            </div>
          <% } %>
        </div>
        <div class = "day day4">
          <div class = "header2"><div class = "spacer"></div>Day 4<div class = "spacer"></div></div>
          <% for (var i = 0; i < courses[j]["day4"].length; i++) { %>
            <div class = "<%=courses[j]['day4'][i][0]%> dayBlock">
              <div class = "spacer"></div>
              <div class = "class"><%=courses[j]['day4'][i][1]%></div>
              <div class = "spacer"></div>
              <%=courses[j]['day4'][i][2]%>
              <div class = "spacer"></div>
              <%=(courses[j]['day4'][i][3]-1)%12+1%>:<%=courses[j]['day4'][i][4].toString().length === 1 ? "0" + courses[j]['day4'][i][4].toString() : courses[j]['day4'][i][4]%> - <%=(courses[j]['day4'][i][5]-1)%12+1%>:<%=courses[j]['day4'][i][6].toString().length === 1 ? "0" + courses[j]['day4'][i][6].toString() : courses[j]['day4'][i][6]%>
              <div class = "spacer"></div>
            </div>
          <% } %>
        </div>
        <div class = "day day5">
          <div class = "header2"><div class = "spacer"></div>Day 5<div class = "spacer"></div></div>
          <% for (var i = 0; i < courses[j]["day5"].length; i++) { %>
            <div class = "<%=courses[j]['day5'][i][0]%> dayBlock">
              <div class = "spacer"></div>
              <div class = "class"><%=courses[j]['day5'][i][1]%></div>
              <div class = "spacer"></div>
              <%=courses[j]['day5'][i][2]%>
              <div class = "spacer"></div>
              <%=(courses[j]['day5'][i][3]-1)%12+1%>:<%=courses[j]['day5'][i][4].toString().length === 1 ? "0" + courses[j]['day5'][i][4].toString() : courses[j]['day5'][i][4]%> - <%=(courses[j]['day5'][i][5]-1)%12+1%>:<%=courses[j]['day5'][i][6].toString().length === 1 ? "0" + courses[j]['day5'][i][6].toString() : courses[j]['day5'][i][6]%>
              <div class = "spacer"></div>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>
  </body>
</html>
