<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "View your years schedule." />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Schedule</title>
    <script>

    </script>
    <style>
      * {
        font-family: sans-serif;
      }
      html {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
      .header {
        font-size: 35px;
        font-weight: bold;
        display: block;
        text-align: center;
        border-bottom: 1px solid black;
        width: 600px;
      }
      .table {
        width: 600px;
        border-collapse: collapse;

        position: absolute;
      }
      .table td {
        border: 1px solid black;
        text-align: center;


      }
      .table th {
        height: 30px;
        border: 1px solid black;
        text-align: center;
        font-size: 13px;
        width: 100px;
      }
      .none {
        visibility:hidden;
        width: 30px;
        height: 30px;
      }
      .time {
        width: 50px;
        font-size: 15px;
      }
      .ta {
        height: 30px;
      }
      .lunch {
        height: 30px;
      }
      .a {
        height: 100px;
        width: 100px;
        background-color:#0061ff;
      }
      .b {
        height: 100px;
        width: 100px;
        background-color: #e22222;
      }
      .c {
        height: 100px;
        width: 100px;
        background-color: #fff423;
      }
      .d {
        height: 100px;
        width: 100px;
        background-color: #039e27;
      }
      .e {
        height: 100px;
        width: 100px;
        background-color: #7c1cbc;
      }
      @media screen and (min-width: 768px) {
        .table {
          margin-top: 100px;
          left: 50%;
          transform: translateX(-50%);
        }
        .header {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div style = "position: fixed; top: 3px; left: 15px; font-size: 40px; color: black; display: inline; z-index: 5000">
      <a id = "back" href = "/" style = "text-decoration:none;">&#8592;</a>
    </div>
    <div class = "header">Schedule</div>
    <table class = "table">
      <tr>
        <td class = 'none'></td>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
      <tr>
        <td class = "time">9:10<br>-<br>10:12</td>
        <td class = "a"><%=courses.A[0]%><br><br><%=courses.A[1]%></td>
        <td class = "e"><%=courses.E[0]%><br><br><%=courses.E[1]%></td>
        <td class = "d"><%=courses.D[0]%><br><br><%=courses.D[1]%></td>
        <td class = "b"><%=courses.B[0]%><br><br><%=courses.B[1]%></td>
        <td class = "d"><%=courses.D[0]%><br><br><%=courses.D[1]%></td>
      </tr>
      <tr>
        <td class = "time">10:15<br>-<br>11:17</td>
        <td class = "b"><%=courses.B[0]%><br><br><%=courses.B[1]%></td>
        <td class = "d"><%=courses.D[0]%><br><br><%=courses.D[1]%></td>
        <td class = "a"><%=courses.A[0]%><br><br><%=courses.A[1]%></td>
        <td class = "c"><%=courses.C[0]%><br><br><%=courses.C[1]%></td>
        <td class = "b"><%=courses.B[0]%><br><br><%=courses.B[1]%></td>
      </tr>
      <tr>
        <td  class = "taTime">11:19<br>-<br>11:29</td>
        <td class = "ta">TA</td>
        <td class = "ta">TA</td>
        <td class = "ta">TA</td>
        <td class = "ta">TA</td>
        <td class = "ta">TA</td>
      </tr>
      <tr>
        <td class = "time">11:29<br>-<br>12:31</td>
        <td class = "c"><%=courses.C[0]%><br><br><%=courses.C[1]%></td>
        <td class = "b"><%=courses.B[0]%><br><br><%=courses.B[1]%></td>
        <td class = "c"><%=courses.C[0]%><br><br><%=courses.C[1]%></td>
        <td class = "e"><%=courses.E[0]%><br><br><%=courses.E[1]%></td>
        <td class = "a"><%=courses.A[0]%><br><br><%=courses.A[1]%></td>
      </tr>
      <tr>
        <td  class = "taTime">12:32<br>-<br>1:15</td>
        <td class = "lunch">Lunch</td>
        <td class = "lunch">Lunch</td>
        <td class = "lunch">Lunch</td>
        <td class = "lunch">Lunch</td>
        <td class = "lunch">Lunch</td>
      </tr>
      <tr>
        <td class = "time">1:16<br>-<br>2:18</td>
        <td class = "d"><%=courses.D[0]%><br><br><%=courses.D[1]%></td>
        <td class = "c"><%=courses.C[0]%><br><br><%=courses.C[1]%></td>
        <td class = "b"><%=courses.B[0]%><br><br><%=courses.B[1]%></td>
        <td class = "a"><%=courses.A[0]%><br><br><%=courses.A[1]%></td>
        <td class = "e"><%=courses.E[0]%><br><br><%=courses.E[1]%></td>
      </tr>
      <tr>
        <td class = "time">2:21<br>-<br>3:23</td>
        <td class = "e"><%=courses.E[0]%><br><br><%=courses.E[1]%></td>
        <td class = "a"><%=courses.A[0]%><br><br><%=courses.A[1]%></td>
        <td class = "e"><%=courses.E[0]%><br><br><%=courses.E[1]%></td>
        <td class = "d"><%=courses.D[0]%><br><br><%=courses.D[1]%></td>
        <td class = "c"><%=courses.C[0]%><br><br><%=courses.C[1]%></td>
      </tr>

    </table>
  </body>
</html>
