<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "Tell us your suggestions here!" />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | Suggestions</title>
    <script>

    </script>
    <style>
      :root {
        --bg-color: <%=colours.bgColor%>;
        --info-color: <%=colours.infoColor%>;
        --button-color: <%=colours.buttonColor%>;
        --border-color: <%=colours.borderColor%>;
        --text-color: <%=colours.textColor%>;
      }
      @font-face {
        font-family: sansFont;
        src: url("/public/fonts/LANENAR_.ttf")
      }
      html {
        -webkit-text-size-adjust: 100%
      }
      textarea {
        width: 95%;
        height: 200px;
        border: 2px solid black;
        display: block;
        margin: auto;
        outline: none;
        margin-top: 50px;
      }
      body {
        margin: 0;
        background-color: var(--border-color);
        font-family: sansFont, sans-serif;
      }
      .submit {
        position: absolute;
        bottom: 50px;
        width: 80%;
        background-color: var(--button-color);
        left: 10%;
        height: 60px;
        border-radius: 10px;
        outline: none;
        -webkit-appearance: none;
        font-size: 25px;
      }

    </style>
  </head>
  <body>
    <div class = "back" style = "font-size: 40px; position: fixed; top: 10px; z-index: 20">
      <a href = "/" style = "text-decoration:none; color:blue">&#8592;</a>
    </div>
    <center>We appreciate your suggestions!</center>
    <br>
    <form method = "POST" action = "/suggestions">
      <textarea name = "body" maxlength="512">

      </textarea>
      <input type = "submit" class = 'submit'>
    </form>


 </body>
</html>
