<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <meta name = "description" content = "Browse the other courses you could take!" />
    <meta name = "theme-color" content = "#f77d13" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel = "manifest" href = "public/manifests/home.json  " />
    <title>PVSS student website | LC Schedule</title>
    <script>

    </script>
    <style>
      * {
        font-family: sans-serif;
      }

      .lcSchedule {
        width: 100%;
        height: 100%;
        min-width: 900px;
        min-height: 500px;
        border-collapse: collapse;
        display: table-block;
        margin: auto;
      }
      .lcSchedule td {
        border: 2px solid black;
        text-align: center;
      }
      .lcSchedule th {
        height: 60px;
        vertical-align: bottom;
        font-size: 20px;
      }
     </style>
  </head>
  <body>
    <div style = "position: fixed; top: 3px; left: 15px; font-size: 40px; color: black; display: inline; z-index: 5000">
      <a id = "back" href = "/" style = "text-decoration:none;">&#8592;</a>
    </div>
    <table class = "lcSchedule" id = "LCSchedule">
      <tr>
        <th></th>
        <th>Day 1</th>
        <th>Day 2</th>
        <th>Day 3</th>
        <th>Day 4</th>
        <th>Day 5</th>
      </tr>
      <tr>
        <td>9:10<br>-<br>10:12</td>
        <td><%-schedule["0"][0].join("<br>")%></td>
        <td><%-schedule["1"][0].join("<br>")%></td>
        <td><%-schedule["2"][0].join("<br>")%></td>
        <td><%-schedule["3"][0].join("<br>")%></td>
        <td><%-schedule["4"][0].join("<br>")%></td>
      </tr>
      <tr>
        <td>10:15 <br>-<br>11:17</td>
        <td><%-schedule["0"][1].join("<br>")%></td>
        <td><%-schedule["1"][1].join("<br>")%></td>
        <td><%-schedule["2"][1].join("<br>")%></td>
        <td><%-schedule["3"][1].join("<br>")%></td>
        <td><%-schedule["4"][1].join("<br>")%></td>
      </tr>
      <tr>
        <td>11:29<br>-<br>12:31</td>
        <td><%-schedule["0"][2].join("<br>")%></td>
        <td><%-schedule["1"][2].join("<br>")%></td>
        <td><%-schedule["2"][2].join("<br>")%></td>
        <td><%-schedule["3"][2].join("<br>")%></td>
        <td><%-schedule["4"][2].join("<br>")%></td>
      </tr>
      <tr>
        <td>1:16<br>-<br>2:18</td>
        <td><%-schedule["0"][3].join("<br>")%></td>
        <td><%-schedule["1"][3].join("<br>")%></td>
        <td><%-schedule["2"][3].join("<br>")%></td>
        <td><%-schedule["3"][3].join("<br>")%></td>
        <td><%-schedule["4"][3].join("<br>")%></td>
      </tr>
      <tr>
        <td>2:21<br>-<br>3:23</td>
        <td><%-schedule["0"][4].join("<br>")%></td>
        <td><%-schedule["1"][4].join("<br>")%></td>
        <td><%-schedule["2"][4].join("<br>")%></td>
        <td><%-schedule["3"][4].join("<br>")%></td>
        <td><%-schedule["4"][4].join("<br>")%></td>
      </tr>

    </table>
  </body>
</html>
